{% set generic = generics['masthead-accessibility'] %}
---
permalink: /{{ generic.title | slugifyMaltese }}/index.html
---
{% extends 'layouts/base.njk' %}

{% block head %}
	{% include "_generic_head.njk" %}
{% endblock %}

{% block content %}
	{% include "_generic.njk" %}
{% endblock %}
