---
layout: layouts/home.njk
templateClass: tmpl-post
pagination:
  data: stories
  size: 1
  alias: story
permalink: /{{ story.slug | slugifyMaltese }}/index.html
---
{% block head %}
	<title>{{ story.metaTitle or metadata.title }}</title>
	<meta content="{{ story.metaDescription or metadata.description }}" name="description">
	<meta property="og:image" content="{{ metadata.settings.imagesUrl }}/{{ story.socialImage }}">
{% endblock %}

{% block content %}
<article class="content {{ story.monthYear | slugify }}">
	<header>
		<h3><a href="/{{ story.monthYear | slugifyMaltese }}/">{{ story.monthYear | fixMonthMaltese }}</a></h5>
		<h1>{{ story.title | prettifyMaltese | safe }}</h1>
		<h2>
			{% if story.translator %}
				{{ story.author | prettifyMaltese | safe }} <span class="translator"><a href="/{{story.translator | slugify }}">{{ story.translator | prettifyMaltese | safe }}</a></span>
			{% else %}
				<a href="/{{story.author | slugify }}">{{ story.author | prettifyMaltese | safe }}</a>
			{% endif %}
		</h2>
	</header>
	<div class="container">
		<section id="grid-max-panel-left-top">
			{% for book in story.booksMentioned %}
				{% if loop.first %}<section class="reviewed">{% endif %}
				<p>
					<span class="title">{{ book.title }}</span>
					{% if book.author %}<span class="author"> ta’ {{ book.author }}</span>{% endif %}
					{% if book.translator %}<span class="translator"> ta' {{ book.translator }} (tr)</span>{% endif %}
					<span class="publisher">({{ book.publisherName }}, {{ book.publisherCity }} {{ book.publicationYear }})</span>
				</p>
				{% if loop.last %}</section>{% endif %}
			{% endfor %}
			{% if story.introduction %}
				<aside id="introduction">
					{{ story.introduction | restrictHtml | prettifyMaltese | safe }}
				</aside>
			{% endif %}
		</section>
		<section id="grid-max-panel-right-top">
			{% if story.podcastNote %}
				<aside id="podcastNote">
					{{ story.podcastNote | restrictHtml | prettifyMaltese | safe }}
				</aside>
			{% endif %}
		</section>
		<section id="grid-body">
			{% for epigraph in story.epigraphs %}
				{% if loop.first %}<section id="epigraphs" class="body-text">{% endif %}
					<figure class="epigraph">
						{{ epigraph.quotation | restrictHtml | prettifyMaltese | safe }}
						<figcaption>{{ epigraph.attribution | restrictHtml | prettifyMaltese | safe }}</figcaption>
					</figure>
				{% if loop.last %}</section>{% endif %}
			{% endfor %}
			{% if story.type == 'Poezija' %}
				<section id="body-text" class="body-text poetry">
					{{ story.body | prettifyMaltese | versify | safe }}
				</section>
			{% else %}
				<section id="body-text" class="body-text">
					{{ story.body | dropCapsifyAndSectionise | prettifyMaltese | endDotify | safe }}
				</section>
			{% endif %}
			{% if story.endnote %}
				<aside class="endnote body-text">
					{{ story.endnote | restrictHtml | prettifyMaltese | safe }}
				</aside>
			{% endif %}
		</section>
		<section id="grid-max-panel-left-bottom">
			{% if story.coda %}
				<aside id="coda">
					{{ story.coda | restrictHtml | prettifyMaltese | safe }}
				</aside>
			{% endif %}
				<aside id="publication-history">
					Dan ix-xogħol ġie ppubblikat għall-ewwel darba fl-1 ta' Mejju 2023, f'dan il-ġurnal.
				</aside>
		</section>
		<section id="grid-max-panel-right-bottom">
			{% if story.postscript %}
				<aside id="postscript">
					{{ story.postscript | restrictHtml | prettifyMaltese | safe }}
				</aside>
			{% endif %}
			{% if story.type == 'Esej' %}
				<aside id="letters-solicit">
					<p>Iktbilna dwar dan ix-xogħol fuq <u>l-indirizz</u> <a href="mailto:ittri@aphroconfuso.mt?subject={{ story.displayTitle }}" class="outline">ittri@aphroconfuso.mt</a>. Jekk jogħġbok inkludi ismek u fejn toqgħod. Kontribuzzjonijiet anonimi ma jiġux ikkunsidrati.</p>
				</aside>
			{% endif %}
		</section>
	</div>
	{% if story.letters %}
			<section class="letters">
				<!-- X -->
			</section>
	{% endif %}
</article>
<aside class="promos-container">
	{% for promo in story.endPromos %}
		<div class="promo-{{ loop.index }}">
			<a class="promo {{ promo.monthYear | slugify }}" href="/{{ promo.slug | slugifyMaltese }}/">
				<header>
					<h3>{{ promo.monthYear }}</h5>
					<h1>{{ promo.title | prettifyMaltese | safe }}</h1>
					<h2>
						{% if promo.translator %}
							{{ promo.author }} <span class="translator">{{ promo.translator }}</span>
						{% else %}
							{{ promo.author }}
						{% endif %}
					</h2>
				</header>
				<div class="body-text">
					<p>{{ promo.description | prettifyMaltese | safe }}</p>
				</div>
			</a>
		</div>
	{% endfor %}
</aside>
{% endblock %}
