---
pagination:
  addAllPagesToCollections: true
  alias: story
  data: stories
  size: 1
sitemapChangeFrequency: weekly
sitemapPriority: 1
permalink: /{{ story.slug }}/index.html
---
{% extends 'layouts/base.njk' %}

{% block head %}
	<title>{{ story.metaTitle or metadata.title | safe }} · Aphroconfuso</title>
	<meta content="{{ story.description }}" name="description">
	<meta property="og:image" content="{{ metadata.settings.imagesUrl + story.socialImage }}">
	{% if story.translator %}
		<meta name="author" content="{{ story.author }} (tr {{ story.translator }})">
	{% else %}
		<meta name="author" content="{{ story.author }}">
	{% endif %}
	{% if story.images.length %}
		<script src="/splide-4.1.3/dist/js/splide.min.js" defer></script>
		<link rel="stylesheet" href="/splide-4.1.3/dist/css/splide.min.css">
	{% endif %}
	{% if story.podcastUrl %}
		<script src="/amplitude/amplitude.min.js"></script>
	{% endif %}
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@aphroconfuso">
	<meta name="twitter:creator" content="@aphroconfuso">
	<meta name="twitter:title" content="{{ story.metaTitle or metadata.title }}">
	<meta name="twitter:description" content="{{ story.description }}">
	<meta name="twitter:image" content="{{ metadata.settings.imagesUrl + story.socialImage }}">
	<meta name="twitter:image:alt" content="{{ story.socialImageAlt }}">
{% endblock %}

{% block content %}
	<article class="content {{ story.monthYear | slugify }} {{ story.type | slugify }} story-{{ story.id }}">
		<header>
			<h4><a href="/{{ story.monthYear | slugifyMaltese }}/">{{ story.monthYear | fixMonthMaltese }}</a></h5>
			<h1>
				{{ story.title | prettifyMaltese | safe }}
				{% if story.isSequenceEpisode %}
					<span class="episodeNumber">#{{ story.sequenceEpisodeNumber }}</span>
				{% endif %}
			</h1>
			<h2>
			{% if story.translator %}
				{{ story.author | prettifyMaltese | safe }} <span class="translator"><a href="/{{story.translator | slugifyMaltese }}/">{{ story.translator | prettifyMaltese | safe }}</a></span>
			{% else %}
				<a href="/{{story.author | slugifyMaltese }}/">{{ story.author | prettifyMaltese | safe }}</a>
			{% endif %}
		</h2>
			{% for epigraph in story.epigraphs %}
				{% if loop.first %}<section id="epigraphs" class="body-text">{% endif %}
					<figure class="epigraph">
						{{ epigraph.quotation | restrictHtml | prettifyMaltese | safe }}
						{% if epigraph.attribution %}<figcaption>{{ epigraph.attribution | restrictHtml | prettifyMaltese | safe }}</figcaption>{% endif %}
					</figure>
				{% if loop.last %}</section>{% endif %}
			{% endfor %}
			{% if story.isSequenceEpisode %}
				<h3>{{ story.sequenceEpisodeTitle | prettifyMaltese | safe }}</h3>
			{% endif %}
		</header>
		<div class="container">
			<section id="grid-max-panel-left-top">
				{% for book in story.booksMentioned %}
					{% if loop.first %}<section class="reviewed">{% endif %}
					<p>
						<span class="title">{{ book.title }}</span>
						{% if book.author %}<span class="author"> ta’ {{ book.author }}</span>{% endif %}
						{% if book.translator %}<span class="translator"> {{ book.translator }}, tr.</span>{% endif %}
						<span class="publisher">({{ book.publisherName }}, {{ book.publisherCity }} {{ book.publicationYear }})</span>
					</p>
					{% if loop.last %}</section>{% endif %}
				{% endfor %}
				{% if story.introduction %}
					<aside id="introduction">
						{{ story.introduction | restrictHtml | prettifyMaltese | safe }}
					</aside>
				{% endif %}
			</section>
			<section id="grid-max-panel-right-top">
				{% if story.podcastNote and not story.podcastUrl %}
					<aside id="podcast-note">
						{{ story.podcastNote | restrictHtml | prettifyMaltese | safe }}
					</aside>
				{% endif %}
				{% if story.podcastUrl %}
					<aside id="podcast-note">
						<figure id="audio">
							<div id="player">
								<div class="control-container">
									<button class="amplitude-play-pause" amplitude-main-play-pause="true" id="play-pause">
								</div>
								<div id="range">
									<input type="range" id="range-input" class="amplitude-song-slider" step=".1">
									<progress class="amplitude-song-played-progress" amplitude-main-song-played-progress="true" id="song-played-progress"></progress>
								</div>
								<div class="time-container">
										{% if story.podcastLengthMinutes >= 60 %}<span class="amplitude-current-hours" amplitude-main-current-hours="true"></span>:{% endif %}<span class="amplitude-current-minutes" amplitude-main-current-minutes="true"></span>:<span class="amplitude-current-seconds" amplitude-main-current-seconds="true"></span>/{% if story.podcastLengthMinutes >= 60 %}<span class="amplitude-duration-hours" amplitude-main-duration-hours="true"></span>:{% endif %}<span class="amplitude-duration-minutes" amplitude-main-duration-minutes="true"></span>:<span class="amplitude-duration-seconds" amplitude-main-duration-seconds="true"></span>
								</div>
							</div>
							<figcaption>
								{% if story.useDefaultPodcastMessage %}
									<p>{{ story.translator or story.author | prettifyMaltese | safe }} {{ story.reads }} “{{ story.title | prettifyMaltese | safe }}”. {{ metadata.texts.podcastMessage | prettifyMaltese | safe }}</p>
								{% endif %}
								{% if story.podcastNote %}
									{{ story.podcastNote | restrictHtml | prettifyMaltese | safe }}
								{% endif %}
							</figcaption>
						</figure>
					</aside>
				{% endif %}
				{% if story.triggerWarning %}
					<section id="trigger-warning">
						<button id="trigger-warning-close" class="close">×</button>
						{{ story.triggerWarning | prettifyMaltese | safe }}
					</section>
				{% endif %}
			</section>
			<section id="grid-body">
				{% if story.type === 'Poezija' and not story.useProseStyling %}
					<section class="body-text">
						{{ story.body | prettifyMaltese | versify | safe }}
					</section>
				{% elif story.type === 'Djarju' %}
					<section class="body-text">
						{{ story.body | dropCapsifyAndSectionise(null, null, true) | prettifyMaltese | safe }}
					</section>
				{% else %}
					{% if story.imagesPositionText %}
						<section class="body-text{% if story.useSeparators %} separated{% endif %}">
							{{ story.body | dropCapsifyAndSectionise(story.imagesPositionText, 0, story.dontUseDropCaps) | prettifyMaltese | safe }}
						</section>
						{% set imageMode = 'regular' %}
						{% if story.slideshow or story.singleImage %}
							{% include "_slideshow.njk" %}
						{% endif %}
						<section class="body-text body-text-part-two{% if story.useSeparators %} separated{% endif %}">
							{{ story.body | dropCapsifyAndSectionise(story.imagesPositionText, 1, story.dontUseDropCaps) | prettifyMaltese | endDotify | safe }}
						</section>
					{% else %}
						<section class="body-text">
							{{ story.body | dropCapsifyAndSectionise(null, null, story.dontUseDropCaps) | prettifyMaltese | endDotify | safe }}
						</section>
					{% endif %}
				{% endif %}
				{% if story.endnote %}
					<section class="endnote body-text">
						{{ story.endnote | restrictHtml | prettifyMaltese | safe }}
					</section>
				{% endif %}
			</section>
			<section id="grid-max-panel-left-bottom">
				{% if story.coda %}
					<aside id="coda">
						{{ story.coda | restrictHtml | prettifyMaltese | safe }}
					</aside>
				{% endif %}
				<aside id="publication-history">
					{{ story.publicationHistory | restrictHtml | prettifyMaltese | safe }}
				</aside>
			</section>
			<section id="grid-max-panel-right-bottom">
				{% if story.postscript %}
					<aside id="postscript">
						{{ story.postscript | restrictHtml | prettifyMaltese | safe }}
					</aside>
				{% endif %}
				{% if story.type == 'Esej' %}
					<aside id="letters-solicit">
						<p>Iktbilna dwar dan ix-xogħol fuq <l-m>l-indirizz</l-m> <a href="mailto:ittri@aphroconfuso.mt?subject={{ story.displayTitle }}" class="outline">ittri@aphroconfuso.mt</a>. Jekk jogħġbok inkludi ismek u fejn toqgħod. Kontribuzzjonijiet anonimi ma jiġux ikkunsidrati.</p>
					</aside>
				{% endif %}
			</section>
		</div>
		{% if story.letters %}
				<section class="letters">
					<!-- X -->
				</section>
		{% endif %}
	</article>
	<aside class="promos-container" data-track-content data-content-name="Promos tal-qiegħ" data-content-piece="{{ story.title }}">
		{% set promoFrom = story.title %}
		{% set promos = story.endPromos %}
		{% set showEpisodeTitle = true %}
		{% include '_promo_list.njk' %}
	</aside>
	<script>
		wordcount = {{ story.body | wordcount }};
		podcastUrl = '{{ story.podcastUrl}}' || null;
	</script>
	{% if story.slideshow or story.singleImage %}
		{% set imageMode = 'lightbox' %}
		<aside id="lightbox"{% if story.singleImage %} class="single-image"{% endif %}>
			<div id="lightbox-container">
				<button id="lightbox-close" type="button" onclick="_paq.push(['trackEvent', 'Stampi', 'lightbox [×]', '{{ story.title }}']);">×</button>
					{% include "_slideshow.njk" %}
			</div>
		</aside>
	{% endif %}
{% endblock %}
