---
pagination:
  data: internationals
  size: 1
  alias: international
permalink: /{{ international.code }}/index.html
---
{% extends 'layouts/base.njk' %}

{% block head %}
	<title>{{ international.title }} · Aphroconfuso</title>
	<meta content="{{ metadata.description }}" name="description">
	<meta property="og:image" content="{{ metadata.settings.imagesUrl }}{{ metadata.settings.socialImage }}">
	{% for page in internationals %}
		<link rel="alternate" hreflang="{{ page.code }}" href="https://aphroconfuso.mt/{{ page.code }}/"/>
	{% endfor %}
{% endblock %}

{% block content %}
	<article class="generic" dir="{{ international.direction }}" lang="{{ international.code }}">
		<header>
			<ul>
				<li class="header-label">&nbsp;</li>
			</ul>
			<h1>{{ international.title }}</h1>
			<h2>&nbsp;</h2>
		</header>
		<div class="container">
			<section id="grid-body">
				<div class="generic-body-text separated">
					{{ international.body | prettifyMaltese | sectioniseOnly | safe }}
					{% for summary in international.summaries %}
						<div class="summary break">
							<h2>{{ summary.title }}</h2>
							{% if summary.type == 'Ktieb_stampat' and summary.promoImageMobile %}
								<div class="story-{{ summary.id }}">
									<div class="book-wrapper">
										{% set slide = summary.promoImageMobile.attributes.formats %}
										{% set slideMobile = slide %}
										{% set imageCrop = 'uncropped' %}
										{% include "_image.njk" %}
									</div>
								</div>
							{% endif %}
							{{ summary.rawText | prettifyMaltese | sectioniseOnly | safe }}
							{% if summary.downloads %}
								<ul>
									{% for download in summary.downloads %}
										<li>
											<a href="{{ download.url}}">{{ download.name }}</a> ({{ download.size }}Mb)
										</li>
									{% endfor %}
								</ul>
							{% endif %}
						</div>
					{% endfor %}
				</div>
			</section>
		</div>
	</article>
{% endblock %}
