---
permalink: /404.html
---
{% extends 'layouts/base.njk' %}

{% block head %}
<script>
	const redirectMap = {
		"bur-mgħeż": "/omar-nshea-bur-mgħeż/",
		"es-sidr": "/omar-nshea-es-sidr/",
		"kaos-u-poeżija": "/franco-bifo-berardi-karl-baldacchino-nifs-kaos-u-poezija/",
		"splużjonijiet": "/jimmy-grima-splużjonijiet/",
	};

	const currentPath = decodeURIComponent(window.location.pathname.replace(/^\/|\/$/g, ''));

	console.log('>>>', currentPath, redirectMap[currentPath]);
	if (redirectMap[currentPath]) {
		window.location.pathname = redirectMap[currentPath];
	}
</script>
<title>Aphroconfuso</title>
<meta content="{{ metadata.description }}" name="description">
<meta property="og:image" content="" {{ metadata.settings.imagesUrl }}{{ metadata.settings.socialImage }}">
{% endblock %}

{% block content %}
<article class="generic">
	<header>
		<ul>
			<li class="header-label">&nbsp;</li>
		</ul>
		<h1>404</h1>
		<h2>&nbsp;</h2>
	</header>
	<div class="container">
		<section id="grid-body" class="error">
			<figure>
				{% set imageHash = 'stop_tfisser_ieqaf_94a6ff3f14' %}
				<a href="/">
					<picture>
						<source media="(min-width: {{ metadata.settings.breakpoints.mobile }})" type="image/avif" srcset="
								{{ metadata.settings.imagesUrl }}twothirds_landscape_avif_{{ imageHash }}.avif 1x,
								{{ metadata.settings.imagesUrl }}twothirds_landscape_avif_x2_{{ imageHash }}.avif 2x,
								{{ metadata.settings.imagesUrl }}twothirds_landscape_avif_x3_{{ imageHash }}.avif 3x
							">
						<source media="(min-width: {{ metadata.settings.breakpoints.mobile }})" type="image/jpeg" srcset="
								{{ metadata.settings.imagesUrl }}twothirds_landscape_jpeg_{{ imageHash }}.jpg 1x,
								{{ metadata.settings.imagesUrl }}twothirds_landscape_jpeg_x2_{{ imageHash }}.jpg 2x,
								{{ metadata.settings.imagesUrl }}twothirds_landscape_jpeg_x3_{{ imageHash }}.jpg 3x
							">
						<source media="(min-width: 1px)" type="image/avif" srcset="
								{{ metadata.settings.imagesUrl }}square_avif_{{ imageHash }}.avif 1x,
								{{ metadata.settings.imagesUrl }}square_avif_x2_{{ imageHash }}.avif 2x,
								{{ metadata.settings.imagesUrl }}square_avif_x3_{{ imageHash }}.avif 3x
							">
						<source media="(min-width: 1px)" type="image/jpeg" srcset="
								{{ metadata.settings.imagesUrl }}square_jpeg_{{ imageHash }}.jpg 1x,
								{{ metadata.settings.imagesUrl }}square_jpeg_x2_{{ imageHash }}.jpg 2x,
								{{ metadata.settings.imagesUrl }}square_jpeg_x3_{{ imageHash }}.jpg 3x
							">
						<img src="{{ metadata.settings.imagesUrl }}large_jpeg_x3_{{ imageHash }}.jpg" alt="{{ metadata.texts.error404AltText }}">
					</picture>
				</a>
			</figure>
			<div class="generic-body-text">
				<p><a href="/">{{ metadata.texts.error404 | prettifyMaltese | safe }}</a></p>
			</div>
		</section>
	</div>
</article>
{% endblock %}
