---
pagination:
  data: stories
  size: 250
  alias: story
eleventyExcludeFromCollections: false
permalink: /abeċedarju/index.html
---
{% extends 'layouts/base.njk' %}

{% block head %}
	<title>Abeċedarju · Aphroconfuso</title>
{% endblock %}

{% block content %}
	<article>
		<header>
			<ul><li>&nbsp;</li></ul>
			<h1>Abeċedarju</h1>
			<h2></h2>
		</header>
		<div class="abecedaire">
			<section id="grid-body">
				<div class="body-text">
					<ol>
						{% for snippet in stories[0].abecedaire %}
							<li>
								<a class="promo promo-abecedaire {{ snippet.issueMonth | slugify }}" href="/{{ snippet.slug }}/" onclick="analytics(['trackEvent', 'Promo', 'minn: Abeċedarju', 'għal: {{ snippet.reportingTitle }}', {{ loop.index }}]);">
									<p class="blurb">{{ snippet.snippet | prettifyMaltese | simpleDropCapsify | safe }}</p>
									<p class="credit">— “{{ snippet.titleTruncated }}” ta’ {{ snippet.authorsString }}</p>
									<p class="credit credit-full">
										— “{{ snippet.title }}”<br>ta’ {{ snippet.authorsString }}
										{% if snippet.translator %}
											<span class="translator"> (tr {{ snippet.translator | safe }}</span>)
										{% endif %}
									</p>
								</a>
							</li>
						{% endfor %}
				</ol>
			</section>
		</div>
	</article>
	<script>
		reportingTitle = "Abeċedarju";
	</script>
{% endblock %}
