---
pagination:
  data: stories
  size: 250
  alias: story
permalink: /podcast/index.html
---
{% extends 'layouts/base.njk' %}

{% block head %}
	<title>{{ podcast.title }} · Aphroconfuso</title>
	<meta content="{{ metadata.description }}" name="description">
	<meta property="og:image" content="{{ metadata.settings.imagesUrl }}{{ metadata.settings.socialImage }}">
{% endblock %}

{% block content %}
	<article class="generic podcasts">
		<header>
			<ul><li class="header-label">&nbsp;</li></ul>
			<h1>{{ podcast.title }}</h1>
			<h2>&nbsp;</h2>
		</header>
		<div class="container">
			<section id="grid-max-panel-left-top">
				<!-- -->
			</section>
			<section id="grid-max-panel-right-top">
				<!-- X -->
			</section>
			<section id="grid-body">
				<div class="generic-body-text">
					{{ podcast.body | prettifyMaltese | safe }}
					{# <aside><p>{{ metadata.texts.podcastList | prettifyMaltese | safe}}</p></aside> #}
					{% set promoFrom = "Podcast" %}
					{% set promos = stories | selectattr("listablePodcast") %}
					{% set showEpisodeTitle = true %}
					{% set showLengths = true %}
					{% include "_promo_list.njk" %}

					<p>Tista’ tabbona fil-podcast fuq <a href="https://podcasts.apple.com/us/podcast/aphroconfuso/id1686567243">Apple Podcasts</a>, <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9mZWVkcy5hY2FzdC5jb20vcHVibGljL3Nob3dzL2FwaHJvY29uZnVzbw">Google Podcasts</a>, <a href="https://pca.st/podcast/af8c44c0-c823-013b-f432-0acc26574db2">Pocket Casts</a>, <a href="https://open.spotify.com/show/75Lt3UMvC1jE15SGrNFMww">Spotify</a>, jew billi tfittex “Aphroconfuso” fuq l-app li tuża. Tista’ wkoll iżżid dan l-<a href="https://feeds.acast.com/public/shows/aphroconfuso">RSS feed</a> fl-app tiegħek.</p>
					<p><input id="podcast-url" type="text" value="https://feeds.acast.com/public/shows/aphroconfuso"></p>
					<ul id="podcast-logos">
						<li>
							<a href="https://podcasts.apple.com/us/podcast/aphroconfuso/id1686567243" onclick="_paq.push(['trackEvent', 'Podcast', 'logo', 'Apple']);">
								<img src="/img/apple-podcasts-logo.png" width="120" height="120" alt="Logo tal-Apple Podcasts">
								<p>Apple Podcasts</p>
							</a>
						</li>
						<li>
							<a href="https://podcasts.google.com/feed/aHR0cHM6Ly9mZWVkcy5hY2FzdC5jb20vcHVibGljL3Nob3dzL2FwaHJvY29uZnVzbw" onclick="_paq.push(['trackEvent', 'Podcast', 'logo', 'Google']);">
								<img src="/img/google-podcasts-logo.png" width="120" height="120" alt="Logo tal-Google Podcasts">
								<p>Google Podcasts</p>
							</a>
						</li>
						<li>
							<a href="https://pca.st/podcast/af8c44c0-c823-013b-f432-0acc26574db2" onclick="_paq.push(['trackEvent', 'Podcast', 'logo', 'Pocket casts']);">
								<img src="/img/pocketcasts-logo.png" width="120" height="120" alt="Logo tal-Pocket Casts">
								<p>Pocket Casts</p>
							</a>
						</li>
						<li>
							<a href="https://open.spotify.com/show/75Lt3UMvC1jE15SGrNFMww" onclick="_paq.push(['trackEvent', 'Podcast', 'logo', 'Spotify']);">
								<img src="/img/spotify-logo.png" width="120" height="120" alt="Logo tal-iSpotify">
								<p>Spotify</p>
							</a>
						</li>
					</ul>
				</div>
			</section>
			<section id="grid-max-panel-left-bottom">
				<!-- X -->
			</section>
			<section id="grid-max-panel-right-bottom">
				<!-- X -->
			</section>
		</div>
	</article>
{% endblock %}
