---
pagination:
  data: stories
  size: 250
  alias: story
permalink: /podcast/index.html
---
{% extends 'layouts/base.njk' %}

{% block head %}
	<title>{{ podcast.title }} · Aphroconfuso</title>
	<meta content="{{ metadata.description }}" name="description">
	<meta property="og:image" content="{{ metadata.settings.imagesUrl }}{{ metadata.settings.socialImage }}">
{% endblock %}

{% block content %}
	<article class="generic podcasts">
		<header>
			<ul><li class="header-label">&nbsp;</li></ul>
			<h1>{{ podcast.title }}</h1>
			<h2>&nbsp;</h2>
		</header>
		<div class="container">
			<section id="grid-body">
				<div class="generic-body-text">
					{{ podcast.body | prettifyMaltese | safe }}
					{% set promoFrom = "Podcast" %}
					{% set promos = stories | selectattr("listablePodcast") %}
					{% set showEpisodeTitle = true %}
					{% set showLengths = true %}
					{% include "_promo_list.njk" %}
					{% set promos = stories | selectattr("podcastLength") | rejectattr("listablePodcast") %}
					{% set showEpisodeTitle = true %}
					{% set showLengths = true %}
					{% include "_promo_list.njk" %}
					{% include "_podcast_buttons.njk" %}
				</div>
			</section>
		</div>
	</article>
	<script>
		reportingTitle = "{{ podcast.title }}";
	</script>
{% endblock %}
