---
permalink: /index.html
---
{% extends 'layouts/base.njk' %}
{% block head %}
	<title>Aphroconfuso</title>
	<meta content="{{ metadata.description }}" name="description">
	<meta property="og:image" content="{{ metadata.settings.imagesUrl }}{{ metadata.settings.socialImage }}">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@aphroconfuso">
	<meta name="twitter:creator" content="@aphroconfuso">
	<meta name="twitter:title" content="Aphroconfuso">
	<meta name="twitter:description" content="ġurnal letterarju bil-Malti">
	<meta name="twitter:image" content="{{ metadata.settings.imagesUrl }}{{ metadata.settings.socialImage }}">
	<meta name="twitter:image:alt" content="ġurnal letterarju">
{% endblock %}

{% block content %}
	<article class="home {{ homepage.monthYear | slugify }}">
		<div class="{{ homepage.layout | slugify }}">
			<a class="ga-editorial editorial" href="/{{ homepage.monthYear | fixMonthMaltese | slugifyMaltese }}/">
				<section class="generic-body-text">
					<div class="text-container">
						<p>
							<span class="editorial-month-year">{{ homepage.monthYear }}</span> {{ homepage.editorial | prettifyMaltese | safe }}
						</p>
					</div>
				</section>
			</a>
			<div class="ga-newsletter newsletter-container">
				<section id="form" data-track-content data-content-name="Homepage" data-content-piece="formola">
					<iframe src="https://newsletter.aphroconfuso.mt/subscription/form#99337A|#f6f6f0|0|442093344ewr" scrolling="no" title="Abbona fin-newsletter"></iframe>
				</section>
			</div>
			<a href="/podcast/" class="ga-podcast" onclick="_paq.push(['trackEvent', 'Promo', 'minn: Homepage', 'għal: Podcast']);">
				<figure>
					<picture>
						<source media="(min-width: 1px)" type="image/webp" srcset="
							/img/aphroconfuso-podcast-promo-16-9-x1.webp 1x,
							/img/aphroconfuso-podcast-promo-16-9-x15.webp 1.5x,
							/img/aphroconfuso-podcast-promo-16-9-x2.webp 2x,
							/img/aphroconfuso-podcast-promo-16-9-x3.webp 3x
						">
						<img
							width="100%"
							type="image/png"
							src="/img/aphroconfuso-podcast-promo-16-9-x15.png"
							alt="Logo tal-podcast ta' Aphroconfuso"
						>
					</picture>
				</figure>
			</a>
			{% for promo in homepage.promos %}
				{% if promo.sequenceEpisodeTitle %}{% set isEpisode = ' is-episode' %}{% else %}{% set isEpisode = '' %}{% endif %}
				<div class="ga-{{ loop.index }}">
					<a class="{{ promo.monthYear | slugify }} promo promo-plain promo-{{ promo.type | slugify }} story-{{ promo.id }}{{ isEpisode }}" href="/{{ promo.slug | slugifyMaltese }}/" onclick="_paq.push(['trackEvent', 'Promo', 'minn: Homepage', 'għal: {{ promo.reportingTitle | escapeQuote }}', {{ loop.index }}]);">
						{% include "_promo_header.njk" %}
						<div class="{{ promo.cssClass }}">
							<p>{{ promo.description | prettifyMaltese | safe }}</p>
						</div>
					</a>
				</div>
			{% endfor %}
			{% for promo in homepage.imagePromos %}
				{% if promo.sequenceEpisodeTitle %}{% set isEpisode = ' is-episode' %}{% else %}{% set isEpisode = '' %}{% endif %}
				<div class="ga-image-{{ loop.index }}">
					<a class="{{ promo.monthYear | slugify }} promo promo-picture-1 story-{{ promo.id }}{{ isEpisode }}" href="/{{ promo.slug | slugifyMaltese }}/" onclick="_paq.push(['trackEvent', 'Promo', 'minn: Homepage', 'għal: {{ promo.reportingTitle | escapeQuote }}', {{ loop.index }}]);">
						{% set showEpisodeTitle = true %}
						{% include "_promo_header.njk" %}
						{% set imageMode = 'promo' %}
						{% set imageCrop = promo.imageCrop or 'landscape' %}
						{% if promo.image %}
							{% set slide = promo.image %}
							{% set slideMobile = promo.imageMobile %}
							{% include "_image.njk" %}
						{% endif %}
						<div class="{{ promo.cssClass }}">
							{% if promo.type === 'Djarju' or (showEpisodeTitle and promo.sequenceEpisodeTitle) %}
								<header class="hide-laptop">
									<h3>{{ promo.sequenceEpisodeTitle | prettifyMaltese | safe }}</h3>
								</header>
							{% endif %}
							<p>{{ promo.description | prettifyMaltese | versifyDescription | safe }}</p>
						</div>
					</a>
				</div>
			{% endfor %}
			{% for promo in homepage.poetryPromos %}
				<div class="ga-poem-{{ loop.index }}">
					<a class="{{ promo.monthYear | slugify }} promo promo-poetry story-{{ promo.id }}" href="/{{ promo.slug | slugifyMaltese }}/" onclick="_paq.push(['trackEvent', 'Promo', 'minn: Homepage', 'għal: {{ promo.reportingTitle | escapeQuote }}', {{ loop.index }}]);">
						{% include "_promo_header.njk" %}
						{% if promo.text %}
							<div class="{{ promo.cssClass }}">
								<p>{{ promo.text | prettifyMaltese | safe }}</p>
							</div>
						{% else %}
							<div class="{{ promo.cssClass }}">
								<p>{{ promo.description | prettifyMaltese | versifyDescription | safe }}</p>
							</div>
						{% endif %}
					</a>
				</div>
			{% endfor %}
			<div class="ga-diary">
				{% for promo in homepage.diaryEntries %}
					<a class="{{ promo.monthYear | slugify }} promo promo-diary story-{{ promo.id }}" href="/{{ promo.slug | slugifyMaltese }}/" onclick="_paq.push(['trackEvent', 'Promo', 'minn: Homepage', 'għal: {{ promo.reportingTitle | escapeQuote }}', {{ loop.index }}]);">
						{% include "_promo_header.njk" %}
						<div class="{{ promo.cssClass }}">
							<p>{{ promo.description | prettifyMaltese | safe }}</p>
						</div>
					</a>
				{% endfor %}
			</div>
		</div>
	</article>
{% endblock %}
