---
permalink: /index.html
---
{% extends 'layouts/base.njk' %}
{% block head %}
	<title>Aphroconfuso</title>
	<meta content="{{ metadata.description }}" name="description">
	<meta property="og:image" content="{{ metadata.settings.imagesUrl }}{{ metadata.settings.socialImage }}">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@aphroconfuso">
	<meta name="twitter:creator" content="@aphroconfuso">
	<meta name="twitter:title" content="Aphroconfuso">
	<meta name="twitter:description" content="ġurnal letterarju bil-Malti">
	<meta name="twitter:image" content="{{ metadata.settings.imagesUrl }}{{ metadata.settings.socialImage }}">
	<meta name="twitter:image:alt" content="ġurnal letterarju">
{% endblock %}

{% block content %}
	<article class="home {{ homepage.issueMonth | slugify }}">
		<div class="{{ homepage.layout | slugify }}">
			<a class="ga-editorial editorial" href="/{{ homepage.issueMonthYear | fixMonthMaltese | slugifyMaltese }}/">
				<section class="generic-body-text">
					<div class="text-container">
						<p class="editorial-month">{{ homepage.issueMonthYear }}</p>
						{{ homepage.editorial | prettifyMaltese | safe }}
					</div>
				</section>
			</a>
			<div class="ga-newsletter {{ homepage.issueMonth | slugify }} newsletter-container">
				<section id="form" data-track-content data-content-name="Homepage" data-content-piece="formola">
					<iframe src="https://aphroconfuso.mt/newsletter-redirect/subscription/form#regular|{{ homepage.complementaryMonthColour }}|#f6f6f0|0|442093344ewr" scrolling="no" title="Abbona fin-newsletter"></iframe>
				</section>
			</div>
			<a href="/podcast/" class="ga-podcast" onclick="analytics(['trackEvent', 'Promo', 'minn: Homepage', 'għal: Podcast']);">
				<figure>
					<picture>
						<source media="(min-width: 1px)" type="image/webp" srcset="
							/img/aphroconfuso-podcast-promo-16-9-x1.webp 1x,
							/img/aphroconfuso-podcast-promo-16-9-x15.webp 1.5x,
							/img/aphroconfuso-podcast-promo-16-9-x2.webp 2x,
							/img/aphroconfuso-podcast-promo-16-9-x3.webp 3x
						">
						<img
							width="100%"
							type="image/png"
							src="/img/aphroconfuso-podcast-promo-16-9-x15.png"
							alt="Logo tal-podcast ta' Aphroconfuso"
						>
					</picture>
				</figure>
			</a>
			{% for promo in homepage.promos.concat(stories[0].promotableStoriesHome) | rejectattr("isTypeTerm") %}
				{% set showEpisodeTitle = true %}
				{% if promo.sequenceEpisodeTitle %}{% set isEpisode = ' is-episode' %}
				{% else %}{% set isEpisode = '' %}
				{% endif %}
				<div class="ga-{{ loop.index }}">
					<a class="{{ promo.issueMonth | slugify }} promo promo-plain promo-{{ promo.type | slugify }} story-{{ promo.id }}{{ isEpisode }}" href="/{{ promo.slug | slugifyMaltese }}/" onclick="analytics(['trackEvent', 'Promo', 'minn: Homepage', 'għal: {{ promo.reportingTitle | escapeQuote }}', {{ loop.index }}]);">
						{% set omitEpisodeNumber = true %}
						{# {% if loop.first %}{% set showEpisodeTitle = true %}{% else %}{% set showEpisodeTitle = false %}{% endif %} #}
						{% include "_promo_header.njk" %}
						<div class="{{ promo.cssClass }}">
							<p>{{ promo.description | prettifyMaltese | safe }}</p>
						</div>
					</a>
					{% include '_promo_aside.njk' %}
				</div>
			{% endfor %}

			<div class="ga-terms">
				<nav class="category-menu">
					<li class="header">
						<a href="/il-kliem-fit-teorija/">Il-Kliem fit-Teorija</a>
					</li>
					{% for item in stories | selectattr('listableTerm') | sort(false, false, 'sortTitle') %}
						<li>
							<a href="/{{ item.slug }}/">{{ item.title }}</a>
							{% if not loop.last %}, {% endif %}
						</li>
					{% endfor %}
				</nav>

				<div class="term-promos">
					{% for promo in homepage.promos | selectattr("isTypeTerm") %}
						<a class="{{ promo.issueMonth | slugify }} promo promo-plain promo-{{ promo.type | slugify }} story-{{ promo.id }}{{ isEpisode }}" href="/{{ promo.slug | slugifyMaltese }}/" onclick="analytics(['trackEvent', 'Promo', 'minn: Homepage', 'għal: {{ promo.reportingTitle | escapeQuote }}', {{ loop.index }}]);">
							{% set omitEpisodeNumber = true %}
							{% include "_promo_header.njk" %}
							<div class="{{ promo.cssClass }}">
								<p>{{ promo.description | prettifyMaltese | safe }}</p>
							</div>
						</a>
						{% include '_promo_aside.njk' %}
					{% endfor %}
				</div>
			</div>

			{% for promo in homepage.imagePromos %}
				{% if promo.sequenceEpisodeTitle %}{% set isEpisode = ' is-episode' %}
				{% else %}{% set isEpisode = '' %}
				{% endif %}
				<div class="ga-image-{{ loop.index }}">
					<a class="{{ promo.issueMonth | slugify }} promo promo-picture-1 story-{{ promo.id }}{{ isEpisode }}" href="/{{ promo.slug | slugifyMaltese }}/" onclick="analytics(['trackEvent', 'Promo', 'minn: Homepage', 'għal: {{ promo.reportingTitle | escapeQuote }}', {{ loop.index }}]);">
						{% set showEpisodeTitle = true %}
						{% set omitEpisodeNumber = true %}
						{% include "_promo_header.njk" %}
						{% set imageMode = 'promo' %}
						{% set imageCrop = 'landscape' %}
						{% if promo.image %}
							{% set slide = promo.image %}
							{% set slideMobile = promo.imageMobile %}
							{% include "_image.njk" %}
						{% endif %}
						<div class="{{ promo.cssClass }}">
							<p{% if promo.blurbLines %} class="clamp-{{ promo.blurbLines }}"{% endif %}>{{ promo.description | prettifyMaltese | safe }}</p>
						</div>
					</a>
					{% include '_promo_aside.njk' %}
				</div>
			{% endfor %}

			{% for promo in homepage.poetryPromos %}
				<div class="ga-poem-{{ loop.index }}">
					<a class="{{ promo.issueMonth | slugify }} promo promo-poetry story-{{ promo.id }}" href="/{{ promo.slug | slugifyMaltese }}/" onclick="analytics(['trackEvent', 'Promo', 'minn: Homepage', 'għal: {{ promo.reportingTitle | escapeQuote }}', {{ loop.index }}]);">
						{% include "_promo_header.njk" %}
						<div class="{{ promo.cssClass }}">
							<p{% if promo.blurbLines %} class="clamp-{{ promo.blurbLines }}"{% endif %}>
								{% if promo.text %}
									{{ promo.text | prettifyMaltese | safe }}
								{% else %}
									{{ promo.description | prettifyMaltese | versifyDescription | safe }}</p>
							{% endif %}
						</p>
					</div>
				</a>
			</div>
		{% endfor %}

		<div class="ga-diary">
			<nav class="category-menu">
				<li class="header">
					<a href="/djarju/">djarju</a>
				</li>
				{% for item in sequences | selectattr('isDiary') | sort(false, false, 'sortBy') %}
					<li>
						<a href="/{{ item.slug }}/">{{ item.authorsString }}</a>
						{% if not loop.last %}, {% endif %}
					</li>
				{% endfor %}
			</nav>
			<ul>
				{% for promo in homepage.diaryEntries %}
					<li>
						<a class="{{ promo.issueMonth | slugify }} promo promo-diary story-{{ promo.id }}" href="/{{ promo.slug | slugifyMaltese }}/" onclick="analytics(['trackEvent', 'Promo', 'minn: Homepage', 'għal: {{ promo.reportingTitle | escapeQuote }}', {{ loop.index }}]);">
							{% set omitEpisodeNumber = true %}
							{% include "_promo_header.njk" %}
							<div class="{{ promo.cssClass }}">
								<p{% if promo.blurbLines %} class="clamp-{{ promo.blurbLines }}"{% endif %}>{{ promo.description | prettifyMaltese | safe }}</p>
							</div>
						</a>
						{% include '_promo_aside.njk' %}
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="ga-book-image-promo">
			{% set promosPublished = stories | selectattr("bookPublished") | sort(true, false, "dateTimePublication") %}
			{% set promos = promosPublished.slice(0, 1) %}
			{% set omitAside = true %}
			{% include "_promo_list.njk" %}
			{# % set bookPromoId = promos[0].id % #}
		</div>
		<aside class="ga-books books-list">
			{% include '_our_books_list.njk' %}
		</aside>
	</div>
</article>
<script>
	reportingTitle = "Homepage";
</script>
{% endblock %}
