---
layout: layouts/home.njk
templateClass: tmpl-post
eleventyNavigation:
  key: Homepage
  order: 1
permalink: /index.html
---
{% block content %}
	<main>
		<article class="home">
			<div class="home-grid-2">
				{% for promo in homepage.promos %}
						<div class="ga{{ loop.index }}">
					{% if promo.images %}
						<a class="promo promo-picture-{{ loop.index }} {{ promo.monthYear | slugify }}" href="/{{ promo.slug | slugifyMaltese }}/">
					{% else %}
						<a class="promo promo-{{ loop.index }} {{ promo.monthYear | slugify }}" href="/{{ promo.slug | slugifyMaltese }}/">
					{% endif %}
							<header>
								<h5>{{ promo.monthYear }}</h5>
								<h1>{{ promo.title }}</h1>
								<h2>
									{% if promo.translator %}
										{{ promo.author }} <span class="translator">{{ promo.translator }}</span>
									{% else %}
										{{ promo.author }}
									{% endif %}
								</h2>
							</header>
							{% if promo.images %}
								<figure>
									<img src="https://stampi.aphroconfuso.mt/{{ promo.images.large.hash }}{{ promo.images.large.ext }}">
								</figure>
							{% endif %}
							<div class="{{ promo.cssClass }}">
								{% if promo.type === 'Poezija' %}
									{{ promo.description | prettifyMaltese | versifyDescriptionn | safe }}
								{% else %}
									<p>{{ promo.description | prettifyMaltese | safe }}</p>
								{% endif %}
						</div>
						</a>
					</div>
				{% endfor %}
			</div>
		</article>
	</main>
{% endblock %}
