<footer data-track-content data-content-name="Footer" data-content-piece="{{ page.url | semiDeSlugify }}">
	<nav class="footer-content">
		<menu id="housekeeping">
			<li class="header">Dwarna</li>
			<li><a href="/kolofon/">Kolofon</a></li>
			<li><a href="/proċess-editorjali/">Proċess</a></li>
			<li><a href="/gwida-tal-istil/">Gwida tal-istil</a></li>
			<li><a href="/cookies/">Cookies</a></li>
			<li><a href="/privatezza/">Privatezza</a></li>
			<li><a href="/aċċessibbiltà/">Aċċessibbiltà</a></li>
			<li><a href="/podcast/">Podcast</a></li>
			<li><a href="/newsletter/">Newsletter</a></li>
			<li class="hide-tablet"><a href="/drittijiet/">Drittijiet</a></li>
		</menu>
		<menu id="media">
			<li class="header">Midja</li>
			<li><a href="/ar/" class="arabic">العربية</a></li>
			<li><a href="/ca/">Català</a></li>
			<li><a href="/de/">Deutsch</a></li>
			<li><a href="/en/">English</a></li>
			<li><a href="/es/">Español</a></li>
			<li><a href="/fr/">Français</a></li>
			<li><a href="/it/">Italiano</a></li>
			<li><a href="/nl/">Nederlands</a></li>
			<li class="hide-tablet"><a href="/ro/">Română</a></li>
		</menu>
		<menu id="socials">
			<li class="header">Segwina</li>
			<li><a href="https://facebook.com/aphroconfuso">Facebook</a></li>
			<li><a href="https://instagram.com/aphroconfuso">Instagram</a></li>
			{# <li><a href="https://twitter.com/aphroconfuso">Twitter</a></li> #}
			<li><a href="https://mastodon.world/@aphroconfuso" rel="me">Mastodon</a></li>
			<li><a href="https://aphroconfuso.bsky.social/">Bluesky</a></li>
			<li><a href="https://youtube.com/@aphroconfuso">Youtube</a></li>
			<li><a href="https://open.spotify.com/user/31rly4s75gfxs6li6bcxc5bqlgza">Spotify</a></li>
		</menu>
		<menu id="podcast">
			<li class="header">Podcast</li>
			<li><a href="https://podcasts.apple.com/us/podcast/aphroconfuso/id1686567243">Apple</a></li>
			{# <li><a href="https://pca.st/podcast/af8c44c0-c823-013b-f432-0acc26574db2">Pocket Casts</a></li> #}
			<li><a href="https://feeds.acast.com/public/shows/aphroconfuso">RSS feed</a></li>
			<li><a href="https://open.spotify.com/show/75Lt3UMvC1jE15SGrNFMww">Spotify</a></li>
			{# <li><a href="https://www.youtube.com/playlist?list=PLvRbv0Lp0vDvHim7kdh7Ac8l97ePgSmUI&playnext=1&index=1">Youtube</a></li> #}
		</menu>
		<div id="logotype-container">
			<a href="/"><img src="/img/logotype.svg" class="logotype" alt="logo: Aphroconfuso" /></a>
		</div>
		<div id="email"><a href="mailto:l-edituri@aphroconfuso.mt" class="email">l-edituri@aphroconfuso.mt</a></div>
		<div id="copyright"><a href="/drittijiet/" class="copyright">&copy; 2023-2024 Aphroconfuso et al</a></div>
		<div id="qrcode"><img src="{{ page.url | qrCodePng }}" width="180" height="180" alt="QR code" /></div>
		<div id="url">{{ metadata.url + page.url }}</div>
	</nav>
</footer>
