<article class="generic">
	<header>
		<h3>&nbsp;</h5>
		<h1>{{ generic.title }}</h1>
		<h2>&nbsp;</h2>
	</header>
	<div class="container">
		<section id="grid-max-panel-left-top">
			<!-- -->
		</section>
		<section id="grid-max-panel-right-top">
			<!-- X -->
		</section>
		<section id="grid-body">
			<div class="generic-body-text">{{ generic.body | prettifyMaltese | safe }}</div>
		</section>
		<section id="grid-max-panel-left-bottom">
			<!-- X -->
		</section>
		<section id="grid-max-panel-right-bottom">
			<!-- X -->
		</section>
	</div>
</article>
