<title>{{ generic.title }} · Aphroconfuso</title>
<meta content="{{ metadata.description }}" name="description">
<meta property="og:image" content=""{{ metadata.settings.imagesUrl }}{{ metadata.settings.socialImage }}">
