<article class="generic" data-pagefind-body>
	<header>
		<ul><li class="header-label">&nbsp;</li></ul>
		<h1 data-pagefind-weight="6">{{ generic.title }}</h1>
		<h2>&nbsp;</h2>
	</header>
	<div class="container-generic">
		<section id="grid-body" data-pagefind-weight="3">
			<div class="generic-body-text">{{ generic.body | prettifyMaltese | safe }}</div>
		</section>
		<section id="grid-max-panel-left-top">
			{% include "_menu_generic.njk" %}
		</section>
	</div>
</article>
