<aside class="sponsors">
	<img src="/img/sponsors/acm-logo-col.png" width="120px">
	{{ generics['manwal-sponsor-acm'].body | prettifyMaltese | safe }}
	<img src="/img/sponsors/aps-logo-col.png" width="180px">
	{{ generics['manwal-sponsor-aps'].body | prettifyMaltese | safe }}
</aside>
