<aside class="sponsors">
	<div class="acm-logo">
		<a href="https://artscouncilmalta.gov.mt/funding-and-grants/investment-in-cultural-organisations-malta/">
			<img src="/img/sponsors/acm-logo-col.png">
		</a>
	</div>
	<div class="aps-logo">
		<a href="https://www.apsbank.com.mt/community-engagement/">
			<img src="/img/sponsors/aps-logo-col.png">
		</a>
	</div>
	<div class="text">{{ generics['manwal-sponsors'].body | prettifyMaltese | safe }}</div>
</aside>
