<section class="generic-menu contributors-menu">
	{% for item in contributors %}
		{% if loop.first %}<ul>{% endif %}
			{% if '/' + item.slug + '/' === page.url %}
				<li class="active">{{ item.name }}</li>
			{% else %}
				<li><a href="/{{ item.slug }}/">{{ item.name }}</a></li>
			{% endif %}
		{% if loop.last %}</ul>{% endif %}
	{% endfor %}
</section>
