<aside class="ga-books books-list end-promos">
	<nav class="category-menu">
		<li class="header">
			<a href="/kotba/">Il-Kotba ta’ Aphroconfuso</a>
		</li>
	</nav>
	{% set promosPublished = stories | selectattr("bookPublished") | sort(false, false, "dateTimePublication") %}
	{% set promosPrePublished = stories | selectattr("bookPreRelease") | sort(false, false, "dateTimePublication") %}
	{% set promos = promosPublished
		.concat(promosPrePublished)
		.slice(0, 6) %}
	{% set omitAside = true %}
	{% include "_promo_list.njk" %}
</aside>
