<nav class="category-menu">
	<li class="header">
		<a href="/kotba/">Il-Kotba ta’ Aphroconfuso</a>
	</li>
</nav>
{% set promos = stories | selectattr("isBook") | shuffleArray(7, 2) %}
{% set omitAside = true %}
{% include "_promo_list.njk" %}
