<figure class="audio{% if player.highlight %} highlighted{% endif %} {{ player.monthYear | slugify }} {{ player.type }}">
	<div class="player" id="player-{{ playerIndex }}">
		<audio id="audio-{{ playerIndex }}">
			<source src="{{ player.url }}" type="audio/mpeg">
		</audio>
	</div>
		{% if player.useDefaultPodcastMessage or player.podcastNote %}
			<figcaption>
				{% if player.podcastNote %}
					{{ player.podcastNote | restrictHtml | prettifyMaltese | safe }}
				{% elif player.type !== 'Poddata' and player.useDefaultPodcastMessage %}
					<p>
						{{ player.authorName | prettifyMaltese | safe }} {{ player.reads }} “{{ player.title | prettifyMaltese | safe }}”.
					</p>
				{% endif %}
			</figcaption>
		{% endif %}
</figure>
