<p>Tista’ tabbona fil-podcast fuq <a href="https://podcasts.apple.com/us/podcast/aphroconfuso/id1686567243">Apple Podcasts</a>,<a href="https://www.youtube.com/playlist?list=PLvRbv0Lp0vDvHim7kdh7Ac8l97ePgSmUI&playnext=1&index=1">Youtube</a>, <a href="https://pca.st/podcast/af8c44c0-c823-013b-f432-0acc26574db2">Pocket Casts</a>, <a href="https://open.spotify.com/show/75Lt3UMvC1jE15SGrNFMww">Spotify</a>, jew billi tfittex “Aphroconfuso” fuq l-app li tuża. Tista’ wkoll iżżid dan l-<a href="https://feeds.acast.com/public/shows/aphroconfuso">RSS feed</a> fl-app tiegħek.</p>
<p><input id="podcast-url" type="text" value="https://feeds.acast.com/public/shows/aphroconfuso"></p>
<ul id="podcast-logos">
	<li>
		<a href="https://podcasts.apple.com/us/podcast/aphroconfuso/id1686567243" onclick="analytics(['trackEvent', 'Podcast', 'logo', 'Apple']);">
			<img src="/img/apple-podcasts-logo.png" width="120" height="120" alt="Logo tal-Apple Podcasts">
			<p>Apple Podcasts</p>
		</a>
	</li>
	<li>
		<a href="https://pca.st/podcast/af8c44c0-c823-013b-f432-0acc26574db2" onclick="analytics(['trackEvent', 'Podcast', 'logo', 'Pocket casts']);">
			<img src="/img/pocketcasts-logo.png" width="120" height="120" alt="Logo tal-Pocket Casts">
			<p>Pocket Casts</p>
		</a>
	</li>
	<li>
		<a href="https://open.spotify.com/show/75Lt3UMvC1jE15SGrNFMww" onclick="analytics(['trackEvent', 'Podcast', 'logo', 'Spotify']);">
			<img src="/img/spotify-logo.png" width="120" height="120" alt="Logo tal-iSpotify">
			<p>Spotify</p>
		</a>
	</li>
	{# <li>
		<a href="https://www.youtube.com/playlist?list=PLvRbv0Lp0vDvHim7kdh7Ac8l97ePgSmUI&playnext=1&index=1" onclick="analytics(['trackEvent', 'Podcast', 'logo', 'Youtube']);">
			<img src="/img/youtube-logo.png" width="120" height="120" alt="Logo tal-Youtube">
			<p>Youtube</p>
		</a>
	</li> #}
</ul>
