<section id="book-panel">
	{% if story.introduction %}
		<div class="main hide-laptop">
			{{ story.introduction | prettifyMaltese | safe }}
			<a href="https://revolut.me/aphroconfuso" class="order-button" onclick="analytics(['trackEvent', 'Ordni', '{{ story.title }}']);">€20<img class="revolut-logo" src="/img/revolut.png" alt="Revolut"/></a>
		</div>
	{% endif %}
	{% if story.podcastNote and not story.podcastUrl %}
		<div class="main hide-mobile">{{ story.podcastNote | prettifyMaltese | safe }}</div>
	{% endif %}
	<div class="book-images">
		<img class="book-cover" src="{{ metadata.settings.imagesUrl + story.socialImage }}">
		<img class="revolut-qr hide-mobile" src="/img/revolut-qr.png" alt="Revolut"/>
	</div>
</section>

<section class="bookshops hide-laptop"><em>Antoloġija 1</em> jinsab għall-bejgħ ukoll mingħand <l-m>Il-Lokal</l-m>, <a href="https://www.google.com/maps/place/il-lokal/@35.8982519,14.5106589,17z/data=!4m6!3m5!1s0x130e455c24978df5:0x7a556696ea3f8d4!8m2!3d35.8982519!4d14.5106589!16s%2Fg%2F11q7fvn2mf?entry=ttu&g_ep=EgoyMDI0MTExMi4wIKXMDSoASAFQAw%3D%3D">203 Triq l-Ifran, Valletta</a>.</section>
