{% if story.bookOrderable or story.bookPublished %}
	<aside id="book-panel">
		{% if story.bookOrderable and story.bookPrice and not story.bookPublished %}
			{# {{ filter prettifyMaltese | safe }} #}
			<p>Biex tordna dal-ktieb, ibgħat €{{ story.bookPrice }} lil <a href="https://revolut.me/aphroconfuso" onclick="analytics(['trackEvent', 'Ordni', '{{ story.title }}']);">revolut.me/aphroconfuso</a> u ejja iġbru waqt it-tnedija, jew għidilna meta se tiġbru jew se nwassluhulek. Jekk m’għandekx Revolut, il-link tippermettilek li tħallas bil-card tiegħek. Tista’ wkoll tħallas <a href="https://www.paypal.com/paypalme/aphroconfuso"  onclick="analytics(['trackEvent', 'Ordni - PayPal', '{{ story.title }}']);">bil-Paypal, fuq l-email kotba@aphroconfuso.mt</a>.</p>
			{# {{ endfilter }} #}
		{% endif %}
		{% if story.bookPublished and story.bookPrice %}
			{# {{ filter prettifyMaltese | safe }} #}
			<p>Biex tixtri dal-ktieb, ibgħat €{{ story.bookPrice }} lil <a href="https://revolut.me/aphroconfuso" onclick="analytics(['trackEvent', 'Ordni', '{{ story.title }}']);">revolut.me/aphroconfuso</a> u għidilna meta se tiġbru jew se nwassluhulek. Jekk m’għandekx Revolut, il-link tippermettilek li tħallas bil-card tiegħek. Tista’ wkoll tħallas <a href="https://www.paypal.com/paypalme/aphroconfuso"  onclick="analytics(['trackEvent', 'Ordni - PayPal', '{{ story.title }}']);">bil-Paypal, fuq l-email kotba@aphroconfuso.mt</a>.</p>
			<div class="hide-laptop order-button-wrapper">
				<a href="https://revolut.me/aphroconfuso" class="order-button" onclick="analytics(['trackEvent', 'Ordni', '{{ story.title }}']);">€{{ story.bookPrice }}<img class="revolut-logo" src="/img/revolut.png" alt="Revolut"/></a>
			</div>
			{# {{ endfilter }} #}
		{% endif %}
		{% if story.bookInShops %}
			{# {{ filter prettifyMaltese | safe }} #}
			<p><em>{{ story.title }}</em> jinsab għall-bejgħ ukoll mingħand dawn il-<strong>ħwienet</strong>: Hollywood - Oġġetti Sbieħ, <a href="https://maps.app.goo.gl/KjU6gZnJBegCMeqf6">92 Triq ir-Repubblika, il-Belt</a>, Valletta Contemporary, <a href="https://maps.app.goo.gl/EhZ4fiHa4GCkN8zZ8">15–17 Triq il-Lvant, il-Belt</a>, R Gallery, <a href="https://maps.app.goo.gl/92yaSrt7rXNDBXqf9">26 Triq Robert Arrigo, Tas-Sliema</a>, u mingħand il-Lokal, <a href="https://maps.app.goo.gl/BctPpV6PynUr3biK7"> Il-Maħżen, Triq l-Imħażen, l-Imdina</a>.</p>
			<p>Jekk tixtieq tirċievi l-ktieb bil-<strong>posta</strong>, anki barra minn Malta, nissuġġerulek tordnah minn <a href="{{ story.bookLokalUrl }}">fuq is-sit tal-Lokal</a>.</p>
			{# {{ endfilter }} #}
		{% endif %}
		{# {{ filter prettifyMaltese | safe }} #}
		<p>Għal kull mistoqsija dwar xiri ta’ kotba, ibgħat email fuq <a href="mailto:kotba@aphroconfuso.mt">kotba@aphroconfuso.mt</a>.</p>
		{# {{ endfilter }} #}
		<div id="revolut-qr-code" class="hide-mobile">
			<img src="/img/revolut-qr.png" alt="Revolut"/>
		</div>
	</aside>
{% endif %}
