{% set promoTo = promoTo or (promo.sequenceEpisodeTitle and 'Djarju: ' + promo.sequenceEpisodeTitle) or promo.title %}
{% if promo.sequenceEpisodeTitle %}{% set isEpisode = ' is-episode' %}{% else %}{% set isEpisode = '' %}{% endif %}
<li>
	<a class="promo {{ promo.monthYear | slugify }} promo-{{ promo.type | slugify }} story-{{ promo.id }}{{ isEpisode }}" href="/{{ promo.slug }}/" onclick="_paq.push(['trackEvent', 'Promo', 'minn: {{ promoFrom }}', 'għal: {{ promoTo }}', {{ loop.index }}]);">
		{% include '_promo_header.njk' %}
		<div class="{{ promo.cssClass }}">
			{% if promo.type === 'Poezija' %}
				<p>{{ promo.description | prettifyMaltese | versifyDescription | safe }}</p>
			{% else %}
				<p>{{ promo.description | prettifyMaltese | safe }}</p>
			{% endif %}
		</div>
	</a>
</li>
