<ul class="promo-list">
	{% for promo in promos %}
		<li>
			<a class="promo {{ promo.monthYear | slugify }}" href="/{{ promo.slug }}/" onclick="_paq.push(['trackEvent', 'Promo', 'minn: {{ appointment.monthYear }}', 'għal: {{ promo.title }}', {{ loop.index }}]);">
				{% include "_promo_header.njk" %}
				<div class="{{ promo.cssClass }}">
					{% if promo.type === 'Poezija' %}
						<p>{{ promo.description | prettifyMaltese | versifyDescription | safe }}</p>
					{% else %}
						<p>{{ promo.description | prettifyMaltese | safe }}</p>
					{% endif %}
				</div>
			</a>
		</li>
	{% endfor %}
</ul>
