{% set promoTo = promoTo or promo.reportingTitle or promo.title %}
{% if promo.sequenceEpisodeTitle %}{% set isEpisode = ' is-episode' %}
{% else %}{% set isEpisode = '' %}
{% endif %}
<li {% if promo.sequenceEpisodeTitle %} class="multiple-episodes episode-{{ promo.sequenceEpisodeNumber }}"{% endif %}>
	<a class="promo {{ collectionId }} {{ promo.issueMonth | slugify }} promo-{{ promo.type | slugify }} sequence-{{ promo.sequenceId }} story-{{ promo.id }}{{ isEpisode }}" href="/{{ promo.slug }}/" onclick="analytics(['trackEvent', 'Promo', 'minn: {{ promoFrom | escapeQuote }}', 'għal: {{ promoTo | escapeQuote }}', {{ loop.index }}]);">
		{% if promo.type == 'Ktieb_stampat' %}
			{% if promo.promoImageMobile %}
				{% set slide = promo.promoImageMobile.attributes.formats %}
				{% set slideMobile = slide %}
				{% set imageCrop = 'uncropped' %}
				<div class="book-wrapper">
					{% include "_image.njk" %}
					{# {% if promo.bookSeason %}
						<div class="book-season-wrapper">
							<div class="book-season">{{ promo.bookSeason }}</div>
						</div>
					{% endif %} #}
					{% if promo.text %}
						<p>{{ promo.text | prettifyMaltese | safe }}</p>
					{% else %}
						{% if story.type == 'Ktieb_stampat' %}
							{% if "bookPublished" | fromStoriesById(stories, promo.id) %}
								<p>Dan ix-xogħol jidher fil-ktieb <em class="link">{{ promo.title }}</em>.</p>
							{% else %}
								<p>Dan ix-xogħol se jidher fil-ktieb <em class="link">{{ promo.title }}</em> ({{ 'bookSeason' | fromStoriesById(stories, promo.id) }}).</p>
							{% endif %}
						{% endif %}
					{% endif %}
				</div>
			{% endif %}
		{% else %}
			{% include '_promo_header.njk' %}
			{% set description = description or promo.description or promo.snippet %}
			<div class="{{ promo.cssClass }}">
				{% if promo.type == 'Poezija' %}
					<p>{{ description | prettifyMaltese | versifyDescription | safe }}</p>
				{% else %}
					<p>{{ description | prettifyMaltese | safe }}</p>
				{% endif %}
			</div>
		{% endif %}
	</a>
	{% include '_promo_aside.njk' %}
</li>
