{% if promo and not omitAside %}
	<aside class="promo-aside story-aside-{{ promo.id }}">
		<ul>
			<li class="bookmark-compact">
				<!-- -->
			</li>
			<li class="wordcount">
				{% set podcastLengthMinutesFallback = fromStoriesById("podcastLengthMinutesFallback", stories, promo.id) %}
				{% if showLengths and promo.audioPlayers[0] %}
					{{ promo.audioPlayers[0].podcastLengthMinutes | numberify(['minuta', 'minuti']) }} awdjo,
				{% elif showLengths and podcastLengthMinutesFallback %}
					{{ podcastLengthMinutesFallback | prettifyNumbers | numberify(['minuta', 'minuti']) }} awdjo,
				{% endif %}
				{% if promo.type != 'Poezija' %}
					{% if showLengths and promo.wordcount %}
						{{ promo.wordcount | prettifyNumbers | numberify(['kelma', 'kelmiet']) }}</li>
					{% elif showLengths %}
						{{ "wordcount" | fromStoriesById(stories, promo.id) | prettifyNumbers | numberify(['kelma', 'kelmiet']) }}</li>
					{% endif %}
				{% endif %}
			</li>
		</ul>
	</aside>
{% endif %}
