<header>
	<h4>{{ promo.monthYear }}</h4>
	<h1>
		{{ promo.title | prettifyMaltese | safe }}
		{% if promo.isSequenceEpisode %}
			<span class="episodeNumber">#{{ promo.sequenceEpisodeNumber }}</span>
		{% endif %}
	</h1>
	<h2>
		{% if promo.translator %}
			{{ promo.author | prettifyMaltese }} <span class="translator">{{ promo.translator | prettifyMaltese | safe }}</span>
		{% else %}
			{{ promo.author | prettifyMaltese | safe }}
		{% endif %}
	</h2>
</header>
