<p>{{ story.imagesType  }} | {{ story.useSquareOnMobile  }} | {{ story.imagesPositionText }}</p>
<section class="splide" aria-label="Stampi għal {{ story.title }}">
	<div class="arrows splide__arrows">
		<button class="arrow-previous splide__arrow--prev">
			«
		</button>
		<button class="arrow-next splide__arrow--next">
			»
		</button>
	</div>
	<button type="button" id="slideshow-open">Iftaħ</button>
	<div class="splide__track">
		<ul class="splide__list">
			{% for image in story.images %}
				<li class="splide__slide">
					{% set slide = image.attributes.formats %}
					{% include "_image.njk" %}
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
