<section class="splide{% if story.singleImage %} single-image{% endif %}{% if story.singleImage %} single-image{% endif %}" aria-label="Stampi għal {{ story.title }}">
	<div class="arrows splide__arrows">
		{% if story.slideshow %}
			<button class="arrow-previous splide__arrow--prev">
				«
			</button>
			<button class="arrow-next splide__arrow--next">
				»
			</button>
		{% endif %}
		<button type="button" id="lightbox-open" onclick="_paq.push(['trackEvent', 'Stampi', 'lightbox', '{{ story.title }}']);">&nbsp;</button>
	</div>
	<div class="splide__track">
		<ul class="splide__list">
			{% for image in story.images %}
				<li class="splide__slide">
					{% set slide = image.attributes.formats %}
					{% include "_image.njk" %}
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
