---
pagination:
  data: stories
  size: 250
  alias: story
permalink: /avvenimenti/index.html
---
{% extends 'layouts/base.njk' %}

{% set generic = generics['event'] %}

{% block content %}
	<article class="generic events">
		<header>
			<ul><li class="header-label">&nbsp;</li></ul>
			<h1>Avvenimenti</h1>
		</header>
		<section class="body-text">
				<ol class="promo-list">
					{% set imagesUrl = metadata.settings.imagesUrl %}
					{% for event in stories | selectattr("listableEvent") %}
					<li>
						<a href="/{{ event.slug }}/" class="promo promo-event">
						{% set imageMode = 'promo' %}
						{% set imageCrop = 'square' %}
						{% set useSquare = true %}
						{% set slide = event.promoImage %}
						{% set slideMobile = event.promoImage %}
						{% if event.promoImageMobile %}
							{% set slideMobile = event.promoImageMobile %}
						{% endif %}
						{% include "_image.njk" %}
						<header>
							<h1>{{ event.title }}</h1>
							{% set promo = event %}
							{% include "_authors.njk" %}
						</header>
						<div class="body-text">
							<p>{{ event.description | prettifyMaltese | safe }}</p>
						</div>
					</a>
				</li>
			{% endfor %}
		</ul>
		</section>
	</article>
{% endblock %}
