---
pagination:
  addAllPagesToCollections: true
  alias: contributor
  data: contributors
  size: 1
permalink: /{{ contributor.slug }}/index.html
---
{% extends 'layouts/base.njk' %}

{% block head %}
	<title>{{ contributor.name }} · Aphroconfuso</title>
	<meta content="{{ contributor.bioNote | getDescription }}" name="description">
	<meta property="og:image" content="{{ metadata.settings.imagesUrl }}{{ metadata.settings.socialImage }}">
{% endblock %}

{% block content %}
<article class="generic contributor-{{ contributor.id }}">
	<header>
		<ul><li class="header-label"><a href="/kontributuri/">Kontributuri</a></li></ul>
		<h1>{{ contributor.name | prettifyMaltese | safe }}</h1>
		<h2></h2>
	</header>
	<div class="container-generic contributor">
		<section id="grid-body">
			<div class="generic-body-text">
				<div data-pagefind-body data-pagefind-weight="1">
					{{ contributor.bioNote | prettifyMaltese | safe }}
				</div>
				{% if contributor.storiesAuthored.length or contributor.diaryEntries.length %}
					<p class="continuity">Kitba ta’ <span class="contributor">{{ contributor.forename | prettifyMaltese | safe }}</span> fil-ġurnal:</p>
					{% set promoFrom = contributor.name %}
					{% set promos = contributor.storiesAuthored %}
					{% set showLengths = true %}
					{% include '_promo_list.njk' %}
					{% set promos = contributor.diaryEntries %}
					{% include '_promo_list.njk' %}
				{% endif %}
				{% if contributor.storiesTranslated.length %}
					<p class="continuity">Traduzzjonijiet ta’ <span class="contributor">{{ contributor.forename | prettifyMaltese | safe }}</span> fil-ġurnal:</p>
					{% set promos = contributor.storiesTranslated %}
					{% include '_promo_list.njk' %}
				{% endif %}
				{% if contributor.podcastEpisodes.length %}
					<p class="continuity">Poddati ma’ <span class="contributor">{{ contributor.forename | prettifyMaltese | safe }}</span>:</p>
					{% set promos = contributor.podcastEpisodes %}
					{% include '_promo_list.njk' %}
				{% endif %}
			</div>
		</section>
		<section id="grid-max-panel-left-top">
			{% include "_menu_contributors.njk" %}
		</section>
	</div>
</article>
<script>
	reportingTitle = "{{ contributor.name }}";
</script>
{% endblock %}
