---
pagination:
  addAllPagesToCollections: true
  alias: contributor
  data: contributors
  size: 1
permalink: /{{ contributor.slug }}/index.html
---
{% extends 'layouts/base.njk' %}

{% block head %}
	<title>{{ contributor.name }} · Aphroconfuso</title>
	<meta content="{{ contributor.bioNote | getDescription }}" name="description">
	<meta property="og:image" content="{{ metadata.settings.imagesUrl }}{{ metadata.settings.socialImage }}">
{% endblock %}

{% block content %}
<article class="generic">
	<header>
		<p class="header-label"><a href="/kontributuri">Kontributuri</a></p>
		<h1>{{ contributor.name | prettifyMaltese | safe }}</h1>
		<h2></h2>
	</header>
	<div class="container-generic contributor">
		<section id="grid-body">
			<div class="generic-body-text">
				{{ contributor.bioNote | prettifyMaltese | safe }}
				<p class="continuity">Kitba ta’ <span class="contributor">{{ contributor.forename | prettifyMaltese | safe }}</span> fil-ġurnal:</p>
			</div>
			{% set promoFrom = contributor.name %}
			{% set promos = contributor.storiesAuthored %}
			{% include '_promo_list.njk' %}
			{% set promos = contributor.storiesTranslated %}
			{% include '_promo_list.njk' %}
			{% set promos = contributor.diaryEntries %}
			{% include '_promo_list.njk' %}
		</section>
		<section id="grid-max-panel-left-top">
			{% include "_menu_contributors.njk" %}
		</section>
	</div>
</article>
{% endblock %}
