---
pagination:
  data: contributors
  size: 12
permalink: /kontributuri{% if pagination.pageNumber > 0 %}/p{{ pagination.pageNumber + 1}}{% endif %}/index.html
---
{% extends 'layouts/base.njk' %}

{% block head %}
	<title>Kontributuri · Aphroconfuso</title>
	<meta content="{{ metadata.description }}" name="description">
	<meta property="og:image" content="{{ metadata.settings.socialImage }}">
{% endblock %}

{% block content %}
<article class="generic">
	<header>
		<h5>&nbsp;</h5>
		<h1>Kontributuri</h1>
		<h2>&nbsp;</h2>
	</header>
	<div class="container">
		<section id="grid-max-panel-left-top">
			<!-- -->
		</section>
		<section id="grid-max-panel-right-top">
			{# X #}
		</section>
		<section id="grid-body">
			{% include "_menu_contributors.njk" %}
		</section>
		<section id="grid-max-panel-left-bottom">
			<!-- X -->
		</section>
		<section id="grid-max-panel-right-bottom">
			<!-- X -->
		</section>
	</div>
</article>
{% endblock %}
