---
pagination:
  data: contributors
  size: 12
permalink: /kontributuri{% if pagination.pageNumber > 0 %}/p{{ pagination.pageNumber + 1}}{% endif %}/index.html
---
{% extends 'layouts/base.njk' %}

{% block head %}
	<title>Kontributuri · Aphroconfuso</title>
	<meta content="{{ metadata.description }}" name="description">
	<meta property="og:image" content="{{ metadata.settings.imagesUrl }}{{ metadata.settings.socialImage }}">
{% endblock %}

{% block content %}
<article class="generic-generic">
	<header>
		<ul><li class="header-label">&nbsp;</li></ul>
		<h1>Kontributuri</h1>
		<h2>&nbsp;</h2>
	</header>
	<div class="container">
		<section id="grid-body">
			{% include "_menu_contributors.njk" %}
		</section>
	</div>
</article>
{% endblock %}
