---
layout: layouts/home.njk
templateClass: tmpl-post
eleventyNavigation:
  key: Contributors
  order: 3
pagination:
  data: contributors
  size: 12
permalink: kontributuri{% if pagination.pageNumber > 0 %}/p{{ pagination.pageNumber + 1}}{% endif %}/index.html
---
{% set htmlTitle = 'LIST' %}

{% block content %}
  <h2>Kontributuri</h2>

  {# loop through paginated item #}
  {% for item in pagination.items %}
    {% if loop.first %}<ul>{% endif %}
      <li>
				<a href="/{{ item.slug  | slugify }}">{{ item.slug }}</a>
			</li>
    {% if loop.last %}</ul>{% endif %}
  {% endfor %}

  {# pagination #}
  {% if pagination.hrefs | length > 0 %}
  <ul>
    {% if pagination.previousPageHref %}
      <li><a href="{{ pagination.previousPageHref }}">Previous page</a></li>
    {% endif %}
    {% if pagination.nextPageHref %}
      <li><a href="{{ pagination.nextPageHref }}">Next page</a></li>
    {% endif %}
  </ul>
  {% endif %}

{% endblock %}
