---
pagination:
  data: stories
  size: 10
  alias: story
eleventyExcludeFromCollections: true
permalink: /admin/index.html
---
{% extends 'layouts/admin.njk' %}

{% block content %}
	<main>
		<header>
			<h1>admin</h1>
		</header>
		<section>
			<ul>
				{% for story in stories %}
					<li><strong>{{ story.title | prettifyMaltese | safe }}</strong></li>
						<ul>
							{% for promo in story.endPromos %}
								<li>
									<label for="checkbox-{{ story.title | slugify }}-{{ promo.title | slugify }}-{{ loop.index }}">{{ promo.title | prettifyMaltese | safe }}</label>
									<input type="checkbox" class="toggle" id="checkbox-{{ story.title | slugify }}-{{ promo.title | slugify }}-{{ loop.index }}">
									<p class="description">{{ promo.description | prettifyMaltese | safe }}</p>
								</li>
							{% endfor %}
							{% if story.triggerWarning %}
								<li style="color: red">{{ story.triggerWarning | prettifyMaltese | safe }}</li>
							{% endif %}
						</ul>
						{# <p>{{ story.vocabulary.length | slugify }}</p> #}
						{# <ul class="vocabulary">
							{% for word in story.vocabulary %}
								<li>{{ word }}</li>
							{% endfor %}
						</ul> #}
					</li>
				{% endfor %}
			</ul>
		</section>
		<textarea></textarea>
	</main>
{% endblock %}
