---
pagination:
  data: stories
  size: 250
  alias: story
eleventyExcludeFromCollections: true
permalink: /admin/promos/index.html
---
{% extends 'layouts/admin.njk' %}

{% block content %}
	<main>
		<section>
			<ul>
				{% for story in stories %}
					<li><strong>{{ story.title | prettifyMaltese | safe }}</strong> <span style="color:#999;font-family:monospace;font-size:14px">{{ story.body | wordcount }}</span></li>
						<ul>
							{% for promo in story.endPromos %}
								<li>
									<label for="checkbox-{{ story.title | slugify }}-{{ promo.title | slugify }}-{{ loop.index }}">{{ promo.title | prettifyMaltese | safe }}</label>
									<input type="checkbox" class="toggle" id="checkbox-{{ story.title | slugify }}-{{ promo.title | slugify }}-{{ loop.index }}">
									<p class="description">{{ promo.description | prettifyMaltese | safe }}</p>
								</li>
							{% endfor %}
							{% if story.triggerWarning %}
								<li style="color: red">{{ story.triggerWarning | prettifyMaltese | safe }}</li>
							{% endif %}
						</ul>
					</li>
				{% endfor %}
			</ul>
			<p>wordcount: {{ stories[0].cumulativeWordcount | slugify }}</p>
			<p>vocabulary: {{ stories[0].cumulativeVocabulary.length | slugify }}</p>
		</section>
	</main>
{% endblock %}
