---
pagination:
  data: stories
  size: 250
  alias: story
permalink: /awdjo/index.html
---
{% extends 'layouts/base.njk' %}

{% block head %}
	<title>Awdjo · Aphroconfuso</title>
{% endblock %}

{% block content %}
	<article class="generic contents">
		<header>
			<ul><li class="header-label">&nbsp;</li></ul>
			<h1>Awdjo</h1>
			<h2>&nbsp;</h2>
		</header>
		<div class="container-generic">
			<section id="grid-body" class="generic-body-text audio contents">
				<aside><p>Nippubblikaw verżjoni awdjo ta’ ħafna mix-xogħol li jidher fil-ġurnal. Dawn jitilgħu ftit ġimgħat wara l-ewwel pubblikazzjoni tagħhom fuq is-sit. Tista’ tisma’ dawn il-verżjonijiet kemm mill-istess paġna tat-test kif ukoll billi tabbona għall-<a href="/taħditiet/">podcast fejn issib ukoll taħditiet</a> mall-kittieba tagħna.</p>
				<p><em>dawn huma l-verżjonijiet awdjo li ppubblikajna:</em></p>
				</aside>
				{% set promoFrom = "Awdjo" %}
				{% set promos = stories | selectattr("listableAudio") | sort(true, false, "podcastDate") %}
				{% set showDurations = true %}
				{% set showEpisodeTitle = true %}
				{% include "_promo_list.njk" %}
				{% include "_podcast_buttons.njk" %}
			</section>
		</div>
	</article>
	<script>
		reportingTitle = "Awdjo";
	</script>
{% endblock %}
