---
eleventyNavigation:
  key: Cookies
  order: 2
permalink: /cookies/index.html
---
{% extends 'layouts/base.njk' %}

{% block head %}
	<title>{{ cookies.title }} · Aphroconfuso</title>
	<meta content="{{ metadata.description }}" name="description">
	<meta property="og:image" content="{{ metadata.settings.socialImage }}">
{% endblock %}

{% block content %}
	<article class="generic">
		<header>
			<h4>&nbsp;</h5>
			<h1>{{ cookies.title }}</h1>
			<h2>&nbsp;</h2>
		</header>
		<div class="container-generic">
			<section id="grid-max-panel-left-top">
				<!-- -->
			</section>
			<section id="grid-max-panel-right-top">
				<!-- X -->
			</section>
			<section id="grid-body">
				<div class="generic-body-text">
					{{ cookies.body | safe }}
					<p id="optInOutWrapper">
						<input type="checkbox" id="optInOut" />
						<label for="optInOut">&nbsp;</label>
					</p>
					<script>
						document.addEventListener("DOMContentLoaded", function (event) {
							function setOptOutText(element) {
								window._paq.push([function () {
									element.checked = !this.isUserOptedOut();
								}]);
								if (element.checked) {
									document.body.classList.remove('track-opted-out');
								} else {
									document.body.classList.add('track-opted-out');
								}
							}
							function setOptOutText(element) {
								window._paq.push([function () {
									element.checked = !this.isUserOptedOut();
									document.querySelector('label[for=optInOut]').innerHTML = this.isUserOptedOut()
										? "<p>Bħalissa qed twaqqafna milli niġbru statistika dwar <l-m>iż-żjarat</l-m> tiegħek. <span style=\"text-decoration:underline;cursor:pointer;\">Agħfas hawn</span> jekk trid tħallina niġbru din <l-m>l-informazzjoni</l-m>.</p>"
										: "<p>Bħalissa qed niġbru informazzjoni dwar <l-m>iż-żjarat</l-m> tiegħek mingħajr ma nżommu ebda informazzjoni li tista’ tidentifikak personalment. <span style=\"text-decoration:underline;cursor:pointer;\">Agħfas hawn</span> jekk trid twaqqafna milli niġbru din <l-m>l-informazzjoni</l-m>.</p>";
								}]);
							}
							var optOut = document.getElementById("optInOut");
							optOut.addEventListener("click", function () {
								if (this.checked) {
									_paq.push(['trackEvent', 'Tracking', 'Buttuna', 'Mitfi']);
									window._paq.push(['forgetUserOptOut']);
								} else {
									_paq.push(['trackEvent', 'Tracking', 'Buttuna', 'Mixgħul']);
									window._paq.push(['optUserOut']);
								}
								setOptOutText(optOut);
							});
							setOptOutText(optOut);
						});
					</script>
				</div>
			</section>
			<section id="grid-max-panel-left-bottom">
				<!-- X -->
			</section>
			<section id="grid-max-panel-right-bottom">
				<!-- X -->
			</section>
		</div>
	</article>
{% endblock %}
