---
permalink: /kolofon/index.html
---
{% extends 'layouts/base.njk' %}
{% set generic = colophon %}

{% block head %}
	{% include "_generic_head.njk" %}
{% endblock %}

{% block content %}
	{% include "_generic.njk" %}
	{{ metadata.dateTimeNow }}
{% endblock %}
