---
layout: layouts/home.njk
templateClass: tmpl-post
eleventyNavigation:
  key: Privacy
  order: 2
permalink: /privatezza/index.html
---
{% block content %}
	<article class="generic">
		<header>
			<h3>&nbsp;</h5>
			<h1>{{ privacy.title }}</h1>
			<h2>&nbsp;</h2>
		</header>
		<div class="container">
			<section class="grid-max-panel-left-top">
				<!-- -->
			</section>
			<section class="grid-max-panel-right-top">
				<!-- X -->
			</section>
			<section>
				<div class="generic-body-text">{{ privacy.body | prettifyMaltese | safe }}</div>
			</section>
			<section class="grid-max-panel-left-bottom">
				<!-- X -->
			</section>
			<section class="grid-max-panel-right-bottom">
				<!-- X -->
			</section>
		</div>
	</article>
{% endblock %}
