---
pagination:
  addAllPagesToCollections: true
  alias: appointment
  data: appointments
  size: 1
permalink: /{{ appointment.issueMonthYear | slugifyMaltese }}/index.html
---
{% extends 'layouts/base.njk' %}

{% block head %}
	<title>{{ appointment.issueMonthYear }} · Aphroconfuso</title>
	<meta content="{{ appointment.editorial | getDescription }}" name="description">
	<meta property="og:image" content="{{ metadata.settings.imagesUrl }}{{ metadata.settings.socialImage }}">
{% endblock %}

{% block content %}
<article class="generic {{ appointment.issueMonth | slugify }}">
	<header>
		<ul><li class="header-label"><a href="/appuntamenti/">Appuntamenti</a></li></ul>
		<h1>{{ appointment.issueMonthYear | prettifyMaltese | safe }}</h1>
		<h2></h2>
	</header>
	<div class="container-generic">
		<section id="grid-body" data-pagefind-body data-pagefind-weight="5">
			<div class="generic-body-text editorial">
				<div class="text-container">
					{{ appointment.editorial | prettifyMaltese | endDotify | safe }}
				</div>
			</div>
			<p class="continuity">Din hija l-kitba ppubblikata dax-xahar:</p>
			{% set promoFrom = appointment.issueMonthYear %}
			{% set promos = appointment.stories %}
			{% set showEpisodeTitle = true %}
			{% include '_promo_list.njk' %}
			<div class="generic-body-text more">
				{% if appointment.moreToCome %}
					{{ appointment.moreToCome | prettifyMaltese | safe }}
				{% else %}
					<p>{{ metadata.texts.newsletterMessage | safe }}</p>
				{% endif %}
			</div>
		</section>
	</div>
</article>
<script>
	reportingTitle = "{{ appointment.issueMonthYear }}";
</script>
{% endblock %}
