---
permalink: /appuntamenti/index.html
---
{% extends 'layouts/base.njk' %}

{% block head %}
	<title>{{ appointmentIndex.title }} · Aphroconfuso</title>
	<meta content="{{ metadata.description }}" name="description">
	<meta property="og:image" content="{{ metadata.settings.imagesUrl }}{{ metadata.settings.socialImage }}">
{% endblock %}

{% block content %}
	<article class="generic appointments">
		<header>
			<ul>
				<li class="header-label">&nbsp;</li>
			</ul>
			<h1>{{ appointmentIndex.title }}</h1>
			<h2>&nbsp;</h2>
		</header>
		<div class="container-generic">
			<section id="grid-body">
				<div class="generic-body-text">
					{{ appointmentIndex.body | prettifyMaltese | safe }}
					{# <p>{{ appointments[0].nextFirstMonday }}</p> #}
				</div>
				<ul class="promo-list">
					{% for appointment in appointments %}
						<li>
							<a class="promo {{ appointment.issueMonth | slugify }}" href="/{{ appointment.issueMonthYear | slugifyMaltese }}/">
								<header>
									<h1>{{ appointment.issueMonthYear | safe }}</h1>
								</header>
								<div class="body-text">
									<p>{{ appointment.editorial | striptags | prettifyMaltese | safe }}</p>
								</div>
							</a>
						</li>
					{% endfor %}
				</ul>
			</section>
		</div>
	</article>
{% endblock %}
