---
permalink: /drittijiet/index.html
---
{% extends 'layouts/base.njk' %}
{% set generic = copyright %}

{% block head %}
	{% include "_generic_head.njk" %}
{% endblock %}

{% block content %}
	{% include "_generic.njk" %}
{% endblock %}
