---
permalink: /drittijiet/index.html
---
{% extends 'layouts/base.njk' %}

{% block head %}
	<title>{{ copyright.title }} · Aphroconfuso</title>
	<meta content="{{ metadata.description }}" name="description">
	<meta property="og:image" content="{{ metadata.settings.socialImage }}">
{% endblock %}

{% block content %}
	<article class="generic">
		<header>
			<h3>&nbsp;</h5>
			<h1>{{ copyright.title }}</h1>
			<h2>&nbsp;</h2>
		</header>
		<div class="container">
			<section id="grid-max-panel-left-top">
				<!-- -->
			</section>
			<section id="grid-max-panel-right-top">
				<!-- X -->
			</section>
			<section id="grid-body">
				<div class="generic-body-text">{{ copyright.body | prettifyMaltese | safe }}</div>
			</section>
			<section id="grid-max-panel-left-bottom">
				<!-- X -->
			</section>
			<section id="grid-max-panel-right-bottom">
				<!-- X -->
			</section>
		</div>
	</article>
{% endblock %}
