---
pagination:
  addAllPagesToCollections: true
  alias: manualpage
  data: manualpages
  size: 1
permalink: /{{ manualpage.slug }}/index.html
---

{% extends 'layouts/base.njk' %}

{% block head %}
	<title>{{ manualpage.title }} · Il-Manwal tal-Editorija u l-Produzzjoni · Aphroconfuso</title>
	<meta content="{{ metadata.description }}" name="description">
	<meta property="og:image" content="{{ metadata.settings.imagesUrl }}{{ metadata.settings.socialImage }}">
{% endblock %}

{% block content %}
	<article class="generic contributor-{{ contributor.id }}" data-pagefind-body>
		<header>
			<ul>
				<li class="header-label">
					<a href="/manwal/">Manwal</a>
				</li>
			</ul>
			<h1>{{ manualpage.title }}</h1>
			<h2>&nbsp;</h2>
		</header>
		<div class="container-generic contributor">
			<section id="grid-body">
				<div class="generic-body-text" data-pagefind-weight="3">
					{{ manualpage.body | prettifyMaltese | safe }}
				</div>
			</section>
			<section id="grid-max-panel-left-top" data-pagefind-ignore>
				{% include "_menu_manual.njk" %}
			</section>
		</div>
	</article>
	<script>
		reportingTitle = "{{ manualpage.title }}";
	</script>
{% endblock %}
