---
pagination:
  data: stories
  size: 250
  alias: story
permalink: /avvenimenti/index.html
---
{% extends 'layouts/base.njk' %}

{% block head %}
	<title>{{ event.title }} · Aphroconfuso</title>
	<meta content="{{ metadata.description }}" name="description">
	<meta property="og:image" content="{{ metadata.settings.imagesUrl }}{{ metadata.settings.socialImage }}">
{% endblock %}

{% block content %}
	<article class="generic contents podcast">
		<header>
			<ul><li class="header-label">&nbsp;</li></ul>
			<h1>{{ event.title }}</h1>
			<h2>&nbsp;</h2>
		</header>
		<div class="container">
			<section id="grid-body">
				<div class="generic-body-text">
					{{ event.body | prettifyMaltese | safe }}
					{% set promoFrom = "Avveniment" %}
					{% set promos = stories | selectattr("listableEvent") %}
					{% set showEpisodeTitle = true %}
					{% set showDurations = true %}
					{% include "_promo_list.njk" %}
				</div>
			</section>
		</div>
	</article>
	<script>
		reportingTitle = "{{ event.title }}";
	</script>
{% endblock %}
