---
permalink: /newsletter/index.html
---
{% extends 'layouts/base.njk' %}

{% block head %}
	<title>{{ newsletter.title }} · Aphroconfuso</title>
	<meta content="{{ metadata.description }}" name="description">
	<meta property="og:image" content="{{ metadata.settings.imagesUrl }}{{ metadata.settings.socialImage }}">
{% endblock %}

{% block content %}
	<article class="generic" id="newsletter">
		<header>
			<ul><li class="header-label">&nbsp;</li></ul>
			<h1>{{ newsletter.title }}</h1>
			<h2>&nbsp;</h2>
		</header>
		<div class="container">
			<section id="grid-body">
				{# <div id="newsletter-container" class="generic-body-text hide-form hide-pending hide-subscribed hide-message"> #}
				<div class="newsletter-container generic-body-text">
					<section id="form" data-track-content data-content-name="Newsletter" data-content-piece="formola">
						<iframe id="newsletter" src="https://newsletter.aphroconfuso.mt/subscription/form#newsletter-page" scrolling="no" title="Abbona fin-newsletter"></iframe>
					</section>
					{# <section id="pending" data-track-content data-content-name="Newsletter" data-content-piece="pendenti">
						<p>Bgħatnielek email biex tikkonferma <l-m>l-abbonament</l-m> tiegħek <l-m>fin-newsletter</l-m>. F’każ li ma ssibhiex, jekk jogħġbok fittixha <l-m>fl-ispam</l-m>.</p>
					</section>
					<section id="subscribed" data-track-content data-content-name="Newsletter" data-content-piece="dalwaqt">
						<p>Inti ġa abbonat fin-newsletter!</l-m></p>
					</section>
					<section id="message" data-track-content data-content-name="Newsletter" data-content-piece="Messaġġ">&nbsp;</section>
					<section id="placeholder">&nbsp;</section>
					<script>initialiseAfterNewsletter();</script> #}
				</div>
			</section>
		</div>
	</article>
{% endblock %}
