---
pagination:
  alias: almanac
  size: 1
  data: almanacs
addAllPagesToCollections: true
permalink: /almanakk-{{ almanac.month | slugifyMaltese }}/index.html
---
{% extends 'layouts/base.njk' %}

{% block head %}
	<title>Almanakk · {{ almanac.month }} · Aphroconfuso</title>
{% endblock %}

{% block content %}
	<article class="generic almanac">
		<header>
			<ul>
				<li>
					<a href="/{{ almanacs[0].link }}/">Almanakk</a>
				</li>
			</ul>
			<h1>{{ almanac.month }}</h1>
			<h2></h2>
		</header>

		<ol class="generic-menu almanac-months">
			{% for almanac in almanacs %}
				<li>
					<a href="/almanakk-{{ almanac.month | slugifyMaltese }}/">{{ almanac.month }}</a>
				</li>
			{% endfor %}
		</ol>

		<div class="almanac">
			<section class="month">
				<div id="month-header" class="week">
					<div>It-Tnejn</div>
					<div>It-Tlieta</div>
					<div>L-Erbgħa</div>
					<div>Il-Ħamis</div>
					<div>Il-Ġimgħa</div>
					<div>Is-Sibt</div>
					<div>Il-Ħadd</div>
				</div>
				{% for week in almanac.weeks %}
					<div class="week">
						{% for day in week %}
							{% if day %}
								<div class="day">
									<a class="day-header" href="/{{ 'almanakk-' + day + '-ta-' + almanac.month | slugifyMaltese }}/">
										<strong>{{ day }}</strong> ta’ {{ almanac.month }}</a>
								{% else %}
									<div class="day blank">
									{% endif %}
									{% if day %}
										<ul>
											{% for story in stories[0].almanac %}
												{% if story.day == day and story.month == almanac.month %}
													<li>
														<a class="promo promo-almanac {{ story.issueMonth | slugify }}" href="/{{ story.slug }}/" onclick="analytics(['trackEvent', 'Promo', 'minn: Almanakk - {{ story.month }}', 'għal: {{ story.reportingTitle }}', {{ story.day }}]);">
															<header>
																<p>
																	<span style="font-family: mono">{{ story.year + ":" if story.year else ""}}</span>
																	{{ story.truncatedTitle }}</p>
																{# <p>{{ story.day }} ta’ {{ story.month }} {{ story.year }}</p> #}
															</header>
															<p class="blurb body-text">{{ story.snippet | prettifyMaltese | safe }}</p>
														</a>
													</li>
												{% endif %}
											{% endfor %}
										</ul>
									{% endif %}
								</div>
							{% endfor %}
						</div>
					{% endfor %}
				</section>
			</div>
		</article>
	{% endblock %}
