---
pagination:
  alias: day
  size: 1
  data: days
addAllPagesToCollections: true
permalink: /almanakk-{{ day.date | slugifyMaltese }}/index.html
---
{% extends 'layouts/base.njk' %}

{% block head %}
	<title>Almanakk · Aphroconfuso</title>
{% endblock %}

{% block content %}
	<article class="generic almanac">
		<header>
			<ul>
				<li>Almanakk</li>
				<li>
					<a href="/almanakk-{{ day.month | slugifyMaltese }}/">{{ day.month }}</a>
				</li>
			</ul>
			<h1>{{ day.date | prettifyMaltese }}</h1>
			<h2></h2>
		</header>

		<div class="almanac">
			<section id="grid-body">
				<div class="body-text">
					<ul class="promo-list">
						{% for story in stories[0].almanac %}
							{% if story.day == day.dayOfMonth and story.month == day.month %}
								<li>
									<a class="promo promo-almanac {{ story.issueMonth | slugify }}" href="/{{ story.slug }}/" onclick="analytics(['trackEvent', 'Promo', 'minn: Almanakk', 'għal: {{ story.reportingTitle }}', {{ loop.index }}]);">
										{% set cullated = true %}
										{% set promoFrom = "Almanakk {{ day.date | prettifyMaltese }}" %}
										{% set showEpisodeTitle = true %}
										{% set showLengths = true %}
										{% include "_promo.njk" %}
										<p class="blurb">{{ story.snippet | prettifyMaltese | safe }}</p>
									</a>
								</li>
							{% endif %}
						{% endfor %}
					</ol>
				</section>
			</div>

		</article>
	{% endblock %}
