---
pagination:
  alias: day
  size: 1
  data: days
addAllPagesToCollections: true
permalink: /almanakk-{{ day.date | slugifyMaltese }}/index.html
---
{% extends 'layouts/base.njk' %}

{% block head %}
	<title>Almanakk · Aphroconfuso</title>
{% endblock %}

{% block content %}
	<article class="generic almanac">
		<header>
			<ul>
				<li>Almanakk</li>
				<li>
					<a href="/almanakk-{{ day.month | slugifyMaltese }}/">{{ day.month }}</a>
				</li>
			</ul>
			<h1>{{ day.date | prettifyMaltese }}</h1>
			<h2></h2>
		</header>
		<div class="container-generic">
			<section id="grid-body" class="body-text">
				<ul class="promo-list">
					{% set collated = true %}
					{% set promoFrom = "Almanakk {{ day.date | prettifyMaltese }}" %}
					{% set showEpisodeTitle = true %}
					{% set showLengths = true %}
					{% for promo in stories[0].almanac %}
						{% if promo.day == day.dayOfMonth and promo.month == day.month %}
							{% include "_promo.njk" %}
						{% endif %}
					{% endfor %}
				</ou>
			</section>
		</div>
	</article>
{% endblock %}
