---
pagination:
  data: stories
  size: 250
  alias: story
eleventyExcludeFromCollections: false
permalink: /almanakk/index.html
---
{% extends 'layouts/base.njk' %}

{% block head %}
	<title>Almanakk · Aphroconfuso</title>
	<script>
		location.replace("/{{ almanacs[0].link }}/")
	</script>
{% endblock %}

{% block content %}
	<article>
		<header>
			<ul>
				<li>&nbsp;</li>
			</ul>
			<h1>Almanakk</h1>
			<h2></h2>
		</header>
		<div class="almanac">
			<section id="grid-body">
				<div class="generic-body-text">
					<p>Jum wara jum fuq Aphroconfuso, matul is-snin.</p>
				</div>
			</section>
		</div>
	</article>
	<script>
		reportingTitle = "Almanakk";
	</script>
{% endblock %}
