@use "constants" as *;
@use "calculations" as *;
@use "settings" as *;
@use "mixins-etc" as *;

.abecedaire {
  ol {
    margin-left: $body-margin * -1.5;
    li {
      overflow: hidden;
      a {
        p.blurb {
          @include clamp(9);
          height: $body-margin * 10.35;
          margin-bottom: $body-margin-quarter;
          padding: ($body-margin * 1.5) 0 ($body-margin * 2)
            ($body-margin * 1.5);
          position: relative;
        }
        p.credit {
          height: $body-margin;
          margin-left: $body-margin * 1.5;
          position: relative;
          display: inline-block;
          &::before {
            @include animated-underline-pre($dark-brown);
            margin-left: 1em;
          }
					&.credit-full {
						display: none;
						padding-left: $body-margin * 0.75;
	          height: $body-margin * 3;
						text-indent: $body-margin * -0.75;
						.translator {
							white-space: nowrap;
						}
					}
        }
      }
    }
  }
  @media all and (min-width: $tablet-breakpoint) {
    #grid-body {
      max-width: 100%;
      width: 100%;
      ol {
        margin-left: 0;
        li {
          float: left;
          width: 50%;
        }
      }
    }
  }
  @media all and (min-width: $laptop-breakpoint) {
    #grid-body {
      ol {
        li {
          float: left;
          width: 33%;
          a:hover {
            p.credit::before {
              @include animated-underline-post();
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: $laptop-breakpoint) {
	.localhost, .abbozzi {
		.abecedaire ol li {
			scale: 0.9;
			a p.credit {
				display: none;
				&.credit-full {
					display: block !important;
				}
			}
		}
	}
}
