@use "constants" as *;
@use "calculations" as *;
@use "settings" as *;
@use "mixins-etc" as *;

.almanac {
	.week-header {
		display: none
	}
	p .date {
		color: $light-brown;
	}
	.day {
		display: none;
		&:has(li) {
			display: block;
		}
			// ul {
		// 	counter-increment: day;
		// 	li {
		// 		list-style: none;
		// 		&::before {
		// 			content: counter(day);
		// 		}
		// 	}
		// }
	}
	.almanac-months {
    background-color: $lightest-brown;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: $body-margin;
    width: 100%;
	}
	@media all and (min-width: $laptop-breakpoint) {
		.week-header {
			display: block;
			margin-bottom: $body-margin;
		}
		.week {
			display: grid;
			grid-template-columns: repeat(7, 1fr);
			grid-gap: 0;
			margin: 0;
			padding: 0;
		}
		.day {
			border-left: 1px solid $lightest-brown;
			border-top: 1px solid $lightest-brown;
			display: block;
			height: calc($body-margin * 8);
			overflow: hidden;
			position: relative;
			ul li {
				padding: $body-margin-quarter $body-margin-quarter 0;
			}
			&.blank {
				background-image: url(/img/deco/inforra-cara-1.png);
			}
			&.today {
				background-image: url(/img/deco/inforra-cara-2.png);
			}
		}
		.day-header {
			background-color: $lightest-brown;
			color: $lightest-brown;
			display: block;
			padding: 0 $body-margin-quarter;
			&:hover {
				color: $light-brown;
			}
			strong {
				color: $light-brown;
			}
		}
		.month {
			border-bottom: 1px solid $lightest-brown;
			border-right: 1px solid $lightest-brown;
		}
		.blank {
			background-color: $lightest-brown;
			border: none;
		}
	}
}
