@use "constants" as *;
@use "calculations" as *;
@use "settings" as *;
@use "mixins-etc" as *;

.almanac {
	position:relative;
	.week-header {
		display: none
	}
	p .date {
		font-weight: bold;
		// color: $light-brown;
	}
	.day {
		display: none;
		margin-bottom: $body-margin;
		&:has(li) {
			display: block;
		}
		.day-header {
			background-color: $lightest-brown;
			color: $lightest-brown;
			display: block;
			padding: 0 $body-margin-quarter;
			&:hover {
				color: $light-brown;
			}
			strong {
				color: $light-brown;
			}
		}
	}
	.month {
		header p {
			font-size: $body-font-size;
			padding: 0 $body-margin-quarter;
		}
		p.blurb {
			font-size: $body-font-size;
			margin-bottom: $body-margin-half;
		}
	}
	.almanac-months {
    // background-color: $lightest-brown;
    display: flex;
    flex-direction: row;
		flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: $body-margin;
    width: 100%;
		@media all and (min-width: 1600px) {
			display: block;
			position: absolute;
			left: calc(100% + $body-margin);
		}
	}
	@media all and (min-width: $laptop-breakpoint) {
		.week-header {
			display: block;
			margin-bottom: $body-margin;
		}
		.week {
			display: grid;
			grid-template-columns: repeat(7, 1fr);
			grid-gap: 0;
			margin: 0;
			padding: 0;
		}
		.day {
			border-left: 1px solid $lightest-brown;
			border-top: 1px solid $lightest-brown;
			display: block;
			height: calc($body-margin * 8);
			margin-bottom: 0;
			overflow: hidden;
			position: relative;
			ul li {
				padding: $body-margin-quarter $body-margin-quarter 0;
			}
			&.blank {
				background-color: $lightest-brown;
			}
			&.today {
				.day-header {
					background-color: red;
					color: var(--paper);
				}
			}
		}
		.month {
			border-bottom: 1px solid $lightest-brown;
			border-right: 1px solid $lightest-brown;
			header p {
				font-size: 1rem;
				padding: 0;
			}
			p.blurb {
				font-size: 1rem;
				@include clamp(5);
				margin-bottom: 0;
			}
		}
		.blank {
			background-color: $lightest-brown;
			border: none;
		}
	}
}
