@use "constants" as *;
@use "calculations" as *;
@use "settings" as *;
@use "mixins-etc" as *;

article {
	border-bottom: $body-margin-quarter solid $paper;
	// margin: 0 auto $body-margin;
	margin: 0 auto;
	max-width: $max-width;
	&.story {
		header {
			h1,
			h2,
			h3 {
				margin-bottom: $body-margin-half;
			}
			h1 + h2,
			h2 + h3 {
				margin-bottom: $body-margin;
			}
			@media all and (min-width: $laptop-breakpoint) {
				h2 + h3 {
					margin-top: $body-margin * 3;
				}
				h1 + h3 {
					margin-top: $body-margin * 3;
				}
			}
		}
	}
	aside {
		color: $lighter-brown;
		font-family: $sans-alt;
		font-size: $font-size-aside;
		margin-bottom: $body-margin;
	}
}
#grid-max-panel-left-top,
#grid-max-panel-right-top,
#grid-max-panel-left-bottom,
#grid-max-panel-right-bottom,
#grid-body {
	margin: 0 auto;
	max-width: $max-content-width;
	width: 100%;
}

#grid-max-panel-left-bottom,
#grid-max-panel-right-bottom {
	margin: $body-margin auto 0 auto;
}

.reviewed {
	border: 1px solid $faint-line;
	font-size: 1rem;
	margin-bottom: $body-margin;
	padding: $body-margin-half;
	.title {
		font-size: 0.9rem;
		letter-spacing: 0.25px;
		text-transform: uppercase;
	}
	.author {
		white-space: nowrap;
	}
	.publisher {
		white-space: nowrap;
	}
	p {
		margin-bottom: $body-margin-half;
		&:last-of-type {
			margin-bottom: 0;
		}
	}

	@media all and (min-width: $laptop-breakpoint) {
		.title,
		.author,
		.publisher {
			display: block;
		}
	}
}

@keyframes closeTriggerWarning {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

#trigger-warning {
	border: 1px solid $faint-line;
	font-size: 1rem;
	margin-bottom: $body-margin * 1.5;
	padding: $body-margin-half;
	position: relative;
	display: block;
	.close {
		color: $lightest-brown;
		cursor: pointer;
		font-size: 1.75rem;
		height: 1rem;
		position: absolute;
		right: 0;
		top: -0.5rem;
		width: 1rem;
	}
}

.trigger-warning-closed #trigger-warning {
	animation: closeTriggerWarning 0.5s;
	animation-fill-mode: backwards;
	display: none;
}

.poetry-separator {
	margin: $body-margin 0 0 5.2rem;
	font-size: 2rem !important;
}

@media all and (min-width: $laptop-breakpoint) {
	article {
		padding-bottom: 0;
		aside {
			margin-bottom: 0;
		}
		aside + aside {
			margin-top: $body-margin;
		}
	}
}

@media all and (min-width: $laptop-breakpoint) {
	article.story {
		// Il-Lanza... (Lulju 2023)
		&.story-16 {
			h1 {
				font-size: 2.9rem;
				white-space: nowrap;
				letter-spacing: -1px;
			}
		}

		// mona | lisa (Awwissu 2023)
		&.story-18 {
			h1 {
				width: 70%;
			}
			@media all and (min-width: $laptop-breakpoint) {
				.body-text {
					padding: 0 8rem;
					border: 1px solid $grid-lines;
					border-width: 0 1px;
				}
				h1 {
					width: 100%;
				}
			}
			.fx-1 {
				transform: scale(-1, 1);
				color: hsl(0, 0%, 40%);
			}
			p {
				margin-bottom: $body-margin-half + $body-margin-quarter;
				&.enjambed {
					margin-bottom: $body-margin-quarter;
				}
			}
		}
		&.story-25 {
			h1 {
				letter-spacing: -0.15px;
			}
		}
	}
}
table.sequence-menu {
	@media all and (max-width: ($laptop-breakpoint - 1)) {
		tr.actual {
			display: none;
		}
		margin: $body-margin 0;
	}
	tr {
		display: flex;
		&.actual td {
			color: $lightest-brown;
		}
		td.order {
			font-family: $sans-alt;
			padding-right: $body-margin-quarter;
		}
		.title {
			font-style: italic;
		}
		td {
			font-family: $serif;
			font-size: $body-font-size;
			padding-bottom: $body-margin-quarter;
			@media all and (min-width: $laptop-breakpoint) {
				a {
					@include animated-underline($light-brown);
				}
			}
		}
	}
}
// FIXME
article.esej {
	@media all and (max-width: ($laptop-breakpoint - 1)) {
		table.sequence-menu {
			display: none;
		}
	}
}

@media all and (min-width: $laptop-breakpoint) {
	.promos-container {
		.is-episode,
		.story-16 {
			header {
				margin-bottom: $body-margin-quarter;
				h3 {
					padding-top: $body-margin-quarter;
				}
			}
			p {
				@include clamp(6);
			}
		}
	}
}
