@use "constants" as *;
@use "calculations" as *;
@use "settings" as *;
@use "mixins-etc" as *;

.reviewed {
  border: 1px solid $faint-line;
  font-size: 1rem;
  margin-bottom: $body-margin;
  padding: $body-margin-half;
  p {
    margin-bottom: $body-margin-half;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .title {
    font-size: 0.9rem;
    letter-spacing: 0.25px;
    text-transform: uppercase;
  }
  .author {
    white-space: nowrap;
  }
  .publisher {
    white-space: nowrap;
  }
  @media all and (min-width: $laptop-breakpoint) {
    .title,
    .author,
    .publisher {
      display: block;
    }
  }
}

@keyframes closeTriggerWarning {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#trigger-warning {
  border: 1px solid $faint-line;
  font-size: 1rem;
  margin-bottom: $body-margin * 1.5;
  padding: $body-margin-half;
  position: relative;
  display: block;
  .close {
    color: $lightest-brown;
    cursor: pointer;
    font-size: 1.75rem;
    height: 1rem;
    position: absolute;
    right: 0;
    top: -0.5rem;
    width: 1rem;
  }
}

.trigger-warning-closed #trigger-warning {
  animation: closeTriggerWarning 0.5s;
  animation-fill-mode: backwards;
  display: none;
}
.poezija {
	#grid-body .splide {
		padding-top: 0;
	}
	.promo-adjacent {
		display: none;
	}
}
.poetry-separator {
  margin: $body-margin 0 0 5.2rem;
  font-size: 2rem !important;
}

#grid-max-panel-right-bottom #form iframe {
  height: 7rem;
}

#epigraphs-bottom {
  figure.epigraph {
    margin: $body-margin 0 0;
  }
}

#epigraphs {
	figure.epigraph + figure.epigraph {
		margin-top: 0;
	}
}

#grid-max-panel-left-top,
#grid-max-panel-right-top,
#grid-max-panel-left-bottom,
#grid-max-panel-right-bottom,
#grid-body {
  margin: 0 auto;
  max-width: $max-content-width;
  width: 100%;
}

#grid-max-panel-left-bottom,
#grid-max-panel-right-bottom {
  margin: $body-margin auto 0 auto;
}

article {
  border-bottom: $body-margin-quarter solid $paper;
  // margin: 0 auto $body-margin;
  margin: 0 auto;
  max-width: $max-width;
  &.story {
    header {
      position: relative;
      h1,
      h2,
      h3 {
        margin-bottom: $body-margin-quarter;
      }
      header {
        padding-bottom: $body-margin-double;
      }
      @media all and (min-width: $laptop-breakpoint) {
        header {
          padding-bottom: $body-margin-double;
        }
      }
    }
  }
  aside {
    color: $lighter-brown;
    font-family: $sans;
    font-size: $font-size-aside;
    margin-bottom: $body-margin-half;
  }
  &.end-of-series
    #grid-body
    // section:not(#epigraphs-bottom):not(#endnote).body-text {
    section.body-text-part-two > p:last-of-type {
    padding-bottom: $body-margin-double;
    background-image: url(/img/deco-100.svg);
    background-position: center bottom;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  @media all and (max-width: ($laptop-breakpoint - 1)) {
    .sequence-menu {
      display: none;
    }
  }

  @media all and (min-width: $laptop-breakpoint) {
    padding-bottom: 0;
    aside {
      margin-bottom: 0;
    }
    aside + aside {
      margin-top: $body-margin;
    }
    #grid-max-panel-left-bottom,
    #grid-max-panel-right-bottom {
      margin: 0 auto;
    }
  }
}
