@use "constants" as *;
@use "calculations" as *;
@use "settings" as *;

article {
	border-bottom: $body-margin-quarter solid $paper;
	margin: 0 auto $body-margin;
	max-width: $max-width;
	aside {
		color: $lighter-brown;
		font-family: $sans-alt;
		font-size: $font-size-aside;
		margin-bottom: $body-margin;
	}
}

#grid-max-panel-left-top,
#grid-max-panel-right-top,
#grid-max-panel-left-bottom,
#grid-max-panel-right-bottom,
#grid-body,
#body-text {
	margin: 0 auto;
	max-width: $max-content-width;
}

#grid-max-panel-left-bottom,
#grid-max-panel-right-bottom {
	margin: $body-margin auto 0 auto;
}

.reviewed {
	border: 1px solid $faint-line;
	font-size: 1rem;
	margin-bottom: $body-margin;
	padding: $body-margin-half;
	.title {
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	.author {
		white-space: nowrap;
	}
	.publisher {
		white-space: nowrap;
	}
	p {
		// margin-bottom: $body-margin-half;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

@media screen and (min-width: $mobile-breakpoint-plusone) {
	article {
		aside {
			margin-bottom: 0;
		}
		padding-bottom: $body-margin;
	}
}

@media screen and (min-width: $laptop-breakpoint) {
	article {
		padding-bottom: 0;
	}
}
