@use "constants" as *;
@use "calculations" as *;
@use "settings" as *;
@use "mixins-etc" as *;

#bookmark-list li {
  opacity: 1;
  height: 100%;
  @include ease-out();
  position: relative;
  button {
    color: $lightest-brown;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    position: absolute;
    right: 0;
    bottom: 0.75rem;
    &:hover {
      color: $light-brown;
    }
  }
  &:last-of-type {
    button {
      bottom: 0;
    }
  }
}
.bookmark-compact {
  text-transform: lowercase;
  font-style: italic;
}
.bookmark-glyph {
  animation-timing-function: ease-in;
  animation: fadeIn 1s;
  border: 4px solid #908984;
  border-bottom: 4px solid rgba(0, 0, 0, 0);
  border-top: 1;
  box-sizing: border-box;
	display:inline-block;
	height: 18px;
  margin-right: 6px;
  opacity: 0.5;
  overflow: visible;
	vertical-align: middle;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.33;
  }
}
.bookmark-destination {
  position: fixed;
  top: 50%;
  right: 10rem;
  animation: fadeOut 1s;
  animation-timing-function: ease-in;
  opacity: 0;
}

.promo {
  position: relative;
  // .bookmark {
  // 	font-family: $sans;
  // 	font-size: $font-size-tiny;
  // 	overflow: visible;
  // 	position: absolute;
  // 	right: 1rem;
  // 	top: 0;
  // }
}

.bookmark-promo.promo.Djarju header h1 {
  display: none;
}

#bookmarks-one,
#bookmarks-none,
#bookmarks-multiple {
  display: none;
}

.bookmarks-one #bookmarks-one {
  display: block;
}

.bookmarks-none #bookmarks-none {
  display: block;
}

.bookmarks-multiple #bookmarks-multiple {
  display: block;
}
