@use "constants" as *;
@use "calculations" as *;
@use "settings" as *;

#bookmark-list li {
	position: relative;
	button {
		color: $lightester-brown;
		cursor: pointer;
		display: block;
		font-size: 1rem;
		position: absolute;
		right: -1.5rem;
		top: 0;
		&:hover {
			color: $brown;
		}
	}
}
.bookmark {
	align-items: center;
	border: 14px solid $lightest-brown;
	border-top: 13px;
	border-bottom: 10px solid transparent;
	box-sizing: border-box;
	color: $paper;
	cursor: pointer;
	display: flex;
	font-size: 1rem;
	height: 45px;
	justify-content: center;
	width: 0;
	font-family: $sans;
	font-size: $font-size-tiny;
	overflow: visible;
	position: absolute;
	right: 0;
	top: 0;
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.bookmark-destination {
	position: fixed;
	top: 50%;
	right: 10rem;
	animation: fadeOut 3s;
	animation-timing-function: ease-in;
	opacity: 0;
}

.promo {
	position: relative;
	// .bookmark {
	// 	font-family: $sans;
	// 	font-size: $font-size-tiny;
	// 	overflow: visible;
	// 	position: absolute;
	// 	right: 1rem;
	// 	top: 0;
	// }
}
