@use "constants" as *;

$blue: hsl($blue-hue, $saturation, $lightness);
$blue-green: hsl($blue-green-hue, $saturation, $lightness);
$blue3: hsl($blue3-hue, $saturation, $lightness);
$dark-blue: hsl($dark-blue-hue, $saturation, $lightness);
$green: hsl($green-hue, $saturation, $lightness);
$dark-green: hsl($dark-green-hue, $saturation, $lightness);
$magenta: hsl($magenta-hue, $saturation, $lightness);
$mustard: hsl($mustard-hue, $saturation, $lightness);
$orange: hsl($orange-hue, $saturation, $lightness);
$pink: hsl($pink-hue, $saturation, $lightness);
$red: hsl($red-hue, $saturation, $lightness);
$reddish-pink: hsl($reddish-pink-hue, $saturation, $lightness);
$violet: hsl($violet-hue, $saturation, $lightness);
$yellow: hsl($yellow-hue, $saturation, $lightness);
