@use "constants" as *;
@use "calculations" as *;
@use "settings" as *;
@use "mixins-monthly-colour" as *;

h1 {
  color: $h1-color;
}
h2 {
  color: $h2-color;
  .author {
    color: $h2-a-color;
  }
}
h3 {
  color: $h3-color;
}
.header-label {
  color: $header-label-color;
}
h5 {
  color: $h5-color;
}

// Make it this month
// .editorial,
// .promo-2 {
//   // @include zigzag($mejju);
//   @include vertical-stripes($ġunju);
//   // background-color: lighten($mejju, $lightest);
// }
.jannar {
  @include monthly-colour($jannar);
}

.frar {
  @include monthly-colour($frar);
}

.marzu {
  @include monthly-colour($marzu);
}

.april {
  @include monthly-colour($april);
}

.mejju {
  @include monthly-colour($mejju);
}

.gunju {
  @include monthly-colour($ġunju);
}

.lulju {
  @include monthly-colour($lulju);
}

.awwissu {
  @include monthly-colour($awwissu);
}

.settembru {
  @include monthly-colour($settembru);
}

.ottubru {
  @include monthly-colour($ottubru);
}

.novembru {
  @include monthly-colour($novembru);
}

.dicembru {
  @include monthly-colour($diċembru);
}

figure.ktieb,
.story.ktieb,
.promo.promo-ktieb,
figure.poddata,
.story.poddata,
.promo.promo-poddata {
  @include monthly-colour($podcast-beige);
}

// This month

.ga-newsletter {
  padding: 32px;
  border-image-outset: 10px;
  border-image-repeat: repeat;
  border-image-slice: 80;
  border-image-width: 40px;
}

.this-month-jannar {
  @include this-issue-month-colour($jannar);
}

.this-month-frar {
  @include this-issue-month-colour($frar);
}

.this-month-marzu {
  @include this-issue-month-colour($marzu);
}

.this-month-april {
  @include this-issue-month-colour($april);
}

.this-month-mejju {
  @include this-issue-month-colour($mejju);
}

.this-month-gunju {
  @include this-issue-month-colour($ġunju);
}

.this-month-lulju {
  @include this-issue-month-colour($lulju);
}

.this-month-awwissu {
  @include this-issue-month-colour($awwissu);
}

.this-month-settembru {
  @include this-issue-month-colour($settembru);
}

.this-month-ottubru {
  @include this-issue-month-colour($ottubru);
}

.this-month-novembru {
  @include this-issue-month-colour($novembru);
}

.this-month-dicembru {
  @include this-issue-month-colour($diċembru);
}
