@use "constants" as *;
@use "calculations" as *;
@use "settings" as *;
@use "mixins-monthly-colour" as *;

h1 {
  color: $h1-color;
}
h2 {
  color: $h2-color;
  .author {
    color: $h2-a-color;
  }
}
h3 {
  color: $h3-color;
}
.header-label {
  color: $header-label-color;
}
h5 {
  color: $h5-color;
}

// Make it this month
// .editorial,
// .promo-2 {
//   // @include zigzag($mejju);
//   @include vertical-stripes($ġunju);
//   // background-color: lighten($mejju, $lightest);
// }

// FIXME
* {
  -webkit-tap-highlight-color: rgba($color: $this-month, $alpha: 0.2);
}

.mejju {
  @include monthly-colour($mejju);
}

.gunju {
  @include monthly-colour($ġunju);
}

.lulju {
  @include monthly-colour($lulju);
}

.awwissu {
  @include monthly-colour($awwissu);
}

.settembru {
  @include monthly-colour($settembru);
}

.ottubru {
  @include monthly-colour($ottubru);
}

.novembru {
  @include monthly-colour($novembru);
}

.dicembru {
  @include monthly-colour($diċembru);
}

.jannar {
  @include monthly-colour($jannar);
}

.frar {
  @include monthly-colour($frar);
}

.marzu {
  @include monthly-colour($marzu);
}

.april {
  @include monthly-colour($april);
}

figure.poddata,
.story.poddata,
.promo.promo-poddata {
  @include monthly-colour($podcast-beige);
}
