@use "constants" as *;
@use "calculations" as *;
@use "settings" as *;
@use "mixins-monthly-colour" as *;

h1 {
  color: $h1-color;
}
h2 {
  color: $h2-color;
  .author {
    color: $h2-a-color;
  }
}
h3 {
  color: $h3-color;
}
.header-label {
  color: $header-label-color;
}
h5 {
  color: $h5-color;
}

// Make it this month
// .editorial,
// .promo-2 {
//   // @include zigzag($mejju);
//   @include vertical-stripes($ġunju);
//   // background-color: lighten($mejju, $lightest);
// }

.jannar {
  @include monthly-colour($jannar);
}

.frar {
  @include monthly-colour($frar);
}

.marzu {
  @include monthly-colour($marzu);
}

.april {
  @include monthly-colour($april);
}

.mejju {
  @include monthly-colour($mejju);
}

.gunju {
  @include monthly-colour($ġunju);
}

.lulju {
  @include monthly-colour($lulju);
}

.awwissu {
  @include monthly-colour($awwissu);
}

.settembru {
  @include monthly-colour($settembru);
}

.ottubru {
  @include monthly-colour($ottubru);
}

.novembru {
  @include monthly-colour($novembru);
}

.dicembru {
  @include monthly-colour($diċembru);
}

figure.poddata,
.story.poddata,
.promo.promo-poddata {
  @include monthly-colour($podcast-beige);
}

// This month

.ga-newsletter {
  padding: 32px;
  border-image-outset: 10px;
  border-image-repeat: repeat;
  border-image-slice: 80;
  border-image-width: 40px;
}

body.jannar {
  @include this-month-colour($jannar);
}

body.frar {
  @include this-month-colour($frar);
}

body.marzu {
  @include this-month-colour($marzu);
}

body.april {
  @include this-month-colour($april);
}

body.mejju {
  @include this-month-colour($mejju);
}

body.gunju {
  @include this-month-colour($ġunju);
}

body.lulju {
  @include this-month-colour($lulju);
}

body.awwissu {
  @include this-month-colour($awwissu);
}

body.settembru {
  @include this-month-colour($settembru);
}

body.ottubru {
  @include this-month-colour($ottubru);
}

body.novembru {
  @include this-month-colour($novembru);
}

body.dicembru {
  @include this-month-colour($diċembru);
}
