@use "constants" as *;
@use "calculations" as *;
@use "settings" as *;
@use "mixins-etc" as *;

.editorial {
  padding: $body-margin 0;
  border-image-outset: 40px;
  border-image-repeat: repeat;
  border-image-slice: 80;
  border-image-source: url(/img/deco/frame-02-faint-TEMPLATE.svg);
  border-image-width: 80px;
  border-radius: 25px;
  margin-bottom: $body-margin-double;
  background-color: $deco-brown;
  .text-container {
    display: block !important;
    // border: 10px double red;
    padding: 2.2rem $body-margin;
    .fx1 {
      font-family: "Alegreya Sans SC Regular";
      text-transform: lowercase;
    }
  }
  .end-dot {
    border-radius: 0;
  }
}

@media all and (min-width: $laptop-breakpoint) {
  .container-generic {
    .editorial {
      margin-left: -3rem;
      max-width: 47rem;
      width: 47rem;
      .text-container {
        padding: $body-margin $body-margin * 1.5;
      }
    }
  }
}
