@use "constants" as *;
@use "calculations" as *;
@use "settings" as *;
@use "mixins-etc" as *;

article.djarju {
	.container {
		grid-template-areas:
			"grid-max-panel-left-top grid-max-body grid-max-panel-right-top"
			"grid-max-panel-left-bottom grid-max-body grid-max-panel-right-bottom"
			"grid-bottom-full grid-bottom-full grid-bottom-full";
		.end-dot {
			color: $lighter-brown;
			background-color: $lighter-brown;
		}
	}
	&.content {
		h1 {
			color: $lighter-brown;
		}
		border-bottom-color: $lighter-brown;
		p.break {
			margin-top: $body-margin;
		}
	}
	@media all and (min-width: $laptop-breakpoint) {
		.container {
			grid-template-areas:
				"grid-max-panel-left-top grid-max-body grid-max-panel-right-top"
				"grid-max-panel-left-bottom grid-max-body grid-max-panel-right-bottom"
				"grid-bottom-full grid-bottom-full grid-bottom-full";
		}
		#grid-body {
			border: 1px dashed $lightester-brown;
			border-width: 0 1px;
			box-sizing: content-box;
			margin-left: $body-margin * -1;
			padding: 0 $body-margin;
			width: calc(100% + $body-margin * 2);
		}
	}
}
a.promo-djarju {
	p {
		@include clamp(3);
	}
	@media all and (min-width: $laptop-breakpoint) {
		&:hover {
			header {
				h3 {
					&::after {
						@include animated-underline-post();
					}
				}
				h4 {
					color: $dark-brown;
				}
			}
		}
	}
}
