@font-face {
	font-family: "Alegreya";
	src: url("/fonts/Alegreya-VariableFont_wght.ttf") format("truetype");
	// src: url("/fonts/Alegreya-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Alegreya";
	src: url("/fonts/Alegreya-VariableFont_wght.ttf") format("truetype");
	// src: url("/fonts/Alegreya-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "Alegreya";
	// src: url("/fonts/Alegreya-MediumItalic.ttf") format("truetype");
	src: url("/fonts/Alegreya-Italic-VariableFont_wght.ttf") format("truetype");
	font-style: italic;
	font-weight: 500;
}

// Alegreya-VariableFont_wght.ttf
// Alegreya-Italic-VariableFont_wght.ttf

@font-face {
	font-family: "Alegreya";
	src: url("/fonts/Alegreya-Italic-VariableFont_wght.ttf") format("truetype");
	// src: url("/fonts/Alegreya-Italic.ttf") format("truetype");
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: "Alegreya";
	src: url("/fonts/Alegreya-VariableFont_wght.ttf") format("truetype");
	// src: url("/fonts/Alegreya-SemiBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: "Alegreya";
	src: url("/fonts/Alegreya-Italic-VariableFont_wght.ttf") format("truetype");
	// src: url("/fonts/Alegreya-SemiBoldItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 600;
}
@font-face {
	font-family: "Alegreya Sans";
	src: url("/fonts/AlegreyaSans-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "Alegreya Sans";
	src: url("/fonts/AlegreyaSans-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "Alegreya Sans";
	src: url("/fonts/AlegreyaSans-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Alegreya Sans";
	src: url("/fonts/AlegreyaSans-Italic.ttf") format("truetype");
	font-style: italic;
	font-weight: 400;
}
@font-face {
	font-family: "Fira Sans";
	src: url("/fonts/FiraSans-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Noto Sans Arabic";
	src: url("/fonts/NotoSansArabic-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "Alegreya Sans Arabic Fallback";
	src: url("/fonts/AlegreyaSans-Regular.ttf") format("truetype");
	size-adjust: 87%;
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: "Cinzel Decorative";
	src: url("/fonts/CinzelDecorative-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: "Alegreya Sans SC Regular";
	src: url("/fonts/AlegreyaSansSC-Regular.ttf") format("truetype");
	font-style: normal;
	font-variant: small-caps;
	font-weight: 400;
	text-transform: lowercase;
}

@font-face {
	font-family: "Alegreya Sans SC Medium";
	src: url("/fonts/AlegreyaSansSC-Medium.ttf") format("truetype");
	font-style: normal;
	font-variant: small-caps;
	font-weight: 500;
	text-transform: lowercase;
}

@font-face {
	font-family: "Alegreya Sans SC Bold";
	src: url("/fonts/AlegreyaSansSC-Bold.ttf") format("truetype");
	font-style: normal;
	font-variant: small-caps;
	font-weight: 700;
	text-transform: lowercase;
}

@font-face {
	font-family: "Alegreya SC Regular";
	src: url("/fonts/AlegreyaSC-Regular.ttf") format("truetype");
	font-style: normal;
	font-variant: small-caps;
	font-weight: 400;
	text-transform: lowercase;
}
@font-face {
	font-family: "Alegreya SC Regular";
	src: url("/fonts/AlegreyaSC-Italic.ttf") format("truetype");
	font-style: italic;
	font-variant: small-caps;
	font-weight: 400;
	text-transform: lowercase;
}
