#optInOutWrapper {
	display: flex;
	align-content: flex-start;
	align-items: baseline;
}

#optInOut {
	margin-right: 0.25rem;
}

@media screen and (min-width: 750px) {
	#optInOut {
		margin-right: 0.5rem;
	}
}
