@use "constants" as *;
@use "calculations" as *;
@use "settings" as *;

.generic {
	// font-size: $font-size-furniture;
	.promo-list {
		margin-top: $body-margin;
		.promo {
			header {
				margin: 0 0 $body-margin-quarter;
			}
			display: block;
			margin-bottom: $body-margin;
			// &:last-of-type {
			// 	margin-bottom: 0;
			// }
			h1.translated {
				display: inline-block;
				position: relative;
				// white-space: nowrap;
				&:after {
					color: $lightest-brown;
					content: "\2009tr";
					position: absolute;
				}
			}
		}
	}
}
