@use "constants" as *;
@use "calculations" as *;
@use "settings" as *;

.generic {
	// font-size: $font-size-furniture;
	.promo-list {
		margin-top: $body-margin;
		.promo {
			header {
				margin: 0 0 $body-margin-quarter;
				.as-translator {
					h1 {
						display: inline;
					}
					span {
						color: $lightest-brown;
						font-family: $serif, serif;
						font-size: 2rem;
						font-weight: bold;
					}
				}
			}
			display: block;
			margin-bottom: $body-margin;
		}
	}
}
