@use "constants" as *;
@use "calculations" as *;
@use "settings" as *;

@media all and (max-width: $mobile-breakpoint) {
	.promos-container .promo-list li {
		border-bottom: 1px solid $grid-lines;
		margin: $body-margin auto;
		padding-bottom: calc(#{$body-margin} - 1px);
		&:last-of-type {
			border-bottom: none;
			margin: 0;
			padding-bottom: 0;
		}
	}
}

@media all and (min-width: $mobile-breakpoint-plusone) {
	.container,
	.promos-container {
		gap: $body-margin ($body-margin * 2);
		margin: $body-margin auto 0;
		max-width: $max-content-width;
	}
	.promos-container {
		max-width: $max-width;
		columns: 3;
		column-rule: 1px solid $grid-lines;
		column-gap: $body-margin * 1.5;
		li {
			break-inside: avoid;
		}
	}
}

@media all and (min-width: $laptop-breakpoint) {
	.container {
		max-width: $max-width;
		display: grid;
		grid-template-columns: 1fr $max-content-width 1fr;
		grid-template-rows: auto auto auto;
		grid-auto-flow: row;
		grid-template-areas:
			"grid-max-panel-left-top grid-max-body grid-max-panel-right-top"
			"grid-max-panel-left-bottom grid-max-body grid-max-panel-right-bottom"
			"grid-bottom-full grid-bottom-full grid-bottom-full";
	}

	.container-generic {
		max-width: $max-width;
		display: grid;
		grid-template-columns: 1fr $max-content-width 1fr;
		grid-template-rows: auto;
		grid-auto-flow: row;
		grid-template-areas: "grid-max-panel-left-top grid-max-body grid-max-panel-right-top";
	}

	#grid-body {
		grid-area: grid-max-body;
		&:last-child {
			margin-bottom: 0;
		}
	}

	#grid-max-panel-left-bottom {
		grid-area: grid-max-panel-left-bottom;
	}
	#grid-max-panel-right-bottom {
		grid-area: grid-max-panel-right-bottom;
	}
	#grid-max-panel-left-top {
		grid-area: grid-max-panel-left-top;
	}
	#grid-max-panel-right-top {
		grid-area: grid-max-panel-right-top;
	}

	#grid-max-panel-left-bottom,
	#grid-max-panel-right-bottom {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	#grid-bottom-full {
		grid-area: grid-bottom-full;
	}

	div,
	section,
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}
