@use "constants" as *;
@use "calculations" as *;
@use "settings" as *;

@media screen and (max-width: $mobile-breakpoint) {
	.promo-1,
	.promo-2 {
		border-bottom: 1px solid $grid-lines;
		margin-bottom: $body-margin;
		padding-bottom: calc(#{$body-margin} - 1px);
	}
}

@media screen and (min-width: $mobile-breakpoint-plusone) {
	.container,
	.promos-container {
		gap: $body-margin ($body-margin * 2);
		margin: 0 auto;
	}
}

@media screen and (min-width: $laptop-breakpoint) {
	.grid-mid-panel-top {
		grid-area: unset;
	}
	.grid-mid-panel-bottom {
		grid-area: unset;
		display: block;
	}

	.container {
		max-width: $max-width;
		display: grid;
		grid-template-columns: 1fr $max-content-width 1fr;
		grid-template-rows: auto auto auto;
		grid-auto-flow: row;
		grid-template-areas:
			"grid-max-panel-left-top grid-max-body grid-max-panel-right-top"
			"grid-max-panel-left-bottom grid-max-body grid-max-panel-right-bottom"
			"grid-bottom-full grid-bottom-full grid-bottom-full";
	}

	.grid-body {
		grid-area: grid-max-body;
		&:last-child {
			margin-bottom: 0;
		}
	}

	.grid-max-panel-left-bottom {
		grid-area: grid-max-panel-left-bottom;
	}
	.grid-max-panel-right-bottom {
		grid-area: grid-max-panel-right-bottom;
	}
	.grid-max-panel-left-top {
		grid-area: grid-max-panel-left-top;
	}
	.grid-max-panel-right-top {
		grid-area: grid-max-panel-right-top;
	}

	.grid-max-panel-left-bottom,
	.grid-max-panel-right-bottom {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	.grid-bottom-full {
		grid-area: grid-bottom-full;
	}

	aside,
	div,
	section,
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}

	.promos-container {
		max-width: $max-width;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
		gap: $body-margin;
		grid-auto-flow: row;
		grid-template-areas: "promo-1 promo-2 promo-3";
	}

	.promo-1 {
		grid-area: promo-1;
	}
	.promo-2 {
		grid-area: promo-2;
	}
	.promo-3 {
		grid-area: promo-3;
	}

	.promo-1,
	.promo-2 {
		border-right: 1px solid $grid-lines;
		margin-right: $body-margin-half;
		padding-right: calc(#{$body-margin * 1.25} - 1px);
	}
}
