@use "constants" as *;
@use "calculations" as *;
@use "settings" as *;
@use "mixins-etc" as *;

.ga-podcast {
  background-color: #ac9393;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ga-diary {
	border: 1px dashed $lightest-brown;
  padding: $body-margin $body-margin 0;
	.header-djarju {
		display: none;
	}
	h1 .diary-title {
    font-size: 1.4rem;
    text-transform: uppercase;
  }
  p {
    @include clamp(13);
  }
  a {
    margin-bottom: 1rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

nav.category-menu {
	margin-bottom: $body-margin-half;
	li {
		display: inline-block;
		font-size: $body-font-size;
		white-space: nowrap;
		&.header {
			font-family: "Alegreya Sans SC";
			letter-spacing: 1px;
			margin-right: $body-margin-quarter;
			text-transform: lowercase;
		}
		a{
			padding-left: 0.25rem;
			@include animated-underline($lighter-brown);
		}
	}
}

a.promo-poetry {
  &:after {
    content: ". . .";
    position: absolute;
    bottom: $body-margin-half;
    right: $body-margin-half;
  }
}

.ga-1,
.ga-2,
.ga-3,
.ga-4,
.ga-5,
.ga-6,
.ga-7,
.ga-8,
.ga-9,
.ga-10,
.ga-11,
.ga-12,
.ga-image-1,
.ga-image-2,
.ga-image-3,
.ga-poem-1,
.ga-poem-2,
.ga-poem-3,
.ga-diary,
.ga-terms,
.ga-editorial,
.ga-newsletter,
.ga-podcast,
.ga-book-image-promo,
.ga-books {
  display: flex;
  flex-direction: column;
  position: relative;
  // *:last-of-type {
  // 	margin-bottom: 0;
  // }
}
.ga-1 {
  grid-area: ga1;
}
.ga-2 {
  grid-area: ga2;
}
.ga-3 {
  grid-area: ga3;
}
.ga-4 {
  grid-area: ga4;
}
.ga-5 {
  grid-area: ga5;
}
.ga-6 {
  grid-area: ga6;
}
.ga-7 {
  grid-area: ga7;
}
.ga-8 {
  grid-area: ga8;
}
.ga-9 {
  grid-area: ga9;
}
.ga-10 {
  grid-area: ga10;
}
.ga-11 {
  grid-area: ga11;
}
.ga-12 {
  grid-area: ga12;
}
.ga-image-1 {
  grid-area: ga-image-1;
}
.ga-image-2 {
  grid-area: ga-image-2;
}
.ga-image-3 {
  grid-area: ga-image-3;
}
.ga-poem-1 {
  grid-area: ga-poem-1;
}
.ga-poem-2 {
  grid-area: ga-poem-2;
}
.ga-poem-3 {
  grid-area: ga-poem-3;
}
.ga-diary {
  flex-direction: column;
  grid-area: ga-diary;
  p {
    @include clamp(10);
  }
}
.ga-books {
	grid-area: ga-books;
}
.ga-editorial {
  grid-area: ga-editorial;
  margin-top: $body-margin;
  &.editorial {
    margin-bottom: $body-margin-half;
  }
  p {
    @include clamp(16);
  }
}
.ga-newsletter {
  grid-area: ga-newsletter;
}
.ga-podcast {
  grid-area: ga-podcast;
}
.ga-book-image-promo {
	grid-area: ga-book-image-promo;
}
.ga-terms {
  grid-area: ga-terms;
  border: 1px solid hsl(280, 30%, 35%);
  padding: $body-margin $body-margin 0;
  position: relative;
  h1 {
    margin: 0;
  }
  .label {
    background-color: hsl(280, 30%, 80%);
    color: hsl(280, 30%, 35%);
    display: inline-block;
    position: absolute;
    right: 1px;
    text-align: right;
    top: 1px;
    padding: $body-margin-quarter * 0.5;
  }
}
.ga-diary,
.ga-terms {
  .promo {
    display: block;
  }
}

@media all and (max-width: ($laptop-breakpoint - 1)) {
  .layout-1,
  .layout-2,
  .layout-3,
  .layout-4,
  .layout-5,
  .layout-6,
  .layout-7,
  .layout-8,
  .layout-9 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    gap: $body-margin $body-margin;
  }
}

@media all and (min-width: $mobile-breakpoint-plusone) and (max-width: ($laptop-breakpoint - 1)) {
  article.home {
    margin: 0 15%;
  }
}


@media all and (min-width: $laptop-breakpoint) {
  .ga-editorial {
    margin-top: 0;
    &.editorial {
      height: 100%;
      .text-container {
        height: 100%;
      }
      margin-bottom: 0;
    }
  }
  .home .ga-diary {
    h1 {
      display: none;
    }
    h3 {
      letter-spacing: -0.5px;
    }
  }
  .ga-terms .term-promos {
    columns: 3;
    a.promo {
      padding-bottom: 0;
    }
    .label {
      &:hover {
        @include ease-in(0.35s);
        color: hsl(280, 30%, 80%);
        background-color: hsl(280, 30%, 35%);
      }
    }
  }
  .ga-diary,
  .ga-terms {
    .promo {
      padding: 0;
    }
  }
}

.ga-book-image-promo {
	border: 1px solid $lightest-brown;
	padding: $body-margin;
	figure {
		margin: 0
	}
	aside {
		display: none
	}
	@media all and (min-width: $laptop-breakpoint) {
		align-items: center;
		display: flex;
		justify-content: center;
		margin-top: $body-margin-half;
		img {
			height: $body-margin * 16;
		}
	}
}

.home .ga-books {
	display: none !important;
}
