@use "constants" as *;
@use "calculations" as *;
@use "settings" as *;
@use "mixins-etc" as *;
@use "mixins-home-grids" as *;

// *************************************************************************
// LAYOUT 7 ****************************************************************
// Large text story on top
// Then Story, Poem and editorial on top

.layout-7 {
	.ga-diary {
		display: none;
	}
	grid-template-areas:
		"ga1"
		"ga-poem-1"
		"ga2"
		"ga-editorial"
		"ga-podcast"
		"ga3"
		"ga-image-1"
		"ga4"
		"ga-newsletter"
		"ga5"
		"ga6"
		"ga-image-2"
		"ga7"
		"ga8"
		"ga9"
		"ga10";
	// "ga11"
	// "ga12";
	.ga-1 {
		p {
			@include clamp(15);
		}
	}
	.ga-3,
	.ga-image-1,
	.ga-5,
	.ga-6,
	.ga-image-2,
	.ga-7,
	.ga-8,
	.ga-9 {
		@include border-bottom();
	}

	@media all and (min-width: $laptop-breakpoint) {
		.ga-podcast {
			display: none;
		}
		.ga-1,
		.ga-3,
		.ga-image-1,
		.ga-5,
		.ga-6,
		.ga-image-2,
		.ga-7,
		.ga-8,
		.ga-9 {
			padding-bottom: 0;
			border-bottom: none;
		}
		display: grid;
		gap: ($body-margin * 1.25) $body-margin;
		grid-template-rows: auto auto auto auto 12rem auto auto auto;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-auto-columns: 1fr;
		grid-auto-flow: row;
		grid-template-areas:
			"ga1 ga1 ga1 ga1 ga1 ga1"
			"ga2 ga2 ga-poem-1 ga-poem-1 ga-editorial ga-editorial"
			"ga-image-1 ga-image-1 ga-image-1 ga-image-1 ga-image-1 ga-image-1"
			"ga3 ga3 ga3 ga4 ga4 ga4"
			"ga-newsletter ga-newsletter ga-newsletter ga4 ga4 ga4"
			"ga5 ga5 ga6 ga6 ga7 ga7"
			"ga8 ga8 ga9 ga9 ga10 ga10"
			"ga-image-2 ga-image-2 ga-image-2 ga-image-2 ga-image-2 ga-image-2";
		.ga-1 {
			@include border-bottom();
			p {
				@include clamp(999);
				columns: 3;
			}
		}
		.ga-2 {
			p {
				@include clamp(17);
			}
		}
		.ga-4 {
			p {
				@include clamp(999);
				columns: 2;
			}
		}
		.ga-3 {
			p {
				@include clamp(8);
			}
		}
		.ga-poem-1 {
			p {
				@include clamp(15);
			}
		}
		.ga-image-1 {
			@include border-top();
			@include border-bottom();
			@include image-right;
		}
		.ga-image-2 {
			@include border-top();
			@include image-left;
		}
	}
}
