@use "constants" as *;
@use "calculations" as *;
@use "settings" as *;
@use "mixins-etc" as *;
@use "mixins-home-grids" as *;

// *************************************************************************
// LAYOUT 1 ****************************************************************
// Large image story on top
// Then Story and editorial

.layout-1 {
  grid-template-areas:
    "ga-image-1"
    "ga-editorial"
    "ga-diary"
    "ga1"
    "ga2"
    "ga-newsletter"
    "ga3"
    "ga-poem-1"
    "ga4"
    "ga-podcast"
    "ga-image-2";
  .ga-image-1 {
    margin-bottom: $body-margin-half;
  }
  .ga-1,
  .ga-5 {
    @include border-bottom();
  }

  @media all and (min-width: $laptop-breakpoint) {
    .ga-1,
    .ga-2,
    .ga-3,
    .ga-image-1,
    .ga-5,
    .ga-6,
    .ga-image-2,
    .ga-7,
    .ga-8,
    .ga-9 {
      padding-bottom: 0;
      border-bottom: none;
    }
    display: grid;
    gap: ($body-margin * 1.25) $body-margin;
    grid-template-rows: auto 14rem 15rem auto auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    grid-template-areas:
      "ga-image-1 ga-image-1 ga-image-1 ga-image-1 ga-image-1 ga-image-1"
      "ga-diary ga-diary ga-newsletter ga-newsletter ga-editorial ga-editorial"
      "ga-diary ga-diary ga-podcast ga-podcast ga-editorial ga-editorial"
      "ga-image-2 ga-image-2 ga-image-2 ga-image-2 ga-image-2 ga-image-2"
      "ga-poem-1 ga-poem-1 ga1 ga1 ga2 ga2"
      "ga-poem-1 ga-poem-1 ga3 ga3 ga4 ga4";
    .ga-1,
    .ga-2 {
      @include border-bottom();
    }
    .ga-editorial {
      p:nth-of-type(2) {
        @include clamp(12);
      }
    }
    .ga-poem-1 {
      p {
        @include clamp(18);
      }
    }
    .ga-image-1 {
      @include image-left-top;
      @include border-bottom();
    }
    .ga-image-2 {
      @include border-top();
      @include border-bottom();
      @include image-right;
    }
  }
}
