@use "constants" as *;
@use "calculations" as *;
@use "settings" as *;
@use "mixins-etc" as *;
@use "mixins-home-grids" as *;

// *************************************************************************
// LAYOUT 7 ****************************************************************
// Large image story on top
// Then Story and editorial

.layout-7 {
  grid-template-areas:
		"ga1"
    "ga2"
    "ga-editorial"
    "ga-diary"
    "ga-poem-1"
		"ga-image-1"
    "ga-image-2"
    "ga-newsletter"
    "ga3"
    "ga4"
    "ga-podcast"
    "ga5"
    "ga6"
    "ga-image-3"
    "ga7"
		"ga-book-image-promo"
    "ga8"
    "ga-terms"
    "ga9"
    "ga10"
    "ga11"
		"ga-books";
  .ga-1,
  .ga-3,
  .ga-5,
  .ga-6,
  .ga-11,
  .ga-image-1,
  .ga-image-2,
	.ga-image-3 {
    @include border-bottom();
  }
  .ga-1 {
    p {
      @include clamp(10);
    }
  }
  .ga-poem-1 {
    p {
      @include clamp(15);
    }
  }
 .ga-diary {
		display: flex;
		flex-direction: column-reverse;
		& > ul > li:first-of-type .header-djarju {
			display:block;
		}
	}
  .ga-diary > ul > li {
    break-inside: avoid;
  }
	.ga-books {
		@include border-top();
	}
  @media all and (min-width: $laptop-breakpoint) {
    .ga-newsletter,
    .ga-podcast,
    .ga-image-1,
    .ga-image-2,
    .ga-image-3,
    .ga-1,
    .ga-2,
    .ga-3,
    .ga-4,
    .ga-5,
    .ga-6,
    .ga-7,
    .ga-8,
    .ga-9,
    .ga-10,
    .ga-11 {
      margin: 0;
      padding: 0;
      border: none;
    }
    .ga-newsletter,
    .ga-podcast {
			display: none;
		}
		display: grid;
    gap: $body-margin;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    grid-template-areas:
      "ga1 ga1 ga1 ga1 ga1 ga1"
		  "ga-diary ga-diary ga-diary ga-diary ga-diary ga-diary"
			"ga-poem-1 ga-poem-1 ga-book-image-promo ga-book-image-promo ga-editorial ga-editorial"
      "ga-image-1 ga-image-1 ga-image-1 ga-image-1 ga-image-1 ga-image-1"
      "ga2 ga2 ga2 ga2 ga2 ga2"
			"ga-image-2 ga-image-2 ga-image-2 ga-image-2 ga-image-2 ga-image-2"
      "ga3 ga3 ga4 ga4 ga5 ga5"
      "ga6 ga6 ga7 ga7 ga8 ga8"
      "ga-terms ga-terms ga-terms ga-terms ga-terms ga-terms"
      "ga9 ga9 ga10 ga10 ga11 ga11"
      "ga-image-3 ga-image-3 ga-image-3 ga-image-3 ga-image-3 ga-image-3"
			"ga-books ga-books ga-books ga-books ga-books ga-books";
    .ga-1 {
      margin-bottom: $body-margin-half;
      header {
        margin-bottom: $body-margin-half !important;
      }
      p {
        @include unclamp();
        columns: 3;
      }
    }
    .ga-2 {
      p {
        @include unclamp();
        columns: 3;
      }
    }
    .ga-image-2 {
      @include border-top();
		}
		.ga-image-1,
    .ga-image-2,
    .ga-3,
    .ga-4,
    .ga-5 {
      @include border-bottom();
    }
    .ga-editorial {
      p:nth-of-type(2) {
        @include clamp(13);
      }
    }
    .ga-poem-1 {
			margin-top: $body-margin-half;
      p {
        @include clamp(13);
      }
    }
    .ga-image-1 {
      @include image-left;
    }
    .ga-image-2 {
      @include image-right;
    }
    .ga-image-3 {
      @include image-left;
      p {
        @include clamp(15);
      }
    }
    .ga-diary {
			ul {
        columns: 3;
      }
			.header-djarju {
				display: block;
			}
    }
  }
}
