@use "constants" as *;
@use "calculations" as *;
@use "settings" as *;
@use "mixins-etc" as *;

article.ktieb-stampat {
  .container {
    .end-dot {
			background-color: $podcast-beige;
      border-radius: 0;
    }
  }
  &.content {
    h1 {
      color: $light-brown;
    }
    border-bottom-color: $podcast-beige;
    h5,
    h6,
    p {
      &.break {
        margin-top: $body-margin * 1.5;
      }
    }
  }
	figcaption {
		display: none;
	}
	.text-wrapper {
		margin-bottom: $body-margin;
	}
	.splide__track {
		box-shadow: 0 4px 8px 0 rgba(33, 90, 61, 0.5), 0 6px 20px 0 rgba(33, 90, 61, 0.5);
		overflow: unset;
		position: relative;
	}

.splide__track:before,
.splide__track:after {
  background: #777;
  bottom: 80%;
  box-shadow: 0 15px 10px 0 rgba(33, 90, 61, 0.5);
  content: "";
  left: auto;
  max-width:300px;
  position: absolute;
  right: 5px;
  top: 15px;
  transform: rotate(-182deg);
  width: 50%;
  z-index: -1;
}
.splide__track:after {
  bottom: 15px;
	box-shadow: 0 15px 10px 0 rgba(33, 90, 61, 0.5);
  top: 80%;
  transform: rotate(3deg);
  width: 50%;
  z-index: -2;
}
}

.pre-release #grid-body {
	.bookshops, .book-images {
		display: none;
	}
	.splide {
		// border: 1px solid $lightest-brown;
		margin-bottom: $body-margin;
		margin-left: 0;
		// padding: $body-margin-half;
		width: 100%;
		figure {
			margin: 0;
		}
	}
	@media all and (min-width: $mobile-breakpoint) {
		// .splide {
		// 	padding: $body-margin;
		// }
		.book-cover {
			display: none;
		}
		.book-images {
			display: block;
		}
	}
}


#book-panel {
	border: 1px solid $lightest-brown;
	display: flex;
	flex-direction: column-reverse;
	margin-bottom: $body-margin;
  padding: $body-margin-half;
	div.main {
		padding: $body-margin-half 0 0 0;
	}
  @media all and (min-width: $laptop-breakpoint) {
		flex-direction: row;
		div.main {
			padding: 0 $body-margin-half 0 0;
		}
		div.book-images {
			display: flex;
			flex-direction: column;
			& > img {
				&.book-cover,
				&.revolut-qr {
					height: $body-margin * 6;
					width: $body-margin * 6;
					min-height: $body-margin * 6;
					min-width: $body-margin * 6;
				}
				&.revolut-qr {
					border: 5px solid #000;
					border-radius: 10px;
					margin-top: $body-margin-quarter;
				}
			}
		}
	}
  a.order-button {
	  background-color: $brown;
		border-radius: 0.25rem;
    color: var(--paper);
		display: inline-block;
		font-family: $sans;
		font-size: 1.4rem;
		margin-top: $body-margin-half;
    padding: $body-margin-quarter $body-margin-half;
    text-transform: uppercase;
		&:hover {
	    background-color: $light-brown;
		}
  }
	img.revolut-logo {
		height: 0.7rem;
		margin-left: $body-margin-quarter;
	}
}

.books ul.promo-list > li {
	border-bottom: none;
	margin-bottom: none;
}

.promo-ktieb-stampat {
	background-image: url(/img/deco/inforra-cara-1.png);
	border: 1px solid $lightest-brown;
	padding: $body-margin;
	header {
		h1 {
			&::before {
				@include animated-underline-pre($light-brown);
				margin-left: 1em;
			}
			color: $light-brown !important;
		}
		h2 {
			position: relative;
			.author {
				white-space: unset;
			}
		}
	}
	div.body-text {
		p {
			@include clamp(3);
			font-family: $sans, sans-serif;
		}
		img {
			height: $body-margin * 7;
		}
		@media all and (min-width: $laptop-breakpoint) {
			display: flex;
			p {
				padding-right: $body-margin-half;
				@include clamp(7);
			}
			img {
				// display: block;
				// height: $body-margin * 7;
			}
		}
	}
	&[href*=antolo] h2 {
		display: none;
	}
}

.ga-book-image-promo {
	a {
		border: 1px solid $lightest-brown;
		padding: $body-margin-half;
	}
	@media all and (min-width: $mobile-breakpoint-plusone) {
		display: none !important;
	}
}

.end-promos .ga-book-image-promo {
	a {
		margin-top: $body-margin;
	}
}

.bookshops {
	background-color: $light-brown;
	border: 1px solid $lightest-brown;
	color: $lightest-brown;
	font-size: $body-font-size;
	padding: $body-margin-half;
	a {
    text-decoration: underline;
    text-decoration-color: $lighter-brown;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    text-decoration-skip-ink: auto;
	}
}
