@use "constants" as *;
@use "calculations" as *;
@use "settings" as *;
@use "mixins-etc" as *;

article.ktieb-stampat {
  .container {
    .end-dot {
			background-color: $podcast-beige;
      border-radius: 0;
    }
  }
  &.content {
    h1 {
      color: $light-brown;
    }
    // border-bottom-color: $podcast-beige;
    h5,
    h6,
    p {
      &.break {
        margin-top: $body-margin * 1.5;
      }
    }
  }
	figcaption {
		display: none;
	}
	.text-wrapper {
		margin-bottom: $body-margin;
	}
}

@mixin book-colour($colour: red, $shadow-lightness: 0) {
	.book-wrapper img {
		box-shadow: 0 -1px 3px 0 lighten($colour, $shadow-lightness),
								0 2px 5px 0 lighten($colour, $shadow-lightness);
		&:before,
		&:after {
			box-shadow: 0 5px 3px 0 lighten($colour, $shadow-lightness);
		}
	}
}

@mixin book-colour-full($colour: red, $shadow-lightness: 0) {
	.book-wrapper img {
		box-shadow: 0 -1px 10px 0 lighten($colour, $shadow-lightness),
								0 6px 20px 0 lighten($colour, $shadow-lightness);
		&:before,
		&:after {
			box-shadow: 0 15px 10px 0 lighten($colour, $shadow-lightness);
		}
	}
}

.book-wrapper img {
	overflow: unset;
	position: relative;
	width:100%;
	&:before,
	&:after {
		background: #777;
		bottom: 80%;
		content: "";
		left: auto;
		max-width:300px;
		position: absolute;
		right: 12px;
		top: 15px;
		transform: rotate(-182deg);
		width: 50%;
		z-index: -1;
	}
	&:after {
		bottom: 15px;
		top: 80%;
		transform: rotate(5deg);
		z-index: -2;
	}
}

$antologija1: #327a7d;
$antologija2: #72523d;
$antologija3: #603783;
$burmghez: #000000;
$essidr: #215a3d;
$martamarta: #7b7636;
$qarn: #c72231;
$saffo: #a94b6f;

.story-88 {
	@include book-colour($antologija1);
}
.story-115 {
	@include book-colour($qarn);
}
.story-141 {
	@include book-colour($essidr);
}
.story-142 {
	@include book-colour($martamarta);
}
.story-143 {
	@include book-colour($burmghez);
}
.story-144 {
	@include book-colour($saffo);
}
.story-145 {
	@include book-colour($antologija2);
}
.story-140 {
	@include book-colour($antologija3);
}

article {
	&.story-88 {
		@include book-colour-full($antologija1);
	}
	&.story-115 {
		@include book-colour-full($qarn);
	}
	&.story-141 {
		@include book-colour-full($essidr);
	}
	&.story-142 {
		@include book-colour-full($martamarta);
	}
	&.story-143 {
		@include book-colour-full($burmghez);
	}
	&.story-144 {
		@include book-colour-full($saffo);
	}
	&.story-145 {
		@include book-colour-full($antologija2);
	}
	&.story-140 {
		@include book-colour-full($antologija3);
	}
}

.pre-release #grid-body {
	.bookshops, .book-images {
		display: none;
	}
	.splide {
		// border: 1px solid $lightest-brown;
		margin-bottom: $body-margin;
		margin-left: 0;
		// padding: $body-margin-half;
		width: 100%;
		figure {
			margin: 0;
		}
	}
	@media all and (min-width: $mobile-breakpoint) {
		// .splide {
		// 	padding: $body-margin;
		// }
		.book-cover {
			display: none;
		}
		.book-images {
			display: block;
		}
	}
}


#book-panel {
	border: 1px solid $lightest-brown;
	display: flex;
	flex-direction: column-reverse;
	margin-bottom: $body-margin;
  padding: $body-margin-half;
	div.main {
		padding: $body-margin-half 0 0 0;
	}
  @media all and (min-width: $laptop-breakpoint) {
		flex-direction: row;
		div.main {
			padding: 0 $body-margin-half 0 0;
		}
		div.book-images {
			display: flex;
			flex-direction: column;
			& > img {
				&.book-cover,
				&.revolut-qr {
					height: $body-margin * 6;
					width: $body-margin * 6;
					min-height: $body-margin * 6;
					min-width: $body-margin * 6;
				}
				&.revolut-qr {
					border: 5px solid #000;
					border-radius: 10px;
					margin-top: $body-margin-quarter;
				}
			}
		}
	}
  a.order-button {
	  background-color: $brown;
		border-radius: 0.25rem;
    color: var(--paper);
		display: inline-block;
		font-family: $sans;
		font-size: 1.4rem;
		margin-top: $body-margin-half;
    padding: $body-margin-quarter $body-margin-half;
    text-transform: uppercase;
		&:hover {
	    background-color: $light-brown;
		}
  }
	img.revolut-logo {
		height: 0.7rem;
		margin-left: $body-margin-quarter;
	}
}

.books {
	@media all and (min-width: $tablet-breakpoint) {
		#grid-body {
			max-width: 100%;
			width: 100%;
			ul.promo-list {
				&> li {
					border-bottom: none;;
					float: left;
					width: 20.8%;
					margin: $body-margin;
				}
			}
		}
	}
}

.promo-ktieb-stampat {
	// background-image: url(/img/deco/inforra-cara-1.png);
	// border: 1px solid $lightest-brown;
	// padding: $body-margin;
	header {
		h1 {
			&::before {
				@include animated-underline-pre($light-brown);
				margin-left: 1em;
			}
			color: $light-brown !important;
		}
		h2 {
			position: relative;
			.author {
				white-space: unset;
			}
		}
	}
	img {
		margin: $body-margin-half 0 $body-margin;
		@media all and (min-width: $laptop-breakpoint) {
			margin: 0;
		}
	}
	div.body-text {
		display: flex;
		flex-direction: column-reverse;
		p {
			@include clamp(3);
			font-family: $sans, sans-serif;
		}
		@media all and (min-width: $laptop-breakpoint) {
			flex-direction: row;
			p {
				padding-right: $body-margin-half;
				@include clamp(7);
			}
			img {
				height: $body-margin * 7;
			}
		}
	}
	&[href*=antolo] h2 {
		display: none;
	}
}

.ga-book-image-promo {
	a {
		border: 1px solid $lightest-brown;
		padding: $body-margin-half;
	}
	@media all and (min-width: $mobile-breakpoint-plusone) {
		display: none !important;
	}
}

.end-promos .ga-book-image-promo {
	a {
		margin-top: $body-margin;
	}
}

.bookshops {
	background-color: $light-brown;
	border: 1px solid $lightest-brown;
	color: $lightest-brown;
	font-size: $body-font-size;
	padding: $body-margin-half;
	a {
    text-decoration: underline;
    text-decoration-color: $lighter-brown;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    text-decoration-skip-ink: auto;
	}
}
