@use "constants" as *;
@use "calculations" as *;
@use "settings" as *;
@use "mixins-etc" as *;
@use "mixins-home-grids" as *;

$terminu-color: $light-brown;

.promo-terminu {
	h1 {
		color: $terminu-color !important;
	}
	h2 {
		display: none;
	}
}

article.terminu {
	.container {
		.end-dot {
			color: $terminu-color;
			background-color: $terminu-color;
		}
	}
	&.content {
		border-bottom-color: $terminu-color;
	}

	header {
		h1 {
			color: $terminu-color;
		}
		h2 {
			font-size: $body-font-size;
		}
	}
	.body-text {
		@media all and (min-width: $laptop-breakpoint) {
			&:first-child {
				margin-top: $body-margin * -1.5;
			}
		}
		h5 {
			display: inline-block;
			font-size: $body-font-size;
			font-style: normal;
			margin: $body-margin-half 0 0;
			& + p {
				display: inline;
			}
		}
		p + p {
			&::before {
				color: $terminu-color;
				content: " ¶ ";
				font-family: $decorative;
			}
			display: inline;
		}
		p {
			margin-bottom: 0;
			a[href^="http"]:hover {
				color: blue;
				text-decoration-color: blue;
			}
			.fx-1 {
				color: red;
				font-weight: 500;
			}
		}
	}
}
