@use "constants" as *;
@use "calculations" as *;
@use "settings" as *;
@use "mixins-etc" as *;
@use "mixins-backgrounds" as *;

@mixin monthly-colour($colour) {
  $slugifiedColour: slugifyColour(lighten($colour, 0.01%));
  $detailColour: slugifyColour(lighten(complement($colour), 10%));
  &.ga-newsletter {
    border-image-source: url(/img/deco/frame-02-faint-#{$detailColour}.svg);
    background-color: complement($colour);
  }
  &.content {
    border-bottom-color: $colour;
  }
  & > header > h1 {
    color: $colour;
    .subtitle {
      color: lighten($colour, $lighter);
    }
  }
  .dropcap {
    &::before,
    &::after {
      color: lighten($colour, $lightest);
    }
  }
  .end-dot {
    color: $colour;
    background-color: $colour;
  }
	.body-text mark {
		background: lighten(complement($colour), $faint);
		border: 1px solid lighten(complement($colour), $lightest);
		position: relative;
		& > div {
			display: block;
			margin-top: 5px;
			position: absolute;
			width: max-content;
				span {
				background-color: lighten($colour, $faint);
				border: 1px solid lighten($colour, $lightest);
				strong {
					font-weight: 600;
				}
			}
		}
	}
	.body-text mark.provi {
		color: $paper;
		background: complement($colour);
		border: 1px solid lighten(complement($colour), $lighter);
		& > div {
				span {
				background-color: $colour;
				border: 1px solid lighten($colour, $lighter);
			}
		}
	}
	.letters {
    border-color: lighten($colour, $lighter);
    &:before {
      @include diagonal-stripes($colour);
    }
    .header-label {
      color: $colour;
    }
  }
  .editorial {
    background-color: $deco-brown;
    border-image-source: url(/img/deco/frame-02-faint-#{$slugifiedColour}.svg);
    .editorial-month {
      font-size: 1.6rem;
      font-weight: 600;
      margin-right: $body-margin-quarter;
      text-transform: uppercase;
      color: $colour;
    }
  }
  &.audio > div.player .slider {
    .gap-progress {
      background-color: $colour;
    }
  }
  #progress {
    text-shadow: -2px -2px 0 $colour, 0 -2px 0 $colour, 2px -2px 0 $colour,
      2px 0 0 $colour, 2px 2px 0 $colour, 0 2px 0 $colour, -2px 2px 0 $colour,
      -2px 0 0 $colour;
    vertical-align: -0.5rem;
  }

  @media all and (min-width: $mobile-breakpoint-plusone) {
    .header-label {
      a:hover {
        color: $colour;
        @include ease-out($fade-in-short);
      }
    }
    .bookmark-compact {
      a:hover .bookmark-glyph {
        color: $colour !important;
        @include ease-out($fade-in-short);
      }
    }
    &.promo {
      h1 {
        clear: both;
        display: inline-block;
        position: relative;
        &::after {
          @include animated-underline-pre($colour, $interval: $fade-in-short);
        }
      }
    }
    header a.bookmark:hover,
    &.bookmark-promo:hover:not(.Djarju):not(.Recensjoni) .bookmark,
    &.promo > .bookmark:hover:not(.Djarju):not(.Recensjoni) {
      border-color: $colour;
      border-bottom-color: transparent;
      opacity: 1;
      @include ease-out($fade-in-short);
      span {
        border-color: $colour;
        border-bottom-color: transparent;
        color: $paper;
      }
    }
    &.promo:hover:not(.promo-djarju):not(.promo-recensjoni),
    &.promo:focus:not(.promo-djarju):not(.promo-recensjoni) {
      h1::after {
        @include animated-underline-post();
      }
      h1 span.episode-umber {
        color: $colour;
        @include ease-out($fade-in-long);
      }
      .header-label,
      h3 {
        color: $colour;
        @include ease-out($fade-in-long);
      }
      p.link-text {
        color: $colour;
        @include ease-out($fade-in-long);
      }
    }
    & ~ .bookmark:hover {
      border: 12px solid $colour !important;
      border-bottom: 12px solid transparent;
    }
    &:hover {
      &.promo-abecedaire {
        .dropcap {
          &::before,
          &::after {
            @include ease-out($fade-in-long);
            color: $colour;
          }
        }
      }
    }
		&:hover li.bookmark-compact {
			.bookmark-glyph {
				border-color: $colour;
				border-bottom-color: transparent;
			}
			color: $colour;
			@include ease-out($fade-in-long);
		}
  }
}

@mixin this-issue-month-colour($this-month) {
  * {
    -webkit-tap-highlight-color: rgba($color: $this-month, $alpha: 0.2);
  }
}
