@use "constants" as *;
@use "calculations" as *;
@use "settings" as *;
@use "mixins-etc" as *;
@use "mixins-backgrounds" as *;

@mixin monthly-colour($colour) {
	&.content {
		border-bottom-color: $colour;
	}
	& > header > h1 {
		color: $colour;
	}
	.dropcap {
		&::before,
		&::after {
			color: lighten($colour, $lightest);
		}
	}
	.end-dot {
		color: $colour;
		background-color: $colour;
	}
	.letters {
		border-color: lighten($colour, $lighter);
		&:before {
			@include diagonal-stripes($colour);
		}
		h3 {
			color: $colour;
		}
	}
	.editorial {
		.editorial-month-year {
			display: inline;
			font-size: 1.6rem;
			font-weight: 600;
			margin-right: $body-margin-quarter;
			text-transform: uppercase;
			color: $colour;
		}
		.text-container {
			border-color: $colour;
		}
	}
	figure#audio {
		progress::-webkit-progress-value {
			background-color: $colour !important;
		}
		progress::-moz-progress-bar {
			background-color: $colour !important;
		}
	}
	@media all and (min-width: $mobile-breakpoint-plusone) {
		h3 {
			a:hover {
				color: $colour;
				@include ease-out($fade-in-short);
			}
		}
		// a:hover {
		// 	text-decoration-color: $colour;
		// 	@include ease-out($fade-in-short);
		// }
		&.promo {
			h1 {
				clear: both;
				display: inline-block;
				position: relative;
				&::after {
					@include animated-underline-pre($colour, $interval: $fade-in-short);
				}
			}
			h3 {
				display: block;
			}
		}
		&.promo:hover,
		&.promo:focus {
			h1::after {
				@include animated-underline-post();
			}
			h3 {
				color: $colour;
				@include ease-out($fade-in-long);
			}
			// h2,
			// p {
			//   color: $colour;
			//   @include ease-out(10s);
			// }
		}
		& ~ .bookmark:hover {
			border: 12px solid $colour !important;
			border-bottom: 12px solid transparent;
		}
	}
}
