@use "constants" as *;
@use "calculations" as *;
@use "settings" as *;

#newsletter-container {
	#pending,
	#subscribed,
	#message,
	#placeholder {
		border: none;
		display: block;
		margin-top: $body-margin;
		overflow: hidden;
	}

	#form {
		border: none;
		display: block;
		overflow: hidden;
		width: 100%;
		iframe {
			border: none;
			height: 240px;
			display: block;
			width: 100%;
		}
	}

	&hide-form #form,
	&.hide-pending #pending,
	&.hide-subscribed #subscribed,
	&.hide-message #message,
	&.hide-placeholder #placeholder {
		display: none !important;
	}

	&.ga-newsletter {
		flex-direction: column;
	}
}
