@use "constants" as *;
@use "calculations" as *;
@use "settings" as *;
@use "mixins-etc" as *;

article.poddata {
	.container {
		.end-dot {
			border-radius: 0;
		}
	}
	&.content {
		h1 {
			color: $podcast-beige;
		}
		h2 {
			.with {
				color: $lightest-brown;
				font-style: italic;
			}
		}
		border-bottom-color: $lighter-brown;
		p.break {
			margin-top: $body-margin * 1.5;
		}
	}
	#audio .audio:first-of-type {
		background-color: $deco-brown;
		border: 1px solid $lightester-brown;
		margin-bottom: $body-margin;
		padding: $body-margin;
	}
	#audio > figure:first-of-type.audio > div.player > div.range {
		progress::-webkit-progress-value {
			background-color: $podcast-beige !important;
		}
		progress::-moz-progress-bar {
			background-color: $podcast-beige !important;
		}
	}
}

.promo-poddata {
	h1 {
		color: $podcast-beige;
	}
	h2 {
		.with {
			color: $lightest-brown;
			font-style: italic;
		}
	}
	p {
		font-family: $sans, sans-serif;
	}
}
