@use "constants" as *;
@use "calculations" as *;
@use "settings" as *;
@use "mixins-etc" as *;

article.poddata {
  .container {
    .end-dot {
      border-radius: 0;
    }
  }
  &.content {
    h1 {
      color: $podcast-beige;
    }
    h2 {
      padding-left: $body-margin-double;
      position: relative;
      .with {
        font-style: italic;
        left: 0;
        position: absolute;
      }
    }
    border-bottom-color: $lighter-brown;
    h5,
    h6,
    p {
      &.break {
        margin-top: $body-margin * 1.5;
      }
    }
  }
}
#audio {
  .audio:not(:first-of-type) {
    background-color: var(--deco);
    border: 1px solid $lightest-brown;
    border-bottom-width: 0;
    border-top-width: 0;
    margin-bottom: 0;
    padding: $body-margin;
    padding-bottom: 0;
  }
  .audio:nth-of-type(2) {
    border-top-width: 1px;
  }
  .audio:last-of-type {
    border-bottom-width: 1px;
    margin-bottom: $body-margin;
    padding-bottom: $body-margin;
  }
}
#grid-body {
  .audio {
    background-color: var(--deco);
    border: 1px solid $lightest-brown;
    margin: $body-margin $body-margin $body-margin-half $body-margin-half;
    padding: $body-margin;
  }
}

.promo-poddata {
  h1 {
    color: $podcast-beige;
  }
  h2 {
    padding-left: 3.2rem;
    position: relative;
    a,
    .author {
      white-space: unset;
    }
    .with {
      left: 0;
      position: absolute;
      font-style: italic;
    }
  }
  p {
    font-family: $sans, sans-serif;
  }
}

@media all and (max-width: $laptop-breakpoint) {
  // REVIEW: use grid put at bottom instead of hiding
  #audio {
    figure.audio {
      figcaption {
        display: none;
      }
    }
    .audio:not(:first-of-type) {
      display: none;
    }
  }
}
