@use "constants" as *;
@use "calculations" as *;
@use "settings" as *;
@use "mixins-etc" as *;

.promo {
  header {
    margin: 0 0 $body-margin-half;
    .header-label {
      display: block;
    }
    h1,
    h2 {
      font-size: $font-size-largest;
    }
    h3 {
      font-size: $body-font-size-slightly-larger;
      padding-top: $body-margin-half;
    }
  }
  p {
    color: var(--ink);
    @include clamp(7);
  }
  @media all and (min-width: $mobile-breakpoint-plusone) {
    .appointments .promo p {
      @include clamp(5);
    }
  }
}
aside.promo-aside {
	max-height: $body-margin;
	height: $body-margin;
	ul {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		padding-bottom: $body-margin-half;
		li {
			color: $lighter-brown;
			font-family: $sans, sans-serif;
			font-size: $font-size-furniture;
			line-height: $body-font-size * $body-line-height;
			// text-transform: lowercase;
			text-align: right;
			// padding-right: $body-margin;
			&.bookmark-compact {
				// padding-top: $body-margin-half;
				a:hover {
					@include ease-in(0.25s);
					color: $brown;
					text-decoration-color: $brown;
					.bookmark-glyph {
						@include ease-in(0.25s);
						opacity: 1;
					}
				}
			}
			&.wordcount {
				font-style: italic;
			}
		}
	}
}
.home {
  .promo {
    header {
      h1,
      h2,
      h3 {
        font-size: $font-size-largest-home;
      }
      li.header-label {
        display: none;
      }
    }
  }
  .promo-diary {
    header {
      h1 {
        display: none;
        // color: $lighter-brown;
        // text-decoration: none;
      }
      h3 {
        font-size: $body-font-size-slightly-larger;
      }
      li.header-label {
        display: block;
        .subject-date {
          display: none;
        }
      }
    }
  }
}
.image-16-by-9 {
  @include image-fit();
}

.appointments .promo-list li {
	&:last-of-type {
		margin-bottom: 0;
	}
	a {
		padding-bottom: $body-margin;
	}
}
