@use "calculations" as *;
@use "constants" as *;
@use "mixins-etc" as *;
@use "settings" as *;

.home {
	.promo-poetry {
		background-color: $deco-brown;
		border-radius: $body-margin-eighth;
		border: 1px solid #d3d3d0;
		display: block;
		padding: $body-margin;
		width: 100%;
	}
}
