@use "constants" as *;
@use "calculations" as *;
@use "settings" as *;
@use "mixins-etc" as *;

.editorial {
	border: 5px solid red;
	border-radius: $body-margin-eighth;
	font-size: $font-size-editorial;
	padding: $body-margin;
}

.home {
	.editorial {
		.body-text-generic {
			@include clamp(14);
		}
	}
}
