@use "constants" as *;
@use "calculations" as *;
@use "settings" as *;
@use "mixins-etc" as *;
@use "sass:math";

.promo {
	header {
		margin: 0 0 $body-margin-half;
		h1,
		h2 {
			font-size: 2rem;
		}
	}
	p {
		color: $lighter-ink;
		@include clamp(7);
	}
}

@media all and (min-width: $mobile-breakpoint-plusone) {
	.appointments .promo p {
		@include clamp(5);
	}
}

.home {
	.promo {
		header {
			h1,
			h2 {
				font-size: 2rem;
			}
			h3 {
				display: none;
			}
		}
	}
	// &.mejju-2023 .mejju-2023,
	// &.gunju-2023 .gunju-2023,
	// &.lulju-2023 .lulju-2023,
	// &.awwissu-2023 .awwissu-2023,
	// &.settembru-2023 .settembru-2023,
	// &.ottubru-2023 .ottubru-2023,
	// &.novembru-2023 .novembru-2023,
	// &.dicembru-2023 .dicembru-2023,
	// &.jannar-2024 .jannar-2024,
	// &.frar-2024 .frar-2024,
	// &.marzu-2024 .marzu-2024,
	// &.april-2024 .april-2024,
	// &.mejju-2024 .mejju-2024,
	// &.gunju-2024 .gunju-2024,
	// &.lulju-2024 .lulju-2024,
	// &.awwissu-2024 .awwissu-2024,
	// &.settembru-2024 .settembru-2024,
	// &.ottubru-2024 .ottubru-2024,
	// &.novembru-2024 .novembru-2024,
	// &.dicembru-2024 .dicembru-2024 {
	// 	h3 {
	// 		display: none;
	// 	}
	// }
}

@mixin image-fit($width-ratio: 16, $height-ratio: 9) {
	margin: 0;
	overflow: hidden;
	padding-top: (math.div($height-ratio, $width-ratio) * 100%);
	position: relative;
	width: 100%;
	img {
		left: 50%;
		object-fit: cover;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
	}
}

.image-16-by-9 {
	@include image-fit();
}
