@use "constants" as *;
@use "calculations" as *;
@use "settings" as *;
@use "mixins-etc" as *;

.promo {
  header {
    margin: 0 0 $body-margin-half;
    .header-label {
      display: block;
    }
    h1,
    h2 {
      font-size: $font-size-largest;
    }
    h3 {
      font-size: $body-font-size-slightly-larger;
      padding-top: $body-margin-half;
    }
  }
  p {
    color: var(--ink);
    @include clamp(7);
  }
  @media all and (min-width: $mobile-breakpoint-plusone) {
    .appointments .promo p {
      @include clamp(5);
    }
  }
}
aside.promo-aside {
	max-height: $body-margin;
	height: $body-margin;
	ul {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		padding-bottom: $body-margin-half;
		li {
			color: $lighter-brown;
			font-family: $sans, sans-serif;
			font-size: $font-size-furniture;
			line-height: $body-font-size * $body-line-height;
			// text-transform: lowercase;
			text-align: right;
			// padding-right: $body-margin;
			&.bookmark-compact {
				// padding-top: $body-margin-half;
				a:hover {
					@include ease-in(0.25s);
					color: $brown;
					text-decoration-color: $brown;
					.bookmark-glyph {
						@include ease-in(0.25s);
						opacity: 1;
					}
				}
			}
			&.wordcount {
				font-style: italic;
			}
		}
	}
}
.home {
  .promo {
    header {
      h1,
      h2,
      h3 {
        font-size: $font-size-largest-home;
      }
      li.header-label {
        display: none;
      }
    }
  }
  .promo-diary {
    header {
      h1 {
        display: none;
        // color: $lighter-brown;
        // text-decoration: none;
      }
      h3 {
        font-size: $body-font-size-slightly-larger;
      }
      li.header-label {
        display: block;
        .subject-date {
          display: none;
        }
      }
    }
  }
}
.image-16-by-9 {
  @include image-fit();
}

.appointments .promo-list li {
	&:last-of-type {
		margin-bottom: 0;
	}
	a {
		padding-bottom: $body-margin;
	}
}

@media all and (min-width: $laptop-breakpoint) {
	a.promo > div.body-text > p {
		&.clamp-20 {
			@include clamp(20);
		}
		&.clamp-19 {
			@include clamp(19);
		}
		&.clamp-18 {
			@include clamp(18);
		}
		&.clamp-17 {
			@include clamp(17);
		}
		&.clamp-16 {
			@include clamp(16);
		}
		&.clamp-15 {
			@include clamp(15);
		}
		&.clamp-14 {
			@include clamp(14);
		}
		&.clamp-13 {
			@include clamp(13);
		}
		&.clamp-12 {
			@include clamp(12);
		}
		&.clamp-11 {
			@include clamp(11);
		}
		&.clamp-10 {
			@include clamp(10);
		}
		&.clamp-9 {
			@include clamp(9);
		}
		&.clamp-8 {
			@include clamp(8);
		}
		&.clamp-7 {
			@include clamp(7);
		}
		&.clamp-6 {
			@include clamp(6);
		}
		&.clamp-5 {
			@include clamp(5);
		}
		&.clamp-4 {
			@include clamp(4);
		}
	}
}