@use "constants" as *;
@use "calculations" as *;

$font-size-editorial: $body-font-size;
$font-size-aside: $font-size-furniture;
$font-size-nav: $font-size-compact;
$font-size-furniture: $font-size-furniture;
$font-size-blockquote: 1.1rem;
$font-size-story-header: $font-size-largest;
$font-size-story-header-mobile: $font-size-largest-mobile;
$font-size-story-episode-header: $font-size-larger;
$font-size-story-episode-header-mobile: $font-size-larger-mobile;

$grid-lines: $faint-brown;
$h1-color: $lighter-brown;
$h2-color: $lighterer-brown;
$h2-a-color: $lighter-brown;
$h3-color: $text-brown;
$header-label-color: $lighter-brown;
$h5-color: $text-brown;

$mejju: $blue;
$ġunju: $orange;
$lulju: $violet;
$awwissu: $dark-blue;
$settembru: $red;
$ottubru: $green;
$novembru: $magenta;
$diċembru: $yellow;
$jannar: $blue-green;
$frar: $dark-green;
$marzu: $violet2;
$april: $reddish-pink;
