@use "constants" as *;
@use "calculations" as *;

$font-size-editorial: $body-font-size;
$font-size-aside: $font-size-furniture;
$font-size-nav: $font-size-compact;
$font-size-furniture: $font-size-furniture;
$font-size-blockquote: 1.1rem;
$font-size-story-header: $font-size-largest;
$font-size-story-header-mobile: $font-size-largest-mobile;
$font-size-story-episode-header: $font-size-larger;
$font-size-story-episode-header-mobile: $font-size-larger-mobile;

$grid-lines: $faint-brown;
$h1-color: $lighter-brown;
$h2-color: $lightest-brown;
$h2-a-color: $lighter-brown;
$h3-color: $text-brown;
$header-label-color: $lighter-brown;
$h5-color: $light-brown;

$mejju-2023: $blue;
$ġunju-2023: $orange;
$lulju-2023: $violet;
$awwissu-2023: $dark-blue;
$settembru-2023: $red;
$ottubru-2023: $green;
$novembru-2023: $magenta;
$diċembru-2023: $yellow;
$jannar-2024: $blue-green;
$frar-2024: $dark-green;
$marzu-2024: $yellow;

$this-month: $frar-2024;
