@use "constants" as *;
@use "calculations" as *;
@use "settings" as *;
@use "mixins-etc" as *;

.editorial-image {
	margin-bottom: $body-margin;
}

.arrows {
	font-family: $decorative;
	font-size: 9rem;
	button {
		color: $deco-brown;
		@include ease-in(1s);
		position: absolute;
		cursor: pointer;
		&:hover {
			color: $lighter-brown !important;
			@include ease-in(0.25s);
		}
		&.arrow-previous {
			left: -6rem;
		}
		&.arrow-next {
			left: calc(100% + 6rem);
		}
	}
}

body.scrolling,
.splide:hover {
	.arrows button {
		color: $lightester-brown;
		@include ease-in(1s);
	}
}

@keyframes showLightbox {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#lightbox {
	background-color: $dark-brown;
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	&.open {
		animation: showLightbox 0.25s;
		animation-fill-mode: forwards;
		display: block;
	}
}

#slideshow-close {
	cursor: pointer;
	position: absolute;
	top: $body-margin;
	right: $body-margin;
}
