@use "constants" as *;
@use "calculations" as *;
@use "settings" as *;
@use "mixins-etc" as *;

#grid-body {
	.splide {
		padding: ($body-margin * 1.5) 0 0;
		width: calc(100% + $body-margin);
		margin-left: -$body-margin-half;
	}
	#grid-body {
		section.single-image {
			padding: $body-margin 0;
			.arrows,
			.splide__pagination {
				display: none !important;
			}
		}
	}
}
.arrows {
	height: calc(100% - $body-margin);
	display: none;
	font-family: $decorative;
	font-size: 9rem;
	button {
		@include ease-in(1s);
		color: $deco-brown;
		cursor: pointer;
		position: absolute;
		&:hover {
			color: $lighter-brown !important;
			@include ease-in(0.25s);
		}
		&.arrow-previous,
		&.arrow-next {
			height: calc(100% - ($body-margin * 2));
			width: 6rem;
			line-height: 6rem;
		}
		&.arrow-previous {
			left: -6rem;
		}
		&.arrow-next {
			left: 100%;
			text-align: right;
		}
		&#lightbox-open {
			background-color: $deco-brown;
			cursor: pointer;
			top: $body-margin * 1.5;
			left: calc(100% + $body-margin-half);
			display: block;
			width: 29px;
			height: 16px;
			border: 1px solid $lightester-brown;
			&:hover {
				background-color: $lighter-brown !important;
				border-color: $light-brown;
				@include ease-in(0.25s);
			}
		}
	}
}
.splide__pagination {
	height: $body-margin-half;
	left: 0;
	position: absolute;
	top: $body-margin-half;
	width: 100%;
}
.splide__pagination__page {
	border-radius: 0;
	background: $lightester-brown;
	&.is-active {
		background: $lightest-brown;
	}
}
#lightbox {
	background-color: $dark-brown;
	display: none;
	height: 100%;
	left: 0;
	padding: $body-margin;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	&.open {
		animation: showLightbox 0.25s;
		animation-fill-mode: forwards;
		display: flex;
	}
	.splide__pagination {
		top: -$body-margin;
	}
	#lightbox-container {
		.splide {
			height: 100%;
			margin: 0 10%;
		}
		figure {
			align-items: center;
			display: flex;
			flex-direction: column;
			picture {
				border: 1px solid $light-brown;
			}
			img {
				vertical-align: middle;
			}
			figcaption {
				text-align: left;
			}
		}
	}
	#lightbox-open {
		display: none;
	}
	.arrows {
		z-index: 1000;
	}
	.arrows button {
		color: $light-brown;
	}
}
@media all and (min-width: $laptop-breakpoint) {
	body.scrolling,
	.splide:hover {
		.arrows button {
			color: $lightester-brown;
			@include ease-in(1s);
		}
	}
	@keyframes showLightbox {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	.arrows {
		button {
			&.arrow-previous,
			&.arrow-next {
				width: 9rem;
				line-height: 9rem;
			}
			&.arrow-previous {
				left: -9rem;
			}
		}
	}
	.arrows {
		display: block;
	}
	#grid-body {
		.splide {
			margin-left: -30%;
			width: 160%;
			img {
				border: 1px solid $lightest-brown;
				width: 100%;
			}
		}
	}
	#lightbox-close {
		cursor: pointer;
		font-size: 4rem;
		position: absolute;
		top: 0;
		right: $body-margin;
		z-index: 101;
	}
	figcaption {
		padding-top: $body-margin-half;
	}
}

@media all and (max-width: $laptop-breakpoint) {
	@media all and (orientation: landscape) {
		#lightbox {
			animation: showLightbox 0.25s;
			animation-fill-mode: forwards;
			display: flex;
			#lightbox-container {
				img {
					height: 80vh !important;
				}
				.splide__pagination {
					top: -1.3rem !important;
				}
				#lightbox-close {
					display: none;
				}
				.arrows {
					display: block;
				}
			}
		}
	}
}

#lightbox-container {
	img {
		height: 400px;
	}
}

@media all and (min-height: 700px) {
	#lightbox-container {
		img {
			height: 600px;
			object-fit: scale-down;
		}
	}
}

@media all and (min-height: 800px) {
	#lightbox-container {
		img {
			height: 700px;
		}
	}
}

@media all and (min-height: 900px) {
	#lightbox-container {
		img {
			height: 800px;
		}
	}
}

@media all and (min-height: 1000px) {
	#lightbox-container {
		img {
			height: 900px;
		}
	}
}

@media all and (min-height: 1300px) {
	#lightbox-container {
		img {
			height: 1200px;
		}
	}
}
