@use "constants" as *;
@use "calculations" as *;
@use "settings" as *;
@use "mixins-etc" as *;

// .body-text {
// 	// Il-Lanza, Il-Labra, Il-Qoffa, l-Azzarin
// 	.special-100 {
// 		display: inline-block;
// 		margin-left: 70%;
// 	}
// 	.special-101 {
// 		display: inline-block;
// 		margin-left: calc(70% + 40px);
// 	}
// }

article.story {
  &.story-18 {
    // Mona Lisa
    .fx1 {
      color: hsl(0, 0%, 39%);
      margin-bottom: 0;
      text-align: center;
      transform: scale(-1, 1);
    }
    .fx2 {
      margin-bottom: 0;
      text-align: center;
    }
  }
  &.story-33 {
    // Joey Tilbes (Diċembru 2023)
    h1 {
      letter-spacing: -0.15px;
    }
  }
  &.story-40 {
    // Il-Mara tas-Suldat
    #grid-body {
      margin-top: $body-margin-half * -1;
      hr {
        visibility: none;
        margin-bottom: $body-margin-half + $body-margin-quarter;
      }
      h5,
      h6 {
        font-family: "Alegreya Sans SC";
        font-size: $font-size-smallcaps;
        font-style: normal;
        font-variant: small-caps;
        font-weight: 700;
        line-height: 1;
        position: relative;
        text-transform: lowercase;
        .fx1 {
          font-family: "Alegreya Regular";
          font-variant: normal;
          font-weight: 400;
          position: absolute;
          text-align: right;
          width: 5px;
          left: -5px;
          text-transform: lowercase;
          font-size: 0.8rem;
          top: 5px;
        }
      }
      h5 {
        display: inline;
        padding-right: 0.25rem;
        & + p {
          display: inline;
        }
      }
      p {
        a[href^="#"] {
          font-weight: 600;
          position: relative;
          &:has(.fx1) {
            padding-left: 5px;
          }
          .fx1 {
            font-variant: normal;
            position: absolute;
            text-align: right;
            width: 5px;
            left: 0px;
            text-transform: lowercase;
            font-size: 0.9rem;
            font-weight: 600;
            top: 1px;
          }
        }
        & + p {
          margin-bottom: 0;
          margin-top: $body-margin-half;
        }
        &.enjambed + p {
          margin-top: 0;
        }
        &.centred + p.centred {
          margin-top: 0;
        }
      }
    }
    aside {
      p.fx2 {
        a {
          display: inline-block;
          font-size: $font-size-compact;
          text-transform: uppercase;
        }
      }
      p.fx3 {
        border: 1px solid $lightest-brown;
        padding: $body-margin;
      }
    }
    @media all and (min-width: $laptop-breakpoint) {
      #grid-body {
        .splide {
          margin-left: 0;
          width: 100%;
        }
      }
    }
  }
  &.story-48 {
    // Splużjonijiet
    p.fx1 {
      margin-bottom: $body-margin-quarter;
      margin-left: $body-margin;
      text-indent: $body-margin * -1;
      span.fx1 {
        margin-right: $body-margin-quarter;
        &:after {
          color: $lightest-brown;
          content: ":";
        }
        display: inline-block;
        text-align: right;
        width: $body-margin-half + $body-margin-quarter;
      }
      &:last-of-type {
        margin-bottom: $body-margin-half;
      }
    }
  }
  &.story-56 {
    // Persjani
    // Genericize these
    span {
      &.fx1 {
        display: inline-block;
        margin-bottom: $body-margin-half;
      }
      &.fx2 {
        padding-left: $body-margin-half;
      }
      &.fx3 {
        padding-left: $body-margin;
      }
    }
  }
	&.story-177 p.fx1,
	&.story-204 p.fx1,
	&.story-212 p.fx1	{
		// invokazzjonijiet 13, 23, 26
		// għamilhom għall-poeżija
		padding-left: $body-margin-double;
	}
	&.sequence-15 {
		// invokazzjonijiet
		ul.sequence-menu {
			columns: 2;
			li a {
				width: unset;
			}
		}
	}
}

article {
  // fatima a.m.
  &.contributor-35 {
    .continuity .contributor {
      text-transform: lowercase;
    }
  }
}

.home {
  .story-61 {
    p {
      letter-spacing: -0.15px;
      @include clamp(7);
    }
  }
}

@media all and (max-width: $laptop-breakpoint) {
  .story-34 {
    // Manifest Kontra ż-Żmien
    h1 {
      letter-spacing: -1px;
    }
  }
}

@media all and (min-width: $laptop-breakpoint) {
	.story-114 {
    // Nivjaġġa bil-mod #1
    h1 {
      letter-spacing: -1px;
    }
  }
}


@media all and (min-width: $laptop-breakpoint) {
  .home {
    .promo {
			&.story-20 {
				p {
					@include clamp(13);
				}
			}
      &.story-25 {
        h1 {
          letter-spacing: -1px;
        }
      }
    }
  }
  article.story {
    &.story-18 {
      .body-text {
        padding: 0 8rem;
        border: 1px solid $grid-lines;
        border-width: 0 1px;
      }
      h1 {
        width: 100%;
      }
      p {
        margin-bottom: $body-margin-half + $body-margin-quarter;
        &.enjambed {
          margin-bottom: $body-margin-quarter;
        }
      }
    }
    &.story-27 {
      .fx1 {
        white-space: nowrap;
      }
    }
    &.story-33 {
      h1 {
        letter-spacing: 0;
      }
    }
  }

  // REFACTOR ... this is not a special
  .home a:not(.promo-djarju).promo-plain.is-episode,
  .end-promos a:not(.promo-djarju).is-episode {
    header {
      margin-bottom: $body-margin-quarter;
      h3 {
        padding-top: $body-margin-quarter;
      }
    }
    p {
      @include clamp(6);
    }
  }

	// These should go in the story
  .home a,
  .end-promos a {
    &.story-16,
    &.story-39,
    &.story-55,
    &.story-61,
		&.story-95,
		&.story-100,
		&.story-113 {
      header {
        margin-bottom: $body-margin-quarter;
        h3 {
          padding-top: $body-margin-quarter;
        }
      }
      p {
        @include clamp(6);
      }
    }
		&.story-100 {
      p {
        @include clamp(4);
      }
    }
		&.story-98 {
			h2 {
				letter-spacing: -1px;
			}
			p {
				@include clamp(4);
			}
		}
	}

  .home a:not(.promo-djarju).promo-plain.is-episode,
  .end-promos a:not(.promo-djarju).is-episode {
    &.story-85 {
      &> header {
        margin-bottom: $body-margin-quarter;
        &> h3 {
          padding-top: $body-margin-quarter;
        }
      }
      &> div > p {
        @include clamp(4);
      }
    }
  }
}

.story-89 {
	#audio figure.audio figcaption {
			display: block !important;
	}
}
// .promo.story-88 {
//   h1 {
//     color: $light-brown !important;
//   }
// }
.ga-diary a.story-94 p {
	@include clamp(11);
}

.story-95 .body-text p {
  margin-left: $body-margin;
  text-indent: $body-margin * -1;
}

// hide numbers in sequences
.sequence-10,
.sequence-14,
.sequence-15 {
	p.fx1 {
		padding-left: $body-margin-double;
	}
	.episode-number {
		display: none !important;
	}
	.editorial-image {
		margin-bottom: $body-margin;
		@media all and (max-width: $laptop-breakpoint) {
			figcaption {
				letter-spacing: -0.4px;
			}
		}
	}
}
.story-105.promo {
	.episode-number, h3 {
		display: none;
	}
	img {
		border: 1px solid $lightest-brown;
	}
}

.story-116 {
	p {
		&.fx1 {
			padding-left: $body-margin * 5;
		}
		&.fx2 {
			padding-left: $body-margin * 5.5;
		}
		&.fx3 {
			padding-left: $body-margin * 5.6;
		}
		&.fx4 {
			padding-left: $body-margin * 5.4;
		}
	}
}

.story-118 {
	p.fx1 {
		padding-left: $body-margin * 7.8;
	}
}

.story-119 {
	#body-text {
		p {
			margin-bottom: $body-margin-half;
		}
	}
}

.sequence-12 {
	.container {
		position: relative;
		.fx3 {
			@media all and (max-width: $laptop-breakpoint) {
				&::before {
					color: $lighter-brown;
					content: " [\202F";
					font-style: normal;
				}
				&::after {
					color: $lighter-brown;
					content: "\202F]";
					font-style: normal;
				}
				color: $awwissu;
				font-style: italic;
			}
			@media all and (min-width: $laptop-breakpoint-plusone) {
				&::before, &::after {
					content: "";
				}
				font-size: $body-font-size * 0.8;
				font-style: normal;
				line-height: $body-margin * 0.66;
				margin-top: $body-font-size * 0.2;
				position: absolute;
				width: $body-margin * 12.25;
				right: 0;
			}
		}
	}
}

.story-123 #proġetti-panloġiċi-moderni {
	margin-bottom: $body-margin-half;
}

.contents .story-48 header {
  h1, h2, h3 {
    display: block !important;
  }
}

@media all and (min-width: $mobile-breakpoint) {
	// FIXME: Uncropped wisgħa tal-paġna
  // This needs to be a proper dropdown option
  // Wisgħa tal-paġna uncropped
  .story-114,
	.story-134,
  .story-154,
  .story-163,
  .story-180 {
		#grid-body .splide {
				margin-left: -30% !important;
				width: 160% !important;
		}
	}
}

.story-152 p.fx1 {
	font-variant: lining-nums;
}

// FEATURE FLAGS
.ff-1, .ff-2, .ff-3 {
	display: none !important;
}

.localhost, .abbozzi {
	.ff-1, .ff-2, .ff-3 {
		display: unset !important;;
	}
}

// body.localhost {
//   background-image: linear-gradient(to top, #ccf 0, transparent 1px), linear-gradient(to top, #f33 0, transparent 1px);
//   background-repeat: repeat-y, repeat-y;
//   background-size: 100% $body-margin, 100% $body-margin;
// 	background-position: 0 0, 0 $body-margin-half;
// 	.promo.poetry, .editorial, .collection.introduction, .collection-sidebar, figure.audio, footer {
// 		opacity: 0.7;
// 	}
// }

.promo.sequence-15 p {
  @include clamp(3);
}

.story-180 {
  .body-text.promo-adjacent.promo-next {
    display: none;
  }
}
