@use "constants" as *;
@use "calculations" as *;


.choose-theme-footer a {
  color: $dark-brown;
	margin-right: $body-margin-half;
}

.choose-theme a {
	font-family: "Fontastic icons";
	font-size: 1.1rem;
	padding: 0 !important;
	cursor: pointer;
	text-align: center;
	text-decoration-thickness: 2px;
	text-transform: lowercase;
	text-underline-offset: 6px;
}

nav#top-nav menu#menu-main {
	li.choose-theme {
		align-items: baseline;
		justify-content: center;
		line-height: 4rem;
	}
}

body {
	#theme > a {
		text-decoration: none;
	}
	&.theme-regular {
		a#theme-regular, a#theme-regular-footer {
			text-decoration: underline;
		}
	}
	&.theme-dark {
		a#theme-dark, a#theme-dark-footer {
			text-decoration: underline;
		}
	}
	&.theme-contrast {
		a#theme-contrast, a#theme-contrast-footer {
			text-decoration: underline;
		}
	}
	&.theme-system {
		a#theme-system, a#theme-system-footer {
			text-decoration: underline;
		}
	}
}

@mixin theme-dark-overrides() {
	img {
		&[src*="logo-"] {
			filter: invert(1);
		}
		&[src*="deco"] {
			filter: invert(0.9);
		}
		&[src*="jpg"] {
			filter: brightness(0.75);
		}
	}
	.promo-list .promo-ktieb-stampat div p {
		color: var(--paper) !important;
	}
}

@mixin theme-contrast-overrides() {
	body, main, article, section, div, span, aside, audio, menu, header, footer, nav, ul, h1, h2, h3, h4, h5, h6, p, li, a, aside, audio, figure, figcaption, span {
		background-color: black !important;
		border-color: white !important;
		color: white !important;
		text-decoration-color: white !important;
	}
	.dropcap {
		color: white !important;
		background-color: transparent !important;
		z-index: 1 !important;
		&::before, &::after {
			display: none !important;
		}
	}
	article.home, article.generic {
		border-color: black !important;
	}
	img[src*="svg"] {
		filter: invert(1);
	}
	.collection.introduction {
		border: 1px solid white !important;
	}
	.green-audio-player {
		&.player-accessible {
			.play-pause-btn,
			.controls,
			.volume__button,
			.volume__controls,
			.download {
				&:hover {
					outline: dotted 1px white !important;
				}
			}
		}
		.holder {
			.loading {
				.loading__spinner {
					border: 2px solid white !important;
				}
			}
		}
		.slider {
			background-color: white !important;
			.gap-progress {
				.pin {
					background-color: white !important;
				}
			}
		}
		.controls {
			color: white !important;
		}
		.volume {
			position: relative;
			.volume__button {
				&.open {
					path {
						fill: white !important;
					}
				}
			}
			.volume__controls {
				background-color: white !important;
			}
		}
	}
}

body {
	&.theme-dark {
		@include theme-dark-overrides;
	}
	&.theme-contrast {
		@include theme-contrast-overrides;
	}
	&.theme-system {
		@media screen and (prefers-color-scheme: dark) {
			@include theme-dark-overrides;
		}
		@media screen and (prefer-contrast: more) {
			@include theme-contrast-overrides;
		}
	}
}
