@use "constants" as *;
@use "calculations" as *;
@use "settings" as *;
@use "mixins-etc" as *;

#top-nav menu li {
  color: $light-brown;
  font-family: $sans, sans-serif;
  font-size: $font-size-nav;
  letter-spacing: 1px;
  text-transform: uppercase;
  #bookmarks-number {
    align-content: space-between;
    align-items: center;
    background-color: var(--paper);
    border-radius: 8px;
    display: inline-flex;
    font-family: "Fira Sans";
    font-size: 9px;
    height: 16px;
    justify-content: center;
    vertical-align: -2px;
    width: 16px;
    &.populated {
      background-color: red;
      color: red;
    }
    @include ease-in(1s, "background-color");
    @include ease-in(1s, "color");
  }
}

@media screen and (max-width: $laptop-breakpoint) {
  body {
    padding-top: 7rem;
  }
  #top-nav {
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    align-items: center;
    background-color: var(--paper);
    display: flex;
    flex-direction: row;
    height: 20vw;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    top: -85px;
    transition: all 0.5s ease-out;
    width: 100%;
    z-index: 999;
    #top-nav:hover {
      bottom: 0;
    }
    #brownline {
      border-bottom: 1px solid $lighter-brown;
      position: absolute;
      top: 20vw;
      width: 100%;
      left: 0;
    }
    menu {
      align-items: flex-start;
      background-color: var(--paper);
      border-bottom: 1px solid $lighter-brown;
      columns: 2;
      flex-direction: column;
      justify-content: left;
      left: 0;
      margin: 20vw 0 0;
      padding: 0 1.5rem;
      position: absolute;
      top: -320px;
      width: 100%;
      z-index: -1;
      li {
        display: flex;
        margin: 0 1rem;
        margin: 0;
        overflow: hidden;
        width: 100%;
        a {
          display: inline-block;
          padding: 1.5rem 0 0;
          width: 100%;
        }
				&.search-container {
          column-span: all;
          text-transform: unset;
				}
        &.a-links {
          column-span: all;
          font-size: 1rem;
          text-transform: unset;
					a {
						width: unset;
						margin-right: $body-margin-half;
					}
        }
				&#podcast-audio a {
					width: auto;
				}
			}
    }
  }
  .show-nav #top-nav,
  .mousemoving #top-nav {
    top: 0;
    transition: all 0.35s ease-out;
    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
  }

  #logo-container {
    background-color: var(--paper);
    padding: 0.33rem;
    z-index: 1;
  }

  #logo {
    width: 77vw;
  }

  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #main-nav {
    border-bottom: 1px solid $light-brown;
    padding-bottom: 1rem;
    margin: 1rem 1rem 2rem 1rem;
    display: flex;
  }

  #main-nav .button {
    font-size: 5rem;
  }

  #menu-toggle {
    display: none;
  }

  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: $light-brown;
    position: absolute;
    height: 3px;
    width: 30px;
    transition: transform $fade-in-medium cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }

  .menu-button::before {
    content: "";
    margin-top: -8px;
  }

  .menu-button::after {
    content: "";
    margin-top: 8px;
  }

  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }

  #menu-toggle:checked + .menu-button-container .menu-button {
    background: var(--paper);
  }

  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  #menu-toggle:checked ~ #brownline {
    display: none;
  }
  .menu-button-container {
    display: flex;
  }
  #menu-toggle ~ menu li {
    height: 0;
    margin: 0;
    padding: 0;
    transition: height $fade-in-medium cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ menu li {
    border-bottom: 1px solid $lighter-brown;
    height: 4em;
    transition: height $fade-in-medium cubic-bezier(0.23, 1, 0.32, 1);
    &:nth-child(11),
    &:last-child {
      border: none;
    }
  }

  #menu-toggle:checked ~ menu {
    top: 0;
    transition: top $fade-in-medium cubic-bezier(0.23, 1, 0.32, 1);
  }
}

#top-nav {
  menu {
    li.main-menu-collection {
      border-color: $lightest-brown;
      a span {
        background-color: transparent !important;
        font-size: 1rem;
        text-transform: none;
        &::before {
          content: " ";
          display: inline-block;
          height: 0.5rem;
          margin-right: 0.5rem;
          vertical-align: 0.1rem;
          width: 0.5rem;
        }
      }
    }
  }
}

@media all and (min-width: $laptop-breakpoint-plusone) {
  body {
    padding-top: 0;
  }
  #top-nav {
    margin: 0 auto;
    max-width: var(--max-width);
    width: calc(100% - 2rem);
    menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: (calc(var(--max-logo-width) + 120px));
      margin: 0 auto;
      & > li {
        display: inline;
        font-size: $font-size-compact;
        position: relative;
        a {
          padding: 0.5rem 0;
        }
        &:nth-child(4) {
          display: inline;
        }
      }
    }
    #menu-main > li a {
      @include animated-underline($lighter-brown);
    }
    #menu-toggle,
    .menu-button-container {
      display: none;
    }
    #logo-container-wrapper {
      position: relative;
      border-bottom: 1px solid $lighter-brown;
    }
    #menu-carousels,
    #menu-collections {
      bottom: 5px;
      position: absolute;
      li a {
        font-size: $font-size-compact;
        letter-spacing: 0.05rem;
        text-transform: none;
        text-decoration: none;
        &:hover {
          color: $brown;
        }
      }
    }
    #menu-carousels {
			li a {
				padding-right: $body-margin-half;
			}
		}
    #menu-collections {
      right: 0;
      li.main-menu-collection a span {
        font-size: $font-size-compact;
        letter-spacing: 0.05rem;
        padding-left: $body-margin-half;
        &::before {
          vertical-align: 0;
        }
      }
    }
		.menu-kotba, .menu-antologija-1 {
			border: 1px solid $lightest-brown;
			padding: 0 0.25rem !important;
			vertical-align: -7px;
		}
	}
  #logo-container {
    display: flex;
    justify-content: center;
    max-width: var(--max-width);
    padding: $body-margin-half $body-margin-half 0 $body-margin-half;
    width: 100%;
    #logo {
      margin: 0 auto;
      max-width: var(--max-logo-width);
      width: 100%;
    }
  }
}
