---
eleventyExcludeFromCollections: true
permalink: /bookmarks/index.html
---
{% extends 'layouts/base.njk' %}
{% set generic = bookmark %}

{% block head %}
	<title>{{ bookmark.title }} · Aphroconfuso</title>
	<meta content="{{ metadata.description }}" name="description">
	<meta property="og:image" content="{{ metadata.settings.imagesUrl }}{{ metadata.settings.socialImage }}">
{% endblock %}

{% block content %}
	<article class="generic" id="bookmarks">
		<header>
			<ul><li class="header-label">&nbsp;</li></ul>
			<h1>{{ bookmark.title }}</h1>
			<h2>&nbsp;</h2>
		</header>
		<div class="container-generic bookmarks">
			<section id="grid-body">
				<div id="bookmarks-container" class="generic-body-text">
					{{ bookmark.body | prettifyMaltese | safe }}
					<p id="bookmarks-none" class="continuity">{{ metadata.texts.noBookmarks | prettifyMaltese | safe }}</p>
					<p id="bookmarks-one" class="continuity">bħalissa għandek bookmark wieħed biss:</p>
					<p id="bookmarks-multiple" class="continuity">bħalissa għandek <span id="bookmarks-number-inline"><!-- --></span>:</p>
					<template id="bookmark-item">
						<li class="bookmark-item">
							<a class="promo bookmark-promo">
								<header>
									<ul><li class="header-label">&nbsp;</li></ul>
									<h1></h1>
									<h2></h2>
									<h3></h3>
								</header>
								<div class="body-text">
									<p></p>
								</div>
								<aside>
									<p></p>
								</aside>
								<span class="bookmark"><span class="bookmark-percentage"></span></span>
							</a>
							<button>✕</button>
						</li>
					</template>
					<ul id="bookmark-list" class="promo-list"><!-- --></ul>
				</div>
			</section>
		</div>
	</article>
	<script>
		reportingTitle = "Bookmarks";
	</script>
{% endblock %}
